/*
 * TimeLogic API — Direct Customer Access
 *
 * Public direct-access contract for the TimeLogic gateway.  This public spec excludes `/healthz` and the shared clock asset routes. It keeps `/.well-known/time-api-public-key`, `/v1/time/clock`, and signed JSON response controls because public consumers may need them.  Authentication: - direct access supports `Authorization: Bearer <token>`, `X-API-Key`, and `api_key` query credentials - RapidAPI access uses `X-RapidAPI-Key` and `X-RapidAPI-Host`; the SDKs expose this as a `rapidApi` transport option that accepts only the RapidAPI key  Behavioral notes: - all documented operations are `GET` - only one selector family may be used at a time - current and convert support bulk only through one comma-separated `tz`, `ip`, or `offset` selector - add, diff, calendar, dst, elapsed, timezone, and clock are single-target routes - credentials are extracted in Authorization, X-API-Key, then api_key query order; conflicting values are rejected - the first server is the default direct API host. The second server is the RapidAPI gateway and can be selected or overridden by SDK configuration - `sign` is available on supported JSON routes and is not supported on `/v1/time/clock`
 *
 * The version of the OpenAPI document: 1.0.0
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */


using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.Linq;
using System.Net;
using System.Net.Mime;
using TimeLogic.DirectApi.Client;
using TimeLogic.DirectApi.Model;

namespace TimeLogic.DirectApi.Api
{

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface IUtilityApiSync : IApiAccessor
    {
        #region Synchronous Operations
        /// <summary>
        /// Public signing key set
        /// </summary>
        /// <remarks>
        /// Unauthenticated JWKS endpoint for verifying signed JSON responses.  The public gateway proxies this route to the dedicated &#x60;time-signing&#x60; worker. For compatibility with client tooling, the gateway serves the JWKS body as standard &#x60;application/json&#x60;.  Use this endpoint together with the detached signature headers returned on supported &#x60;sign&#x3D;true&#x60; JSON responses: - &#x60;X-TimeLogic-Key-Id&#x60; - &#x60;X-TimeLogic-Signature&#x60; - &#x60;X-TimeLogic-Signature-Alg&#x60; - &#x60;X-TimeLogic-Signature-Timestamp&#x60; - &#x60;X-TimeLogic-Content-SHA256&#x60; - &#x60;X-TimeLogic-Signature-Input&#x60; &#x60;X-TimeLogic-Signature-Input&#x60; is the exact Base64URL-encoded UTF-8 &#x60;v1&#x60; envelope. It signs the path and query (including &#x60;sign&#x3D;true&#x60;), but deliberately excludes the scheme, host, and &#x60;Content-Type&#x60; so proxy normalization cannot change the signed bytes.  Behavior: - without a query string, the response returns the full retained JWKS set - the active Ed25519 key is listed first - &#x60;kid&#x3D;&lt;key-id&gt;&#x60; returns only the matching retained public key - historical public keys may remain published after rotation so older signed responses can still be verified
        /// </remarks>
        /// <exception cref="TimeLogic.DirectApi.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="kid">Optional signing key identifier filter, for example &#x60;ed25519-2026-07-19&#x60;. When present, the response returns only the matching retained public key. (optional)</param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>JwksResponse</returns>
        JwksResponse GetPublicSigningKey(string? kid = default(string?), int operationIndex = 0);

        /// <summary>
        /// Public signing key set
        /// </summary>
        /// <remarks>
        /// Unauthenticated JWKS endpoint for verifying signed JSON responses.  The public gateway proxies this route to the dedicated &#x60;time-signing&#x60; worker. For compatibility with client tooling, the gateway serves the JWKS body as standard &#x60;application/json&#x60;.  Use this endpoint together with the detached signature headers returned on supported &#x60;sign&#x3D;true&#x60; JSON responses: - &#x60;X-TimeLogic-Key-Id&#x60; - &#x60;X-TimeLogic-Signature&#x60; - &#x60;X-TimeLogic-Signature-Alg&#x60; - &#x60;X-TimeLogic-Signature-Timestamp&#x60; - &#x60;X-TimeLogic-Content-SHA256&#x60; - &#x60;X-TimeLogic-Signature-Input&#x60; &#x60;X-TimeLogic-Signature-Input&#x60; is the exact Base64URL-encoded UTF-8 &#x60;v1&#x60; envelope. It signs the path and query (including &#x60;sign&#x3D;true&#x60;), but deliberately excludes the scheme, host, and &#x60;Content-Type&#x60; so proxy normalization cannot change the signed bytes.  Behavior: - without a query string, the response returns the full retained JWKS set - the active Ed25519 key is listed first - &#x60;kid&#x3D;&lt;key-id&gt;&#x60; returns only the matching retained public key - historical public keys may remain published after rotation so older signed responses can still be verified
        /// </remarks>
        /// <exception cref="TimeLogic.DirectApi.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="kid">Optional signing key identifier filter, for example &#x60;ed25519-2026-07-19&#x60;. When present, the response returns only the matching retained public key. (optional)</param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>ApiResponse of JwksResponse</returns>
        ApiResponse<JwksResponse> GetPublicSigningKeyWithHttpInfo(string? kid = default(string?), int operationIndex = 0);
        #endregion Synchronous Operations
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface IUtilityApiAsync : IApiAccessor
    {
        #region Asynchronous Operations
        /// <summary>
        /// Public signing key set
        /// </summary>
        /// <remarks>
        /// Unauthenticated JWKS endpoint for verifying signed JSON responses.  The public gateway proxies this route to the dedicated &#x60;time-signing&#x60; worker. For compatibility with client tooling, the gateway serves the JWKS body as standard &#x60;application/json&#x60;.  Use this endpoint together with the detached signature headers returned on supported &#x60;sign&#x3D;true&#x60; JSON responses: - &#x60;X-TimeLogic-Key-Id&#x60; - &#x60;X-TimeLogic-Signature&#x60; - &#x60;X-TimeLogic-Signature-Alg&#x60; - &#x60;X-TimeLogic-Signature-Timestamp&#x60; - &#x60;X-TimeLogic-Content-SHA256&#x60; - &#x60;X-TimeLogic-Signature-Input&#x60; &#x60;X-TimeLogic-Signature-Input&#x60; is the exact Base64URL-encoded UTF-8 &#x60;v1&#x60; envelope. It signs the path and query (including &#x60;sign&#x3D;true&#x60;), but deliberately excludes the scheme, host, and &#x60;Content-Type&#x60; so proxy normalization cannot change the signed bytes.  Behavior: - without a query string, the response returns the full retained JWKS set - the active Ed25519 key is listed first - &#x60;kid&#x3D;&lt;key-id&gt;&#x60; returns only the matching retained public key - historical public keys may remain published after rotation so older signed responses can still be verified
        /// </remarks>
        /// <exception cref="TimeLogic.DirectApi.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="kid">Optional signing key identifier filter, for example &#x60;ed25519-2026-07-19&#x60;. When present, the response returns only the matching retained public key. (optional)</param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of JwksResponse</returns>
        System.Threading.Tasks.Task<JwksResponse> GetPublicSigningKeyAsync(string? kid = default(string?), int operationIndex = 0, System.Threading.CancellationToken cancellationToken = default(global::System.Threading.CancellationToken));

        /// <summary>
        /// Public signing key set
        /// </summary>
        /// <remarks>
        /// Unauthenticated JWKS endpoint for verifying signed JSON responses.  The public gateway proxies this route to the dedicated &#x60;time-signing&#x60; worker. For compatibility with client tooling, the gateway serves the JWKS body as standard &#x60;application/json&#x60;.  Use this endpoint together with the detached signature headers returned on supported &#x60;sign&#x3D;true&#x60; JSON responses: - &#x60;X-TimeLogic-Key-Id&#x60; - &#x60;X-TimeLogic-Signature&#x60; - &#x60;X-TimeLogic-Signature-Alg&#x60; - &#x60;X-TimeLogic-Signature-Timestamp&#x60; - &#x60;X-TimeLogic-Content-SHA256&#x60; - &#x60;X-TimeLogic-Signature-Input&#x60; &#x60;X-TimeLogic-Signature-Input&#x60; is the exact Base64URL-encoded UTF-8 &#x60;v1&#x60; envelope. It signs the path and query (including &#x60;sign&#x3D;true&#x60;), but deliberately excludes the scheme, host, and &#x60;Content-Type&#x60; so proxy normalization cannot change the signed bytes.  Behavior: - without a query string, the response returns the full retained JWKS set - the active Ed25519 key is listed first - &#x60;kid&#x3D;&lt;key-id&gt;&#x60; returns only the matching retained public key - historical public keys may remain published after rotation so older signed responses can still be verified
        /// </remarks>
        /// <exception cref="TimeLogic.DirectApi.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="kid">Optional signing key identifier filter, for example &#x60;ed25519-2026-07-19&#x60;. When present, the response returns only the matching retained public key. (optional)</param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (JwksResponse)</returns>
        System.Threading.Tasks.Task<ApiResponse<JwksResponse>> GetPublicSigningKeyWithHttpInfoAsync(string? kid = default(string?), int operationIndex = 0, System.Threading.CancellationToken cancellationToken = default(global::System.Threading.CancellationToken));
        #endregion Asynchronous Operations
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface IUtilityApi : IUtilityApiSync, IUtilityApiAsync
    {

    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public partial class UtilityApi : IUtilityApi
    {
        private TimeLogic.DirectApi.Client.ExceptionFactory _exceptionFactory = (name, response) => null;

        /// <summary>
        /// Initializes a new instance of the <see cref="UtilityApi"/> class.
        /// </summary>
        /// <returns></returns>
        public UtilityApi() : this((string)null)
        {
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="UtilityApi"/> class.
        /// </summary>
        /// <returns></returns>
        public UtilityApi(string basePath)
        {
            this.Configuration = TimeLogic.DirectApi.Client.Configuration.MergeConfigurations(
                TimeLogic.DirectApi.Client.GlobalConfiguration.Instance,
                new TimeLogic.DirectApi.Client.Configuration { BasePath = basePath }
            );
            this.Client = new TimeLogic.DirectApi.Client.ApiClient(this.Configuration.BasePath);
            this.AsynchronousClient = new TimeLogic.DirectApi.Client.ApiClient(this.Configuration.BasePath);
            this.ExceptionFactory = TimeLogic.DirectApi.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="UtilityApi"/> class
        /// using Configuration object
        /// </summary>
        /// <param name="configuration">An instance of Configuration</param>
        /// <returns></returns>
        public UtilityApi(TimeLogic.DirectApi.Client.Configuration configuration)
        {
            if (configuration == null) throw new ArgumentNullException("configuration");

            this.Configuration = TimeLogic.DirectApi.Client.Configuration.MergeConfigurations(
                TimeLogic.DirectApi.Client.GlobalConfiguration.Instance,
                configuration
            );
            this.Client = new TimeLogic.DirectApi.Client.ApiClient(this.Configuration.BasePath);
            this.AsynchronousClient = new TimeLogic.DirectApi.Client.ApiClient(this.Configuration.BasePath);
            ExceptionFactory = TimeLogic.DirectApi.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="UtilityApi"/> class
        /// using a Configuration object and client instance.
        /// </summary>
        /// <param name="client">The client interface for synchronous API access.</param>
        /// <param name="asyncClient">The client interface for asynchronous API access.</param>
        /// <param name="configuration">The configuration object.</param>
        public UtilityApi(TimeLogic.DirectApi.Client.ISynchronousClient client, TimeLogic.DirectApi.Client.IAsynchronousClient asyncClient, TimeLogic.DirectApi.Client.IReadableConfiguration configuration)
        {
            if (client == null) throw new ArgumentNullException("client");
            if (asyncClient == null) throw new ArgumentNullException("asyncClient");
            if (configuration == null) throw new ArgumentNullException("configuration");

            this.Client = client;
            this.AsynchronousClient = asyncClient;
            this.Configuration = configuration;
            this.ExceptionFactory = TimeLogic.DirectApi.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// The client for accessing this underlying API asynchronously.
        /// </summary>
        public TimeLogic.DirectApi.Client.IAsynchronousClient AsynchronousClient { get; set; }

        /// <summary>
        /// The client for accessing this underlying API synchronously.
        /// </summary>
        public TimeLogic.DirectApi.Client.ISynchronousClient Client { get; set; }

        /// <summary>
        /// Gets the base path of the API client.
        /// </summary>
        /// <value>The base path</value>
        public string GetBasePath()
        {
            return this.Configuration.BasePath;
        }

        /// <summary>
        /// Gets or sets the configuration object
        /// </summary>
        /// <value>An instance of the Configuration</value>
        public TimeLogic.DirectApi.Client.IReadableConfiguration Configuration { get; set; }

        /// <summary>
        /// Provides a factory method hook for the creation of exceptions.
        /// </summary>
        public TimeLogic.DirectApi.Client.ExceptionFactory ExceptionFactory
        {
            get
            {
                if (_exceptionFactory != null && _exceptionFactory.GetInvocationList().Length > 1)
                {
                    throw new InvalidOperationException("Multicast delegate for ExceptionFactory is unsupported.");
                }
                return _exceptionFactory;
            }
            set { _exceptionFactory = value; }
        }

        /// <summary>
        /// Public signing key set Unauthenticated JWKS endpoint for verifying signed JSON responses.  The public gateway proxies this route to the dedicated &#x60;time-signing&#x60; worker. For compatibility with client tooling, the gateway serves the JWKS body as standard &#x60;application/json&#x60;.  Use this endpoint together with the detached signature headers returned on supported &#x60;sign&#x3D;true&#x60; JSON responses: - &#x60;X-TimeLogic-Key-Id&#x60; - &#x60;X-TimeLogic-Signature&#x60; - &#x60;X-TimeLogic-Signature-Alg&#x60; - &#x60;X-TimeLogic-Signature-Timestamp&#x60; - &#x60;X-TimeLogic-Content-SHA256&#x60; - &#x60;X-TimeLogic-Signature-Input&#x60; &#x60;X-TimeLogic-Signature-Input&#x60; is the exact Base64URL-encoded UTF-8 &#x60;v1&#x60; envelope. It signs the path and query (including &#x60;sign&#x3D;true&#x60;), but deliberately excludes the scheme, host, and &#x60;Content-Type&#x60; so proxy normalization cannot change the signed bytes.  Behavior: - without a query string, the response returns the full retained JWKS set - the active Ed25519 key is listed first - &#x60;kid&#x3D;&lt;key-id&gt;&#x60; returns only the matching retained public key - historical public keys may remain published after rotation so older signed responses can still be verified
        /// </summary>
        /// <exception cref="TimeLogic.DirectApi.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="kid">Optional signing key identifier filter, for example &#x60;ed25519-2026-07-19&#x60;. When present, the response returns only the matching retained public key. (optional)</param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>JwksResponse</returns>
        public JwksResponse GetPublicSigningKey(string? kid = default(string?), int operationIndex = 0)
        {
            TimeLogic.DirectApi.Client.ApiResponse<JwksResponse> localVarResponse = GetPublicSigningKeyWithHttpInfo(kid);
            return localVarResponse.Data;
        }

        /// <summary>
        /// Public signing key set Unauthenticated JWKS endpoint for verifying signed JSON responses.  The public gateway proxies this route to the dedicated &#x60;time-signing&#x60; worker. For compatibility with client tooling, the gateway serves the JWKS body as standard &#x60;application/json&#x60;.  Use this endpoint together with the detached signature headers returned on supported &#x60;sign&#x3D;true&#x60; JSON responses: - &#x60;X-TimeLogic-Key-Id&#x60; - &#x60;X-TimeLogic-Signature&#x60; - &#x60;X-TimeLogic-Signature-Alg&#x60; - &#x60;X-TimeLogic-Signature-Timestamp&#x60; - &#x60;X-TimeLogic-Content-SHA256&#x60; - &#x60;X-TimeLogic-Signature-Input&#x60; &#x60;X-TimeLogic-Signature-Input&#x60; is the exact Base64URL-encoded UTF-8 &#x60;v1&#x60; envelope. It signs the path and query (including &#x60;sign&#x3D;true&#x60;), but deliberately excludes the scheme, host, and &#x60;Content-Type&#x60; so proxy normalization cannot change the signed bytes.  Behavior: - without a query string, the response returns the full retained JWKS set - the active Ed25519 key is listed first - &#x60;kid&#x3D;&lt;key-id&gt;&#x60; returns only the matching retained public key - historical public keys may remain published after rotation so older signed responses can still be verified
        /// </summary>
        /// <exception cref="TimeLogic.DirectApi.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="kid">Optional signing key identifier filter, for example &#x60;ed25519-2026-07-19&#x60;. When present, the response returns only the matching retained public key. (optional)</param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>ApiResponse of JwksResponse</returns>
        public TimeLogic.DirectApi.Client.ApiResponse<JwksResponse> GetPublicSigningKeyWithHttpInfo(string? kid = default(string?), int operationIndex = 0)
        {
            TimeLogic.DirectApi.Client.RequestOptions localVarRequestOptions = new TimeLogic.DirectApi.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json"
            };

            var localVarContentType = TimeLogic.DirectApi.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null)
            {
                localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);
            }

            var localVarAccept = TimeLogic.DirectApi.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null)
            {
                localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);
            }

            if (kid != null)
            {
                localVarRequestOptions.QueryParameters.Add(TimeLogic.DirectApi.Client.ClientUtils.ParameterToMultiMap("", "kid", kid));
            }

            localVarRequestOptions.Operation = "UtilityApi.GetPublicSigningKey";
            localVarRequestOptions.OperationIndex = operationIndex;


            // make the HTTP request
            var localVarResponse = this.Client.Get<JwksResponse>("/.well-known/time-api-public-key", localVarRequestOptions, this.Configuration);
            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("GetPublicSigningKey", localVarResponse);
                if (_exception != null)
                {
                    throw _exception;
                }
            }

            return localVarResponse;
        }

        /// <summary>
        /// Public signing key set Unauthenticated JWKS endpoint for verifying signed JSON responses.  The public gateway proxies this route to the dedicated &#x60;time-signing&#x60; worker. For compatibility with client tooling, the gateway serves the JWKS body as standard &#x60;application/json&#x60;.  Use this endpoint together with the detached signature headers returned on supported &#x60;sign&#x3D;true&#x60; JSON responses: - &#x60;X-TimeLogic-Key-Id&#x60; - &#x60;X-TimeLogic-Signature&#x60; - &#x60;X-TimeLogic-Signature-Alg&#x60; - &#x60;X-TimeLogic-Signature-Timestamp&#x60; - &#x60;X-TimeLogic-Content-SHA256&#x60; - &#x60;X-TimeLogic-Signature-Input&#x60; &#x60;X-TimeLogic-Signature-Input&#x60; is the exact Base64URL-encoded UTF-8 &#x60;v1&#x60; envelope. It signs the path and query (including &#x60;sign&#x3D;true&#x60;), but deliberately excludes the scheme, host, and &#x60;Content-Type&#x60; so proxy normalization cannot change the signed bytes.  Behavior: - without a query string, the response returns the full retained JWKS set - the active Ed25519 key is listed first - &#x60;kid&#x3D;&lt;key-id&gt;&#x60; returns only the matching retained public key - historical public keys may remain published after rotation so older signed responses can still be verified
        /// </summary>
        /// <exception cref="TimeLogic.DirectApi.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="kid">Optional signing key identifier filter, for example &#x60;ed25519-2026-07-19&#x60;. When present, the response returns only the matching retained public key. (optional)</param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of JwksResponse</returns>
        public async System.Threading.Tasks.Task<JwksResponse> GetPublicSigningKeyAsync(string? kid = default(string?), int operationIndex = 0, System.Threading.CancellationToken cancellationToken = default(global::System.Threading.CancellationToken))
        {
            TimeLogic.DirectApi.Client.ApiResponse<JwksResponse> localVarResponse = await GetPublicSigningKeyWithHttpInfoAsync(kid, operationIndex, cancellationToken).ConfigureAwait(false);
            return localVarResponse.Data;
        }

        /// <summary>
        /// Public signing key set Unauthenticated JWKS endpoint for verifying signed JSON responses.  The public gateway proxies this route to the dedicated &#x60;time-signing&#x60; worker. For compatibility with client tooling, the gateway serves the JWKS body as standard &#x60;application/json&#x60;.  Use this endpoint together with the detached signature headers returned on supported &#x60;sign&#x3D;true&#x60; JSON responses: - &#x60;X-TimeLogic-Key-Id&#x60; - &#x60;X-TimeLogic-Signature&#x60; - &#x60;X-TimeLogic-Signature-Alg&#x60; - &#x60;X-TimeLogic-Signature-Timestamp&#x60; - &#x60;X-TimeLogic-Content-SHA256&#x60; - &#x60;X-TimeLogic-Signature-Input&#x60; &#x60;X-TimeLogic-Signature-Input&#x60; is the exact Base64URL-encoded UTF-8 &#x60;v1&#x60; envelope. It signs the path and query (including &#x60;sign&#x3D;true&#x60;), but deliberately excludes the scheme, host, and &#x60;Content-Type&#x60; so proxy normalization cannot change the signed bytes.  Behavior: - without a query string, the response returns the full retained JWKS set - the active Ed25519 key is listed first - &#x60;kid&#x3D;&lt;key-id&gt;&#x60; returns only the matching retained public key - historical public keys may remain published after rotation so older signed responses can still be verified
        /// </summary>
        /// <exception cref="TimeLogic.DirectApi.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="kid">Optional signing key identifier filter, for example &#x60;ed25519-2026-07-19&#x60;. When present, the response returns only the matching retained public key. (optional)</param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (JwksResponse)</returns>
        public async System.Threading.Tasks.Task<TimeLogic.DirectApi.Client.ApiResponse<JwksResponse>> GetPublicSigningKeyWithHttpInfoAsync(string? kid = default(string?), int operationIndex = 0, System.Threading.CancellationToken cancellationToken = default(global::System.Threading.CancellationToken))
        {

            TimeLogic.DirectApi.Client.RequestOptions localVarRequestOptions = new TimeLogic.DirectApi.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json"
            };

            var localVarContentType = TimeLogic.DirectApi.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null)
            {
                localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);
            }

            var localVarAccept = TimeLogic.DirectApi.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null)
            {
                localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);
            }

            if (kid != null)
            {
                localVarRequestOptions.QueryParameters.Add(TimeLogic.DirectApi.Client.ClientUtils.ParameterToMultiMap("", "kid", kid));
            }

            localVarRequestOptions.Operation = "UtilityApi.GetPublicSigningKey";
            localVarRequestOptions.OperationIndex = operationIndex;


            // make the HTTP request
            var localVarResponse = await this.AsynchronousClient.GetAsync<JwksResponse>("/.well-known/time-api-public-key", localVarRequestOptions, this.Configuration, cancellationToken).ConfigureAwait(false);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("GetPublicSigningKey", localVarResponse);
                if (_exception != null)
                {
                    throw _exception;
                }
            }

            return localVarResponse;
        }

    }
}
