node_modules/
packages/**/package-lock.json
!packages/typescript/package-lock.json
packages/**/__rapid_transport_test__/
packages/**/composer.lock
packages/**/vendor/
**/.gradle/
**/build/
dist/
coverage/
.venv/
__pycache__/
*.pyc
target/
bin/
obj/
.openapi-generator/
.idea/
.vscode/
*.log
.env
.env.*
!.env.example
