=begin
#TimeLogic API | A World Time API

#Public direct-access contract for the TimeLogic gateway.  This public spec excludes `/healthz` and the shared clock asset routes. It keeps `/.well-known/time-api-public-key`, `/v1/time/clock`, and signed JSON response controls because public consumers may need them.  Authentication: - direct access supports `Authorization: Bearer <token>`, `X-API-Key`, and `api_key` query credentials - RapidAPI access uses `X-RapidAPI-Key` and `X-RapidAPI-Host`; the SDKs expose this as a `rapidApi` transport option that accepts only the RapidAPI key  Behavioral notes: - all documented operations are `GET` - only one selector family may be used at a time - current and convert support bulk only through one comma-separated `tz`, `ip`, or `offset` selector - add, diff, calendar, dst, elapsed, timezone, and clock are single-target routes - credentials are extracted in Authorization, X-API-Key, then api_key query order; conflicting values are rejected - the first server is the default direct API host. The second server is the RapidAPI gateway and can be selected or overridden by SDK configuration - `sign` is available on supported JSON routes and is not supported on `/v1/time/clock`

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module TimeLogic::DirectApi
  class UtilityApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Public signing key set
    # Unauthenticated JWKS endpoint for verifying signed JSON responses.  The public gateway proxies this route to the dedicated `time-signing` worker. For compatibility with client tooling, the gateway serves the JWKS body as standard `application/json`.  Use this endpoint together with the detached signature headers returned on supported `sign=true` JSON responses: - `X-TimeLogic-Key-Id` - `X-TimeLogic-Signature` - `X-TimeLogic-Signature-Alg` - `X-TimeLogic-Signature-Timestamp` - `X-TimeLogic-Content-SHA256` - `X-TimeLogic-Signature-Input` `X-TimeLogic-Signature-Input` is the exact Base64URL-encoded UTF-8 `v1` envelope. It signs the path and query (including `sign=true`), but deliberately excludes the scheme, host, and `Content-Type` so proxy normalization cannot change the signed bytes.  Behavior: - without a query string, the response returns the full retained JWKS set - the active Ed25519 key is listed first - `kid=<key-id>` returns only the matching retained public key - historical public keys may remain published after rotation so older signed responses can still be verified
    # @param [Hash] opts the optional parameters
    # @option opts [String] :kid Optional signing key identifier filter, for example &#x60;ed25519-2026-07-19&#x60;. When present, the response returns only the matching retained public key.
    # @return [JwksResponse]
    def get_public_signing_key(opts = {})
      data, _status_code, _headers = get_public_signing_key_with_http_info(opts)
      data
    end

    # Public signing key set
    # Unauthenticated JWKS endpoint for verifying signed JSON responses.  The public gateway proxies this route to the dedicated &#x60;time-signing&#x60; worker. For compatibility with client tooling, the gateway serves the JWKS body as standard &#x60;application/json&#x60;.  Use this endpoint together with the detached signature headers returned on supported &#x60;sign&#x3D;true&#x60; JSON responses: - &#x60;X-TimeLogic-Key-Id&#x60; - &#x60;X-TimeLogic-Signature&#x60; - &#x60;X-TimeLogic-Signature-Alg&#x60; - &#x60;X-TimeLogic-Signature-Timestamp&#x60; - &#x60;X-TimeLogic-Content-SHA256&#x60; - &#x60;X-TimeLogic-Signature-Input&#x60; &#x60;X-TimeLogic-Signature-Input&#x60; is the exact Base64URL-encoded UTF-8 &#x60;v1&#x60; envelope. It signs the path and query (including &#x60;sign&#x3D;true&#x60;), but deliberately excludes the scheme, host, and &#x60;Content-Type&#x60; so proxy normalization cannot change the signed bytes.  Behavior: - without a query string, the response returns the full retained JWKS set - the active Ed25519 key is listed first - &#x60;kid&#x3D;&lt;key-id&gt;&#x60; returns only the matching retained public key - historical public keys may remain published after rotation so older signed responses can still be verified
    # @param [Hash] opts the optional parameters
    # @option opts [String] :kid Optional signing key identifier filter, for example &#x60;ed25519-2026-07-19&#x60;. When present, the response returns only the matching retained public key.
    # @return [Array<(JwksResponse, Integer, Hash)>] JwksResponse data, response status code and response headers
    def get_public_signing_key_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UtilityApi.get_public_signing_key ...'
      end
      # resource path
      local_var_path = '/.well-known/time-api-public-key'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'kid'] = opts[:'kid'] if !opts[:'kid'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JwksResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UtilityApi.get_public_signing_key",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UtilityApi#get_public_signing_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
