/*
 * TimeLogic API | A World Time API
 *
 * Public direct-access contract for the TimeLogic gateway.  This public spec excludes `/healthz` and the shared clock asset routes. It keeps `/.well-known/time-api-public-key`, `/v1/time/clock`, and signed JSON response controls because public consumers may need them.  Authentication: - direct access supports `Authorization: Bearer <token>`, `X-API-Key`, and `api_key` query credentials - RapidAPI access uses `X-RapidAPI-Key` and `X-RapidAPI-Host`; the SDKs expose this as a `rapidApi` transport option that accepts only the RapidAPI key  Behavioral notes: - all documented operations are `GET` - only one selector family may be used at a time - current and convert support bulk only through one comma-separated `tz`, `ip`, or `offset` selector - add, diff, calendar, dst, elapsed, timezone, and clock are single-target routes - credentials are extracted in Authorization, X-API-Key, then api_key query order; conflicting values are rejected - the first server is the default direct API host. The second server is the RapidAPI gateway and can be selected or overridden by SDK configuration - `sign` is available on supported JSON routes and is not supported on `/v1/time/clock`
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 * Generated by: https://openapi-generator.tech
 */



#[derive(Debug, Clone)]
pub struct Configuration {
    pub base_path: String,
    pub user_agent: Option<String>,
    pub client: reqwest::Client,
    pub basic_auth: Option<BasicAuth>,
    pub oauth_access_token: Option<String>,
    pub bearer_access_token: Option<String>,
    pub api_key: Option<ApiKey>,
    pub rapid_api: bool,
    pub rapid_api_host: String,
}

pub type BasicAuth = (String, Option<String>);

#[derive(Debug, Clone)]
pub struct ApiKey {
    pub prefix: Option<String>,
    pub key: String,
}


impl Configuration {
    pub fn new() -> Configuration {
        Configuration::default()
    }

    pub fn with_api_key(api_key: impl Into<String>, rapid_api: bool, base_path: Option<String>, rapid_api_host: Option<String>) -> Configuration {
        let key = api_key.into();
        let host = rapid_api_host.unwrap_or_else(|| "timelogic-api-world-time-timezones-time-calculations.p.rapidapi.com".to_owned());
        Configuration {
            base_path: base_path.unwrap_or_else(|| if rapid_api { format!("https://{}", host) } else { "https://api.timelogicapi.com".to_owned() }),
            api_key: if rapid_api { Some(ApiKey { prefix: None, key: key.clone() }) } else { None },
            bearer_access_token: if rapid_api { None } else { Some(key) },
            rapid_api,
            rapid_api_host: host,
            ..Configuration::default()
        }
    }
}

impl Default for Configuration {
    fn default() -> Self {
        Configuration {
            base_path: "https://api.timelogicapi.com".to_owned(),
            user_agent: Some("OpenAPI-Generator/1.0.0/rust".to_owned()),
            client: reqwest::Client::new(),
            basic_auth: None,
            oauth_access_token: None,
            bearer_access_token: None,
            api_key: None,
            rapid_api: false,
            rapid_api_host: "timelogic-api-world-time-timezones-time-calculations.p.rapidapi.com".to_owned(),
        }
    }
}
