/*
 * TimeLogic API | A World Time API
 *
 * Public direct-access contract for the TimeLogic gateway.  This public spec excludes `/healthz` and the shared clock asset routes. It keeps `/.well-known/time-api-public-key`, `/v1/time/clock`, and signed JSON response controls because public consumers may need them.  Authentication: - direct access supports `Authorization: Bearer <token>`, `X-API-Key`, and `api_key` query credentials - RapidAPI access uses `X-RapidAPI-Key` and `X-RapidAPI-Host`; the SDKs expose this as a `rapidApi` transport option that accepts only the RapidAPI key  Behavioral notes: - all documented operations are `GET` - only one selector family may be used at a time - current and convert support bulk only through one comma-separated `tz`, `ip`, or `offset` selector - add, diff, calendar, dst, elapsed, timezone, and clock are single-target routes - credentials are extracted in Authorization, X-API-Key, then api_key query order; conflicting values are rejected - the first server is the default direct API host. The second server is the RapidAPI gateway and can be selected or overridden by SDK configuration - `sign` is available on supported JSON routes and is not supported on `/v1/time/clock`
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 * Generated by: https://openapi-generator.tech
 */


use reqwest;
use serde::{Deserialize, Serialize};
use crate::{apis::ResponseContent, models};
use super::{Error, configuration};


/// struct for typed errors of method [`add_time`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum AddTimeError {
    Status400(models::ErrorResponse),
    Status401(models::ErrorResponse),
    Status403(models::ErrorResponse),
    Status429(models::ErrorResponse),
    Status405(models::ErrorResponse),
    Status500(models::ErrorResponse),
    Status501(models::ErrorResponse),
    Status502(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`convert_time`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ConvertTimeError {
    Status400(models::ErrorResponse),
    Status401(models::ErrorResponse),
    Status403(models::ErrorResponse),
    Status429(models::ErrorResponse),
    Status405(models::ErrorResponse),
    Status500(models::ErrorResponse),
    Status501(models::ErrorResponse),
    Status502(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`diff_time`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum DiffTimeError {
    Status400(models::ErrorResponse),
    Status401(models::ErrorResponse),
    Status403(models::ErrorResponse),
    Status429(models::ErrorResponse),
    Status405(models::ErrorResponse),
    Status500(models::ErrorResponse),
    Status501(models::ErrorResponse),
    Status502(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`get_calendar`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum GetCalendarError {
    Status400(models::ErrorResponse),
    Status401(models::ErrorResponse),
    Status403(models::ErrorResponse),
    Status429(models::ErrorResponse),
    Status405(models::ErrorResponse),
    Status500(models::ErrorResponse),
    Status501(models::ErrorResponse),
    Status502(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`get_clock`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum GetClockError {
    Status400(models::ErrorResponse),
    Status401(models::ErrorResponse),
    Status403(models::ErrorResponse),
    Status429(models::ErrorResponse),
    Status405(models::ErrorResponse),
    Status500(models::ErrorResponse),
    Status501(models::ErrorResponse),
    Status502(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`get_current_time`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum GetCurrentTimeError {
    Status400(models::ErrorResponse),
    Status401(models::ErrorResponse),
    Status403(models::ErrorResponse),
    Status429(models::ErrorResponse),
    Status405(models::ErrorResponse),
    Status500(models::ErrorResponse),
    Status501(models::ErrorResponse),
    Status502(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`get_dst`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum GetDstError {
    Status400(models::ErrorResponse),
    Status401(models::ErrorResponse),
    Status403(models::ErrorResponse),
    Status429(models::ErrorResponse),
    Status405(models::ErrorResponse),
    Status500(models::ErrorResponse),
    Status501(models::ErrorResponse),
    Status502(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`get_elapsed`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum GetElapsedError {
    Status400(models::ErrorResponse),
    Status401(models::ErrorResponse),
    Status403(models::ErrorResponse),
    Status429(models::ErrorResponse),
    Status405(models::ErrorResponse),
    Status500(models::ErrorResponse),
    Status501(models::ErrorResponse),
    Status502(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`get_timezone`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum GetTimezoneError {
    Status400(models::ErrorResponse),
    Status401(models::ErrorResponse),
    Status403(models::ErrorResponse),
    Status429(models::ErrorResponse),
    Status405(models::ErrorResponse),
    Status500(models::ErrorResponse),
    Status501(models::ErrorResponse),
    Status502(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}


/// Adds `seconds`, `minutes`, `hours`, and `days` to an optional base timestamp.  Input timestamp forms: - `unix=1711300000` - `unix_ms=1711300000000` - `iso=2026-04-16T09:00:00Z` - `iso=2026-04-16T09:00:00&source_tz=America/New_York` - `iso=2026-04-16T09:00:00&source_ip=8.8.8.8` - `iso=2026-04-16T09:00:00&source_lat=40.7128&source_lon=-74.0060` - `iso=2026-04-16T09:00:00&source_offset=-05:00` - if no input timestamp is provided, the base timestamp defaults to the request time  Modifiers: - `seconds=30` - `minutes=15` - `hours=2` - `days=7`  Target selector forms: - `tz=America/New_York` - `ip=8.8.8.8` - `lat=40.7128&lon=-74.0060` - `offset=-04:00` - `auto_tz=true` - `utc=true`  Incompatible combinations: - at most one input timestamp form - at most one target selector family - use at most one of `source_tz`, `source_ip`, `source_lat`/`source_lon`, or `source_offset` - local-ISO companion selectors are valid only with `iso=...` that has no explicit offset - bulk is not supported on this route  Examples: - `/v1/time/add?iso=2026-04-16T09:00:00&source_tz=America/New_York&days=1&tz=Europe/London` - `/v1/time/add?minutes=30&utc=true` 
pub async fn add_time(configuration: &configuration::Configuration, unix: Option<i64>, unix_ms: Option<i64>, iso: Option<&str>, source_tz: Option<&str>, source_ip: Option<&str>, source_lat: Option<f64>, source_lon: Option<f64>, source_offset: Option<&str>, seconds: Option<i32>, minutes: Option<i32>, hours: Option<i32>, days: Option<i32>, tz: Option<&str>, ip: Option<&str>, lat: Option<f64>, lon: Option<f64>, offset: Option<&str>, auto_tz: Option<bool>, utc: Option<bool>, format: Option<&str>, sign: Option<bool>) -> Result<models::TimePayload, Error<AddTimeError>> {
    let local_var_configuration = configuration;

    let local_var_client = &local_var_configuration.client;

    let local_var_uri_str = format!("{}/v1/time/add", local_var_configuration.base_path);
    let mut local_var_req_builder = local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

    if let Some(ref local_var_str) = unix {
        local_var_req_builder = local_var_req_builder.query(&[("unix", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = unix_ms {
        local_var_req_builder = local_var_req_builder.query(&[("unix_ms", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = iso {
        local_var_req_builder = local_var_req_builder.query(&[("iso", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = source_tz {
        local_var_req_builder = local_var_req_builder.query(&[("source_tz", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = source_ip {
        local_var_req_builder = local_var_req_builder.query(&[("source_ip", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = source_lat {
        local_var_req_builder = local_var_req_builder.query(&[("source_lat", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = source_lon {
        local_var_req_builder = local_var_req_builder.query(&[("source_lon", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = source_offset {
        local_var_req_builder = local_var_req_builder.query(&[("source_offset", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = seconds {
        local_var_req_builder = local_var_req_builder.query(&[("seconds", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = minutes {
        local_var_req_builder = local_var_req_builder.query(&[("minutes", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = hours {
        local_var_req_builder = local_var_req_builder.query(&[("hours", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = days {
        local_var_req_builder = local_var_req_builder.query(&[("days", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = tz {
        local_var_req_builder = local_var_req_builder.query(&[("tz", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = ip {
        local_var_req_builder = local_var_req_builder.query(&[("ip", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = lat {
        local_var_req_builder = local_var_req_builder.query(&[("lat", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = lon {
        local_var_req_builder = local_var_req_builder.query(&[("lon", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = offset {
        local_var_req_builder = local_var_req_builder.query(&[("offset", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = auto_tz {
        local_var_req_builder = local_var_req_builder.query(&[("auto_tz", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = utc {
        local_var_req_builder = local_var_req_builder.query(&[("utc", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = format {
        local_var_req_builder = local_var_req_builder.query(&[("format", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = sign {
        local_var_req_builder = local_var_req_builder.query(&[("sign", &local_var_str.to_string())]);
    }
    if !local_var_configuration.rapid_api {
    if let Some(ref local_var_apikey) = local_var_configuration.api_key {
        let local_var_key = local_var_apikey.key.clone();
        let local_var_value = match local_var_apikey.prefix {
            Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
            None => local_var_key,
        };
        local_var_req_builder = local_var_req_builder.query(&[("api_key", local_var_value)]);
    }
    }
    if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
        local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
    }
    if !local_var_configuration.rapid_api {
    if let Some(ref local_var_apikey) = local_var_configuration.api_key {
        let local_var_key = local_var_apikey.key.clone();
        let local_var_value = match local_var_apikey.prefix {
            Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
            None => local_var_key,
        };
        local_var_req_builder = local_var_req_builder.header("X-API-Key", local_var_value);
    };
    }
    if !local_var_configuration.rapid_api {
    if let Some(ref local_var_token) = local_var_configuration.bearer_access_token {
        local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
    };
    }
    if local_var_configuration.rapid_api {
    if let Some(ref local_var_apikey) = local_var_configuration.api_key {
        let local_var_key = local_var_apikey.key.clone();
        let local_var_value = match local_var_apikey.prefix {
            Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
            None => local_var_key,
        };
        local_var_req_builder = local_var_req_builder.header("X-RapidAPI-Key", local_var_value);
    };
    }
    if local_var_configuration.rapid_api {
        local_var_req_builder = local_var_req_builder.header("X-RapidAPI-Host", local_var_configuration.rapid_api_host.clone());
    };

    let local_var_req = local_var_req_builder.build()?;
    let local_var_resp = local_var_client.execute(local_var_req).await?;

    let local_var_status = local_var_resp.status();
    let local_var_content = local_var_resp.text().await?;

    if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
        serde_json::from_str(&local_var_content).map_err(Error::from)
    } else {
        let local_var_entity: Option<AddTimeError> = serde_json::from_str(&local_var_content).ok();
        let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
        Err(Error::ResponseError(local_var_error))
    }
}

/// Converts one required input timestamp into a single target or a bulk array.  Input timestamp forms: - `unix=1711300000` - `unix_ms=1711300000000` - `iso=2026-04-16T09:00:00Z` - `iso=2026-04-16T09:00:00&source_tz=America/New_York` - `iso=2026-04-16T09:00:00&source_ip=8.8.8.8` - `iso=2026-04-16T09:00:00&source_lat=40.7128&source_lon=-74.0060` - `iso=2026-04-16T09:00:00&source_offset=-05:00`  Target selector forms: - `tz=America/New_York` - `ip=8.8.8.8` - `lat=40.7128&lon=-74.0060` - `offset=-04:00` - `auto_tz=true` - `utc=true`  Incompatible combinations: - exactly one input timestamp form - exactly one target selector family - use at most one of `source_tz`, `source_ip`, `source_lat`/`source_lon`, or `source_offset` - local-ISO companion selectors are valid only with `iso=...` that has no explicit offset - bulk is allowed only through one comma-separated `tz`, `ip`, or `offset` selector  Examples: - Single target: `/v1/time/convert?iso=2026-04-16T09:00:00&source_tz=America/New_York&tz=Europe/London` - Bulk target set: `/v1/time/convert?unix=1711300000&offset=-04:00,+00:00,+09:00` 
pub async fn convert_time(configuration: &configuration::Configuration, unix: Option<i64>, unix_ms: Option<i64>, iso: Option<&str>, source_tz: Option<&str>, source_ip: Option<&str>, source_lat: Option<f64>, source_lon: Option<f64>, source_offset: Option<&str>, tz: Option<&str>, ip: Option<&str>, lat: Option<f64>, lon: Option<f64>, offset: Option<&str>, auto_tz: Option<bool>, utc: Option<bool>, format: Option<&str>, sign: Option<bool>) -> Result<models::GetCurrentTime200Response, Error<ConvertTimeError>> {
    let local_var_configuration = configuration;

    let local_var_client = &local_var_configuration.client;

    let local_var_uri_str = format!("{}/v1/time/convert", local_var_configuration.base_path);
    let mut local_var_req_builder = local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

    if let Some(ref local_var_str) = unix {
        local_var_req_builder = local_var_req_builder.query(&[("unix", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = unix_ms {
        local_var_req_builder = local_var_req_builder.query(&[("unix_ms", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = iso {
        local_var_req_builder = local_var_req_builder.query(&[("iso", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = source_tz {
        local_var_req_builder = local_var_req_builder.query(&[("source_tz", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = source_ip {
        local_var_req_builder = local_var_req_builder.query(&[("source_ip", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = source_lat {
        local_var_req_builder = local_var_req_builder.query(&[("source_lat", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = source_lon {
        local_var_req_builder = local_var_req_builder.query(&[("source_lon", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = source_offset {
        local_var_req_builder = local_var_req_builder.query(&[("source_offset", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = tz {
        local_var_req_builder = local_var_req_builder.query(&[("tz", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = ip {
        local_var_req_builder = local_var_req_builder.query(&[("ip", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = lat {
        local_var_req_builder = local_var_req_builder.query(&[("lat", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = lon {
        local_var_req_builder = local_var_req_builder.query(&[("lon", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = offset {
        local_var_req_builder = local_var_req_builder.query(&[("offset", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = auto_tz {
        local_var_req_builder = local_var_req_builder.query(&[("auto_tz", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = utc {
        local_var_req_builder = local_var_req_builder.query(&[("utc", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = format {
        local_var_req_builder = local_var_req_builder.query(&[("format", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = sign {
        local_var_req_builder = local_var_req_builder.query(&[("sign", &local_var_str.to_string())]);
    }
    if !local_var_configuration.rapid_api {
    if let Some(ref local_var_apikey) = local_var_configuration.api_key {
        let local_var_key = local_var_apikey.key.clone();
        let local_var_value = match local_var_apikey.prefix {
            Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
            None => local_var_key,
        };
        local_var_req_builder = local_var_req_builder.query(&[("api_key", local_var_value)]);
    }
    }
    if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
        local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
    }
    if !local_var_configuration.rapid_api {
    if let Some(ref local_var_apikey) = local_var_configuration.api_key {
        let local_var_key = local_var_apikey.key.clone();
        let local_var_value = match local_var_apikey.prefix {
            Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
            None => local_var_key,
        };
        local_var_req_builder = local_var_req_builder.header("X-API-Key", local_var_value);
    };
    }
    if !local_var_configuration.rapid_api {
    if let Some(ref local_var_token) = local_var_configuration.bearer_access_token {
        local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
    };
    }
    if local_var_configuration.rapid_api {
    if let Some(ref local_var_apikey) = local_var_configuration.api_key {
        let local_var_key = local_var_apikey.key.clone();
        let local_var_value = match local_var_apikey.prefix {
            Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
            None => local_var_key,
        };
        local_var_req_builder = local_var_req_builder.header("X-RapidAPI-Key", local_var_value);
    };
    }
    if local_var_configuration.rapid_api {
        local_var_req_builder = local_var_req_builder.header("X-RapidAPI-Host", local_var_configuration.rapid_api_host.clone());
    };

    let local_var_req = local_var_req_builder.build()?;
    let local_var_resp = local_var_client.execute(local_var_req).await?;

    let local_var_status = local_var_resp.status();
    let local_var_content = local_var_resp.text().await?;

    if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
        serde_json::from_str(&local_var_content).map_err(Error::from)
    } else {
        let local_var_entity: Option<ConvertTimeError> = serde_json::from_str(&local_var_content).ok();
        let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
        Err(Error::ResponseError(local_var_error))
    }
}

/// Computes the duration between `from` and `to`.  Required query fields: `from` and `to` only. Do not send every optional companion field. For each side, choose one supported specifier form. A `from_*` or `to_*` companion is allowed only when that side uses `iso=...` with no explicit offset; use at most one companion selector, except that coordinate input requires its paired latitude and longitude.  `from` and `to` are embedded specifier strings.  Accepted specifier forms: - `from=now` - `from=unix=1711300000` - `from=unix_ms=1711300000000` - `from=iso=2026-04-16T09:00:00` - `from=tz=America/New_York` - `from=ip=8.8.8.8` - `from=offset=-05:00` - the same forms are accepted for `to`  Timezone hint pairings: - `from_tz` only with `from=iso=...` that has no explicit offset - `from_ip`, `from_lat`/`from_lon`, and `from_offset` only with `from=iso=...` that has no explicit offset - `to_tz` only with `to=iso=...` that has no explicit offset - `to_ip`, `to_lat`/`to_lon`, and `to_offset` only with `to=iso=...` that has no explicit offset  Selector semantics: - `tz=...`, `ip=...`, and `offset=...` inside `from` or `to` mean the current request-time instant resolved through that selector - those selector forms do not represent an arbitrary local wall-clock time - returned duration magnitudes are absolute; use `direction` to see whether `to` is after, before, or the same instant as `from`  Business-day rules: - `holiday_country` and `holiday_subdivision` require `business_days=true` - `holiday_subdivision` also requires `holiday_country`  Examples: - Selector-current instant: `/v1/time/diff?from=unix=1711300000&to=tz=America/New_York` - Wall-clock pairing: `/v1/time/diff?from=iso=2026-04-16T09:00:00&from_tz=America/New_York&to=iso=2026-04-16T09:00:00&to_tz=Europe/London` - Wall-clock via selector: `/v1/time/diff?from=iso=2026-01-01T12:00:00&from_ip=8.8.8.8&to=iso=2026-01-01T12:00:00&to_offset=-05:00` 
pub async fn diff_time(configuration: &configuration::Configuration, from: &str, to: &str, from_tz: Option<&str>, from_ip: Option<&str>, from_lat: Option<f64>, from_lon: Option<f64>, from_offset: Option<&str>, to_tz: Option<&str>, to_ip: Option<&str>, to_lat: Option<f64>, to_lon: Option<f64>, to_offset: Option<&str>, format: Option<&str>, business_days: Option<bool>, holiday_country: Option<&str>, holiday_subdivision: Option<&str>, sign: Option<bool>) -> Result<models::DiffResponse, Error<DiffTimeError>> {
    let local_var_configuration = configuration;

    let local_var_client = &local_var_configuration.client;

    let local_var_uri_str = format!("{}/v1/time/diff", local_var_configuration.base_path);
    let mut local_var_req_builder = local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

    local_var_req_builder = local_var_req_builder.query(&[("from", &from.to_string())]);
    local_var_req_builder = local_var_req_builder.query(&[("to", &to.to_string())]);
    if let Some(ref local_var_str) = from_tz {
        local_var_req_builder = local_var_req_builder.query(&[("from_tz", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = from_ip {
        local_var_req_builder = local_var_req_builder.query(&[("from_ip", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = from_lat {
        local_var_req_builder = local_var_req_builder.query(&[("from_lat", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = from_lon {
        local_var_req_builder = local_var_req_builder.query(&[("from_lon", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = from_offset {
        local_var_req_builder = local_var_req_builder.query(&[("from_offset", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = to_tz {
        local_var_req_builder = local_var_req_builder.query(&[("to_tz", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = to_ip {
        local_var_req_builder = local_var_req_builder.query(&[("to_ip", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = to_lat {
        local_var_req_builder = local_var_req_builder.query(&[("to_lat", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = to_lon {
        local_var_req_builder = local_var_req_builder.query(&[("to_lon", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = to_offset {
        local_var_req_builder = local_var_req_builder.query(&[("to_offset", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = format {
        local_var_req_builder = local_var_req_builder.query(&[("format", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = business_days {
        local_var_req_builder = local_var_req_builder.query(&[("business_days", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = holiday_country {
        local_var_req_builder = local_var_req_builder.query(&[("holiday_country", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = holiday_subdivision {
        local_var_req_builder = local_var_req_builder.query(&[("holiday_subdivision", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = sign {
        local_var_req_builder = local_var_req_builder.query(&[("sign", &local_var_str.to_string())]);
    }
    if !local_var_configuration.rapid_api {
    if let Some(ref local_var_apikey) = local_var_configuration.api_key {
        let local_var_key = local_var_apikey.key.clone();
        let local_var_value = match local_var_apikey.prefix {
            Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
            None => local_var_key,
        };
        local_var_req_builder = local_var_req_builder.query(&[("api_key", local_var_value)]);
    }
    }
    if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
        local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
    }
    if !local_var_configuration.rapid_api {
    if let Some(ref local_var_apikey) = local_var_configuration.api_key {
        let local_var_key = local_var_apikey.key.clone();
        let local_var_value = match local_var_apikey.prefix {
            Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
            None => local_var_key,
        };
        local_var_req_builder = local_var_req_builder.header("X-API-Key", local_var_value);
    };
    }
    if !local_var_configuration.rapid_api {
    if let Some(ref local_var_token) = local_var_configuration.bearer_access_token {
        local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
    };
    }
    if local_var_configuration.rapid_api {
    if let Some(ref local_var_apikey) = local_var_configuration.api_key {
        let local_var_key = local_var_apikey.key.clone();
        let local_var_value = match local_var_apikey.prefix {
            Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
            None => local_var_key,
        };
        local_var_req_builder = local_var_req_builder.header("X-RapidAPI-Key", local_var_value);
    };
    }
    if local_var_configuration.rapid_api {
        local_var_req_builder = local_var_req_builder.header("X-RapidAPI-Host", local_var_configuration.rapid_api_host.clone());
    };

    let local_var_req = local_var_req_builder.build()?;
    let local_var_resp = local_var_client.execute(local_var_req).await?;

    let local_var_status = local_var_resp.status();
    let local_var_content = local_var_resp.text().await?;

    if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
        serde_json::from_str(&local_var_content).map_err(Error::from)
    } else {
        let local_var_entity: Option<DiffTimeError> = serde_json::from_str(&local_var_content).ok();
        let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
        Err(Error::ResponseError(local_var_error))
    }
}

/// Returns calendar fields for an optional timestamp and target.  Input timestamp forms: - `unix=1711300000` - `unix_ms=1711300000000` - `iso=2026-04-16T09:00:00Z` - `iso=2026-04-16T09:00:00&source_tz=America/New_York` - `iso=2026-04-16T09:00:00&source_ip=8.8.8.8` - `iso=2026-04-16T09:00:00&source_lat=40.7128&source_lon=-74.0060` - `iso=2026-04-16T09:00:00&source_offset=-05:00` - if no input timestamp is provided, the request time is used  Target selector forms: - `tz=America/New_York` - `ip=8.8.8.8` - `lat=40.7128&lon=-74.0060` - `offset=-04:00` - `auto_tz=true`  Additional flags: - `week=true` adds `week_number`  Incompatible combinations: - at most one input timestamp form - at most one target selector family - use at most one of `source_tz`, `source_ip`, `source_lat`/`source_lon`, or `source_offset` - local-ISO companion selectors are valid only with `iso=...` that has no explicit offset - bulk is not supported on this route  Examples: - `/v1/time/calendar?iso=2026-04-16T09:00:00&source_tz=America/New_York&tz=Europe/London&week=true` - `/v1/time/calendar?unix=1711300000&auto_tz=true` 
pub async fn get_calendar(configuration: &configuration::Configuration, unix: Option<i64>, unix_ms: Option<i64>, iso: Option<&str>, source_tz: Option<&str>, source_ip: Option<&str>, source_lat: Option<f64>, source_lon: Option<f64>, source_offset: Option<&str>, tz: Option<&str>, ip: Option<&str>, lat: Option<f64>, lon: Option<f64>, offset: Option<&str>, auto_tz: Option<bool>, format: Option<&str>, week: Option<bool>, sign: Option<bool>) -> Result<models::CalendarResponse, Error<GetCalendarError>> {
    let local_var_configuration = configuration;

    let local_var_client = &local_var_configuration.client;

    let local_var_uri_str = format!("{}/v1/time/calendar", local_var_configuration.base_path);
    let mut local_var_req_builder = local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

    if let Some(ref local_var_str) = unix {
        local_var_req_builder = local_var_req_builder.query(&[("unix", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = unix_ms {
        local_var_req_builder = local_var_req_builder.query(&[("unix_ms", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = iso {
        local_var_req_builder = local_var_req_builder.query(&[("iso", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = source_tz {
        local_var_req_builder = local_var_req_builder.query(&[("source_tz", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = source_ip {
        local_var_req_builder = local_var_req_builder.query(&[("source_ip", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = source_lat {
        local_var_req_builder = local_var_req_builder.query(&[("source_lat", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = source_lon {
        local_var_req_builder = local_var_req_builder.query(&[("source_lon", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = source_offset {
        local_var_req_builder = local_var_req_builder.query(&[("source_offset", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = tz {
        local_var_req_builder = local_var_req_builder.query(&[("tz", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = ip {
        local_var_req_builder = local_var_req_builder.query(&[("ip", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = lat {
        local_var_req_builder = local_var_req_builder.query(&[("lat", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = lon {
        local_var_req_builder = local_var_req_builder.query(&[("lon", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = offset {
        local_var_req_builder = local_var_req_builder.query(&[("offset", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = auto_tz {
        local_var_req_builder = local_var_req_builder.query(&[("auto_tz", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = format {
        local_var_req_builder = local_var_req_builder.query(&[("format", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = week {
        local_var_req_builder = local_var_req_builder.query(&[("week", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = sign {
        local_var_req_builder = local_var_req_builder.query(&[("sign", &local_var_str.to_string())]);
    }
    if !local_var_configuration.rapid_api {
    if let Some(ref local_var_apikey) = local_var_configuration.api_key {
        let local_var_key = local_var_apikey.key.clone();
        let local_var_value = match local_var_apikey.prefix {
            Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
            None => local_var_key,
        };
        local_var_req_builder = local_var_req_builder.query(&[("api_key", local_var_value)]);
    }
    }
    if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
        local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
    }
    if !local_var_configuration.rapid_api {
    if let Some(ref local_var_apikey) = local_var_configuration.api_key {
        let local_var_key = local_var_apikey.key.clone();
        let local_var_value = match local_var_apikey.prefix {
            Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
            None => local_var_key,
        };
        local_var_req_builder = local_var_req_builder.header("X-API-Key", local_var_value);
    };
    }
    if !local_var_configuration.rapid_api {
    if let Some(ref local_var_token) = local_var_configuration.bearer_access_token {
        local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
    };
    }
    if local_var_configuration.rapid_api {
    if let Some(ref local_var_apikey) = local_var_configuration.api_key {
        let local_var_key = local_var_apikey.key.clone();
        let local_var_value = match local_var_apikey.prefix {
            Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
            None => local_var_key,
        };
        local_var_req_builder = local_var_req_builder.header("X-RapidAPI-Key", local_var_value);
    };
    }
    if local_var_configuration.rapid_api {
        local_var_req_builder = local_var_req_builder.header("X-RapidAPI-Host", local_var_configuration.rapid_api_host.clone());
    };

    let local_var_req = local_var_req_builder.build()?;
    let local_var_resp = local_var_client.execute(local_var_req).await?;

    let local_var_status = local_var_resp.status();
    let local_var_content = local_var_resp.text().await?;

    if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
        serde_json::from_str(&local_var_content).map_err(Error::from)
    } else {
        let local_var_entity: Option<GetCalendarError> = serde_json::from_str(&local_var_content).ok();
        let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
        Err(Error::ResponseError(local_var_error))
    }
}

/// Returns an embeddable HTML clock fragment.  Input timestamp forms: - `unix=1711300000` - `unix_ms=1711300000000` - `iso=2026-04-16T09:00:00Z` - `iso=2026-04-16T09:00:00&source_tz=America/New_York`  Target selector forms: - `tz=America/New_York` - `ip=8.8.8.8` - `lat=40.7128&lon=-74.0060` - `offset=-04:00`  Incompatible combinations: - `style` is required and must be one of the 30 names in the `style` enum - at most one input timestamp form - at most one target selector family - use at most one of `source_tz`, `source_ip`, `source_lat`/`source_lon`, or `source_offset` - local-ISO companion selectors are valid only with `iso=...` that has no explicit offset - this route is single-target only; comma-separated `tz`, `ip`, and `offset` values are rejected - `auto_tz` is not supported on this route - `sign` is not supported on this route  Examples: - Digital: `/v1/time/clock?style=digital-dashboard&iso=2026-04-16T09:00:00&source_tz=America/New_York&tz=Europe/London` - Analog: `/v1/time/clock?style=analog-station&offset=-04:00` 
pub async fn get_clock(configuration: &configuration::Configuration, style: &str, unix: Option<i64>, unix_ms: Option<i64>, iso: Option<&str>, source_tz: Option<&str>, source_ip: Option<&str>, source_lat: Option<f64>, source_lon: Option<f64>, source_offset: Option<&str>, tz: Option<&str>, ip: Option<&str>, lat: Option<f64>, lon: Option<f64>, offset: Option<&str>, format: Option<&str>) -> Result<String, Error<GetClockError>> {
    let local_var_configuration = configuration;

    let local_var_client = &local_var_configuration.client;

    let local_var_uri_str = format!("{}/v1/time/clock", local_var_configuration.base_path);
    let mut local_var_req_builder = local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

    local_var_req_builder = local_var_req_builder.query(&[("style", &style.to_string())]);
    if let Some(ref local_var_str) = unix {
        local_var_req_builder = local_var_req_builder.query(&[("unix", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = unix_ms {
        local_var_req_builder = local_var_req_builder.query(&[("unix_ms", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = iso {
        local_var_req_builder = local_var_req_builder.query(&[("iso", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = source_tz {
        local_var_req_builder = local_var_req_builder.query(&[("source_tz", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = source_ip {
        local_var_req_builder = local_var_req_builder.query(&[("source_ip", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = source_lat {
        local_var_req_builder = local_var_req_builder.query(&[("source_lat", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = source_lon {
        local_var_req_builder = local_var_req_builder.query(&[("source_lon", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = source_offset {
        local_var_req_builder = local_var_req_builder.query(&[("source_offset", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = tz {
        local_var_req_builder = local_var_req_builder.query(&[("tz", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = ip {
        local_var_req_builder = local_var_req_builder.query(&[("ip", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = lat {
        local_var_req_builder = local_var_req_builder.query(&[("lat", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = lon {
        local_var_req_builder = local_var_req_builder.query(&[("lon", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = offset {
        local_var_req_builder = local_var_req_builder.query(&[("offset", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = format {
        local_var_req_builder = local_var_req_builder.query(&[("format", &local_var_str.to_string())]);
    }
    if !local_var_configuration.rapid_api {
    if let Some(ref local_var_apikey) = local_var_configuration.api_key {
        let local_var_key = local_var_apikey.key.clone();
        let local_var_value = match local_var_apikey.prefix {
            Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
            None => local_var_key,
        };
        local_var_req_builder = local_var_req_builder.query(&[("api_key", local_var_value)]);
    }
    }
    if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
        local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
    }
    if !local_var_configuration.rapid_api {
    if let Some(ref local_var_apikey) = local_var_configuration.api_key {
        let local_var_key = local_var_apikey.key.clone();
        let local_var_value = match local_var_apikey.prefix {
            Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
            None => local_var_key,
        };
        local_var_req_builder = local_var_req_builder.header("X-API-Key", local_var_value);
    };
    }
    if !local_var_configuration.rapid_api {
    if let Some(ref local_var_token) = local_var_configuration.bearer_access_token {
        local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
    };
    }
    if local_var_configuration.rapid_api {
    if let Some(ref local_var_apikey) = local_var_configuration.api_key {
        let local_var_key = local_var_apikey.key.clone();
        let local_var_value = match local_var_apikey.prefix {
            Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
            None => local_var_key,
        };
        local_var_req_builder = local_var_req_builder.header("X-RapidAPI-Key", local_var_value);
    };
    }
    if local_var_configuration.rapid_api {
        local_var_req_builder = local_var_req_builder.header("X-RapidAPI-Host", local_var_configuration.rapid_api_host.clone());
    };

    let local_var_req = local_var_req_builder.build()?;
    let local_var_resp = local_var_client.execute(local_var_req).await?;

    let local_var_status = local_var_resp.status();
    let local_var_content = local_var_resp.text().await?;

    if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
        serde_json::from_str(&local_var_content).map_err(Error::from)
    } else {
        let local_var_entity: Option<GetClockError> = serde_json::from_str(&local_var_content).ok();
        let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
        Err(Error::ResponseError(local_var_error))
    }
}

/// Returns current time data for a single target, or a bulk array when exactly one of `tz`, `ip`, or `offset` is supplied as a comma-separated list.  Target selector rules: - Use at most one selector family per request: `tz`, `ip`, `lat` + `lon`, `offset`, or `auto_tz=true`. - If no selector is provided, the response defaults to UTC with `timezone=null` and `iso_local=null`. - Bulk mode is available only through one comma-separated `tz`, `ip`, or `offset` selector and cannot be combined with any other selector.  Example: - Single target: `/v1/time/current?tz=America/New_York` - For bulk, provide one comma-separated `tz`, `ip`, or `offset` value, for example `/v1/time/current?tz=America/New_York,Europe/London,Asia/Tokyo`.
pub async fn get_current_time(configuration: &configuration::Configuration, tz: Option<&str>, ip: Option<&str>, lat: Option<f64>, lon: Option<f64>, offset: Option<&str>, auto_tz: Option<bool>, format: Option<&str>, sign: Option<bool>) -> Result<models::GetCurrentTime200Response, Error<GetCurrentTimeError>> {
    let local_var_configuration = configuration;

    let local_var_client = &local_var_configuration.client;

    let local_var_uri_str = format!("{}/v1/time/current", local_var_configuration.base_path);
    let mut local_var_req_builder = local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

    if let Some(ref local_var_str) = tz {
        local_var_req_builder = local_var_req_builder.query(&[("tz", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = ip {
        local_var_req_builder = local_var_req_builder.query(&[("ip", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = lat {
        local_var_req_builder = local_var_req_builder.query(&[("lat", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = lon {
        local_var_req_builder = local_var_req_builder.query(&[("lon", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = offset {
        local_var_req_builder = local_var_req_builder.query(&[("offset", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = auto_tz {
        local_var_req_builder = local_var_req_builder.query(&[("auto_tz", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = format {
        local_var_req_builder = local_var_req_builder.query(&[("format", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = sign {
        local_var_req_builder = local_var_req_builder.query(&[("sign", &local_var_str.to_string())]);
    }
    if !local_var_configuration.rapid_api {
    if let Some(ref local_var_apikey) = local_var_configuration.api_key {
        let local_var_key = local_var_apikey.key.clone();
        let local_var_value = match local_var_apikey.prefix {
            Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
            None => local_var_key,
        };
        local_var_req_builder = local_var_req_builder.query(&[("api_key", local_var_value)]);
    }
    }
    if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
        local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
    }
    if !local_var_configuration.rapid_api {
    if let Some(ref local_var_apikey) = local_var_configuration.api_key {
        let local_var_key = local_var_apikey.key.clone();
        let local_var_value = match local_var_apikey.prefix {
            Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
            None => local_var_key,
        };
        local_var_req_builder = local_var_req_builder.header("X-API-Key", local_var_value);
    };
    }
    if !local_var_configuration.rapid_api {
    if let Some(ref local_var_token) = local_var_configuration.bearer_access_token {
        local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
    };
    }
    if local_var_configuration.rapid_api {
    if let Some(ref local_var_apikey) = local_var_configuration.api_key {
        let local_var_key = local_var_apikey.key.clone();
        let local_var_value = match local_var_apikey.prefix {
            Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
            None => local_var_key,
        };
        local_var_req_builder = local_var_req_builder.header("X-RapidAPI-Key", local_var_value);
    };
    }
    if local_var_configuration.rapid_api {
        local_var_req_builder = local_var_req_builder.header("X-RapidAPI-Host", local_var_configuration.rapid_api_host.clone());
    };

    let local_var_req = local_var_req_builder.build()?;
    let local_var_resp = local_var_client.execute(local_var_req).await?;

    let local_var_status = local_var_resp.status();
    let local_var_content = local_var_resp.text().await?;

    if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
        serde_json::from_str(&local_var_content).map_err(Error::from)
    } else {
        let local_var_entity: Option<GetCurrentTimeError> = serde_json::from_str(&local_var_content).ok();
        let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
        Err(Error::ResponseError(local_var_error))
    }
}

/// Returns daylight-saving status for the selected target.  Target selector rules: - Use at most one selector family: `tz`, `ip`, `lat` + `lon`, `offset`, or `auto_tz=true`. - If no selector is provided, the response defaults to UTC. - Bulk is not supported on this route. - `next=true` adds `next_transition` when the resolver provides a transition timestamp.  Example: - `/v1/time/dst?tz=America/New_York&next=true`
pub async fn get_dst(configuration: &configuration::Configuration, tz: Option<&str>, ip: Option<&str>, lat: Option<f64>, lon: Option<f64>, offset: Option<&str>, auto_tz: Option<bool>, format: Option<&str>, next: Option<bool>, sign: Option<bool>) -> Result<models::DstResponse, Error<GetDstError>> {
    let local_var_configuration = configuration;

    let local_var_client = &local_var_configuration.client;

    let local_var_uri_str = format!("{}/v1/time/dst", local_var_configuration.base_path);
    let mut local_var_req_builder = local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

    if let Some(ref local_var_str) = tz {
        local_var_req_builder = local_var_req_builder.query(&[("tz", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = ip {
        local_var_req_builder = local_var_req_builder.query(&[("ip", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = lat {
        local_var_req_builder = local_var_req_builder.query(&[("lat", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = lon {
        local_var_req_builder = local_var_req_builder.query(&[("lon", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = offset {
        local_var_req_builder = local_var_req_builder.query(&[("offset", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = auto_tz {
        local_var_req_builder = local_var_req_builder.query(&[("auto_tz", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = format {
        local_var_req_builder = local_var_req_builder.query(&[("format", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = next {
        local_var_req_builder = local_var_req_builder.query(&[("next", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = sign {
        local_var_req_builder = local_var_req_builder.query(&[("sign", &local_var_str.to_string())]);
    }
    if !local_var_configuration.rapid_api {
    if let Some(ref local_var_apikey) = local_var_configuration.api_key {
        let local_var_key = local_var_apikey.key.clone();
        let local_var_value = match local_var_apikey.prefix {
            Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
            None => local_var_key,
        };
        local_var_req_builder = local_var_req_builder.query(&[("api_key", local_var_value)]);
    }
    }
    if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
        local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
    }
    if !local_var_configuration.rapid_api {
    if let Some(ref local_var_apikey) = local_var_configuration.api_key {
        let local_var_key = local_var_apikey.key.clone();
        let local_var_value = match local_var_apikey.prefix {
            Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
            None => local_var_key,
        };
        local_var_req_builder = local_var_req_builder.header("X-API-Key", local_var_value);
    };
    }
    if !local_var_configuration.rapid_api {
    if let Some(ref local_var_token) = local_var_configuration.bearer_access_token {
        local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
    };
    }
    if local_var_configuration.rapid_api {
    if let Some(ref local_var_apikey) = local_var_configuration.api_key {
        let local_var_key = local_var_apikey.key.clone();
        let local_var_value = match local_var_apikey.prefix {
            Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
            None => local_var_key,
        };
        local_var_req_builder = local_var_req_builder.header("X-RapidAPI-Key", local_var_value);
    };
    }
    if local_var_configuration.rapid_api {
        local_var_req_builder = local_var_req_builder.header("X-RapidAPI-Host", local_var_configuration.rapid_api_host.clone());
    };

    let local_var_req = local_var_req_builder.build()?;
    let local_var_resp = local_var_client.execute(local_var_req).await?;

    let local_var_status = local_var_resp.status();
    let local_var_content = local_var_resp.text().await?;

    if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
        serde_json::from_str(&local_var_content).map_err(Error::from)
    } else {
        let local_var_entity: Option<GetDstError> = serde_json::from_str(&local_var_content).ok();
        let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
        Err(Error::ResponseError(local_var_error))
    }
}

/// Computes elapsed or remaining duration relative to one required reference timestamp.  Reference timestamp forms: - `unix=1711300000` - `unix_ms=1711300000000` - `iso=2026-04-16T09:00:00Z` - `iso=2026-04-16T09:00:00&source_tz=America/New_York` - `iso=2026-04-16T09:00:00&source_ip=8.8.8.8` - `iso=2026-04-16T09:00:00&source_lat=40.7128&source_lon=-74.0060` - `iso=2026-04-16T09:00:00&source_offset=-05:00`  Compare timestamp forms: - `compare_unix=1711213600` - `compare_unix_ms=1711213600000` - `compare_iso=2026-04-16T09:00:00Z` - `compare_iso=2026-04-16T09:00:00&compare_source_tz=Europe/London` - `compare_iso=2026-04-16T09:00:00&compare_source_ip=8.8.8.8` - `compare_iso=2026-04-16T09:00:00&compare_source_lat=40.7128&compare_source_lon=-74.0060` - `compare_iso=2026-04-16T09:00:00&compare_source_offset=-05:00`  Compare selector forms: - `tz=America/New_York` - `ip=8.8.8.8` - `lat=40.7128&lon=-74.0060` - `offset=-04:00` - `auto_tz=true`  Incompatible combinations: - exactly one reference timestamp form - use either one compare timestamp form or one compare selector family, not both - use at most one of `source_tz`, `source_ip`, `source_lat`/`source_lon`, or `source_offset` - use at most one of `compare_source_tz`, `compare_source_ip`, `compare_source_lat`/`compare_source_lon`, or `compare_source_offset` - local-ISO companion selectors are valid only with `iso=...` that has no explicit offset - compare local-ISO companion selectors are valid only with `compare_iso=...` that has no explicit offset - if no compare input is provided, the comparison defaults to the request time  Business-day rules: - `holiday_country` and `holiday_subdivision` require `business_days=true` - `holiday_subdivision` also requires `holiday_country`  Examples: - Timestamp-to-timestamp: `/v1/time/elapsed?iso=2026-04-16T09:00:00&source_tz=America/New_York&compare_iso=2026-04-16T09:00:00&compare_source_tz=Europe/London` - Timestamp-to-selector: `/v1/time/elapsed?unix=1711300000&tz=America/New_York&business_days=true` 
pub async fn get_elapsed(configuration: &configuration::Configuration, unix: Option<i64>, unix_ms: Option<i64>, iso: Option<&str>, source_tz: Option<&str>, source_ip: Option<&str>, source_lat: Option<f64>, source_lon: Option<f64>, source_offset: Option<&str>, compare_unix: Option<i64>, compare_unix_ms: Option<i64>, compare_iso: Option<&str>, compare_source_tz: Option<&str>, compare_source_ip: Option<&str>, compare_source_lat: Option<f64>, compare_source_lon: Option<f64>, compare_source_offset: Option<&str>, tz: Option<&str>, ip: Option<&str>, lat: Option<f64>, lon: Option<f64>, offset: Option<&str>, auto_tz: Option<bool>, format: Option<&str>, business_days: Option<bool>, holiday_country: Option<&str>, holiday_subdivision: Option<&str>, sign: Option<bool>) -> Result<models::ElapsedResponse, Error<GetElapsedError>> {
    let local_var_configuration = configuration;

    let local_var_client = &local_var_configuration.client;

    let local_var_uri_str = format!("{}/v1/time/elapsed", local_var_configuration.base_path);
    let mut local_var_req_builder = local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

    if let Some(ref local_var_str) = unix {
        local_var_req_builder = local_var_req_builder.query(&[("unix", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = unix_ms {
        local_var_req_builder = local_var_req_builder.query(&[("unix_ms", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = iso {
        local_var_req_builder = local_var_req_builder.query(&[("iso", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = source_tz {
        local_var_req_builder = local_var_req_builder.query(&[("source_tz", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = source_ip {
        local_var_req_builder = local_var_req_builder.query(&[("source_ip", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = source_lat {
        local_var_req_builder = local_var_req_builder.query(&[("source_lat", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = source_lon {
        local_var_req_builder = local_var_req_builder.query(&[("source_lon", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = source_offset {
        local_var_req_builder = local_var_req_builder.query(&[("source_offset", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = compare_unix {
        local_var_req_builder = local_var_req_builder.query(&[("compare_unix", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = compare_unix_ms {
        local_var_req_builder = local_var_req_builder.query(&[("compare_unix_ms", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = compare_iso {
        local_var_req_builder = local_var_req_builder.query(&[("compare_iso", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = compare_source_tz {
        local_var_req_builder = local_var_req_builder.query(&[("compare_source_tz", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = compare_source_ip {
        local_var_req_builder = local_var_req_builder.query(&[("compare_source_ip", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = compare_source_lat {
        local_var_req_builder = local_var_req_builder.query(&[("compare_source_lat", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = compare_source_lon {
        local_var_req_builder = local_var_req_builder.query(&[("compare_source_lon", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = compare_source_offset {
        local_var_req_builder = local_var_req_builder.query(&[("compare_source_offset", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = tz {
        local_var_req_builder = local_var_req_builder.query(&[("tz", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = ip {
        local_var_req_builder = local_var_req_builder.query(&[("ip", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = lat {
        local_var_req_builder = local_var_req_builder.query(&[("lat", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = lon {
        local_var_req_builder = local_var_req_builder.query(&[("lon", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = offset {
        local_var_req_builder = local_var_req_builder.query(&[("offset", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = auto_tz {
        local_var_req_builder = local_var_req_builder.query(&[("auto_tz", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = format {
        local_var_req_builder = local_var_req_builder.query(&[("format", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = business_days {
        local_var_req_builder = local_var_req_builder.query(&[("business_days", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = holiday_country {
        local_var_req_builder = local_var_req_builder.query(&[("holiday_country", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = holiday_subdivision {
        local_var_req_builder = local_var_req_builder.query(&[("holiday_subdivision", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = sign {
        local_var_req_builder = local_var_req_builder.query(&[("sign", &local_var_str.to_string())]);
    }
    if !local_var_configuration.rapid_api {
    if let Some(ref local_var_apikey) = local_var_configuration.api_key {
        let local_var_key = local_var_apikey.key.clone();
        let local_var_value = match local_var_apikey.prefix {
            Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
            None => local_var_key,
        };
        local_var_req_builder = local_var_req_builder.query(&[("api_key", local_var_value)]);
    }
    }
    if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
        local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
    }
    if !local_var_configuration.rapid_api {
    if let Some(ref local_var_apikey) = local_var_configuration.api_key {
        let local_var_key = local_var_apikey.key.clone();
        let local_var_value = match local_var_apikey.prefix {
            Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
            None => local_var_key,
        };
        local_var_req_builder = local_var_req_builder.header("X-API-Key", local_var_value);
    };
    }
    if !local_var_configuration.rapid_api {
    if let Some(ref local_var_token) = local_var_configuration.bearer_access_token {
        local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
    };
    }
    if local_var_configuration.rapid_api {
    if let Some(ref local_var_apikey) = local_var_configuration.api_key {
        let local_var_key = local_var_apikey.key.clone();
        let local_var_value = match local_var_apikey.prefix {
            Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
            None => local_var_key,
        };
        local_var_req_builder = local_var_req_builder.header("X-RapidAPI-Key", local_var_value);
    };
    }
    if local_var_configuration.rapid_api {
        local_var_req_builder = local_var_req_builder.header("X-RapidAPI-Host", local_var_configuration.rapid_api_host.clone());
    };

    let local_var_req = local_var_req_builder.build()?;
    let local_var_resp = local_var_client.execute(local_var_req).await?;

    let local_var_status = local_var_resp.status();
    let local_var_content = local_var_resp.text().await?;

    if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
        serde_json::from_str(&local_var_content).map_err(Error::from)
    } else {
        let local_var_entity: Option<GetElapsedError> = serde_json::from_str(&local_var_content).ok();
        let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
        Err(Error::ResponseError(local_var_error))
    }
}

/// Resolves timezone metadata for a single target.  Target selector rules: - Use exactly one selector family: `tz`, `ip`, `lat` + `lon`, `offset`, or `auto_tz=true`. - Bulk is not supported on this route. - `offset` queries return a specialized payload that includes `matching_zones` for the request-time offset match.  Examples: - Single target: `/v1/timezone?tz=America/New_York` - Offset match: `/v1/timezone?offset=-04:00`
pub async fn get_timezone(configuration: &configuration::Configuration, tz: Option<&str>, ip: Option<&str>, lat: Option<f64>, lon: Option<f64>, offset: Option<&str>, auto_tz: Option<bool>, sign: Option<bool>) -> Result<models::GetTimezone200Response, Error<GetTimezoneError>> {
    let local_var_configuration = configuration;

    let local_var_client = &local_var_configuration.client;

    let local_var_uri_str = format!("{}/v1/timezone", local_var_configuration.base_path);
    let mut local_var_req_builder = local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

    if let Some(ref local_var_str) = tz {
        local_var_req_builder = local_var_req_builder.query(&[("tz", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = ip {
        local_var_req_builder = local_var_req_builder.query(&[("ip", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = lat {
        local_var_req_builder = local_var_req_builder.query(&[("lat", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = lon {
        local_var_req_builder = local_var_req_builder.query(&[("lon", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = offset {
        local_var_req_builder = local_var_req_builder.query(&[("offset", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = auto_tz {
        local_var_req_builder = local_var_req_builder.query(&[("auto_tz", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = sign {
        local_var_req_builder = local_var_req_builder.query(&[("sign", &local_var_str.to_string())]);
    }
    if !local_var_configuration.rapid_api {
    if let Some(ref local_var_apikey) = local_var_configuration.api_key {
        let local_var_key = local_var_apikey.key.clone();
        let local_var_value = match local_var_apikey.prefix {
            Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
            None => local_var_key,
        };
        local_var_req_builder = local_var_req_builder.query(&[("api_key", local_var_value)]);
    }
    }
    if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
        local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
    }
    if !local_var_configuration.rapid_api {
    if let Some(ref local_var_apikey) = local_var_configuration.api_key {
        let local_var_key = local_var_apikey.key.clone();
        let local_var_value = match local_var_apikey.prefix {
            Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
            None => local_var_key,
        };
        local_var_req_builder = local_var_req_builder.header("X-API-Key", local_var_value);
    };
    }
    if !local_var_configuration.rapid_api {
    if let Some(ref local_var_token) = local_var_configuration.bearer_access_token {
        local_var_req_builder = local_var_req_builder.bearer_auth(local_var_token.to_owned());
    };
    }
    if local_var_configuration.rapid_api {
    if let Some(ref local_var_apikey) = local_var_configuration.api_key {
        let local_var_key = local_var_apikey.key.clone();
        let local_var_value = match local_var_apikey.prefix {
            Some(ref local_var_prefix) => format!("{} {}", local_var_prefix, local_var_key),
            None => local_var_key,
        };
        local_var_req_builder = local_var_req_builder.header("X-RapidAPI-Key", local_var_value);
    };
    }
    if local_var_configuration.rapid_api {
        local_var_req_builder = local_var_req_builder.header("X-RapidAPI-Host", local_var_configuration.rapid_api_host.clone());
    };

    let local_var_req = local_var_req_builder.build()?;
    let local_var_resp = local_var_client.execute(local_var_req).await?;

    let local_var_status = local_var_resp.status();
    let local_var_content = local_var_resp.text().await?;

    if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
        serde_json::from_str(&local_var_content).map_err(Error::from)
    } else {
        let local_var_entity: Option<GetTimezoneError> = serde_json::from_str(&local_var_content).ok();
        let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
        Err(Error::ResponseError(local_var_error))
    }
}

