module TimeLogic
end

=begin
#TimeLogic API | A World Time API

#Public direct-access contract for the TimeLogic gateway.  This public spec excludes `/healthz` and the shared clock asset routes. It keeps `/.well-known/time-api-public-key`, `/v1/time/clock`, and signed JSON response controls because public consumers may need them.  Authentication: - direct access supports `Authorization: Bearer <token>`, `X-API-Key`, and `api_key` query credentials - RapidAPI access uses `X-RapidAPI-Key` and `X-RapidAPI-Host`; the SDKs expose this as a `rapidApi` transport option that accepts only the RapidAPI key  Behavioral notes: - all documented operations are `GET` - only one selector family may be used at a time - current and convert support bulk only through one comma-separated `tz`, `ip`, or `offset` selector - add, diff, calendar, dst, elapsed, timezone, and clock are single-target routes - credentials are extracted in Authorization, X-API-Key, then api_key query order; conflicting values are rejected - the first server is the default direct API host. The second server is the RapidAPI gateway and can be selected or overridden by SDK configuration - `sign` is available on supported JSON routes and is not supported on `/v1/time/clock`

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

# Common files
require 'timelogic-direct-api/api_client'
require 'timelogic-direct-api/api_error'
require 'timelogic-direct-api/version'
require 'timelogic-direct-api/configuration'
require 'timelogic-direct-api/transport_configuration'

# Models
require 'timelogic-direct-api/models/api_error'
require 'timelogic-direct-api/models/bulk_error'
require 'timelogic-direct-api/models/calendar_response'
require 'timelogic-direct-api/models/diff_endpoint_ref'
require 'timelogic-direct-api/models/diff_response'
require 'timelogic-direct-api/models/dst_response'
require 'timelogic-direct-api/models/elapsed_response'
require 'timelogic-direct-api/models/error_response'
require 'timelogic-direct-api/models/get_current_time200_response'
require 'timelogic-direct-api/models/get_timezone200_response'
require 'timelogic-direct-api/models/jwk_key'
require 'timelogic-direct-api/models/jwks_response'
require 'timelogic-direct-api/models/time_payload'
require 'timelogic-direct-api/models/time_payload_bulk_item'
require 'timelogic-direct-api/models/timezone_match'
require 'timelogic-direct-api/models/timezone_offset_response'
require 'timelogic-direct-api/models/timezone_resolved_response'
require 'timelogic-direct-api/models/time_payload_bulk_response'

# APIs
require 'timelogic-direct-api/api/time_api'
require 'timelogic-direct-api/api/utility_api'

module TimeLogic::DirectApi
  class << self
    # Customize default settings for the SDK using block.
    #   TimeLogic::DirectApi.configure do |config|
    #     config.username = "xxx"
    #     config.password = "xxx"
    #   end
    # If no block given, return the default Configuration object.
    def configure
      if block_given?
        yield(Configuration.default)
      else
        Configuration.default
      end
    end
  end
end
