/*
 * TimeLogic API | A World Time API
 *
 * Public direct-access contract for the TimeLogic gateway.  This public spec excludes `/healthz` and the shared clock asset routes. It keeps `/.well-known/time-api-public-key`, `/v1/time/clock`, and signed JSON response controls because public consumers may need them.  Authentication: - direct access supports `Authorization: Bearer <token>`, `X-API-Key`, and `api_key` query credentials - RapidAPI access uses `X-RapidAPI-Key` and `X-RapidAPI-Host`; the SDKs expose this as a `rapidApi` transport option that accepts only the RapidAPI key  Behavioral notes: - all documented operations are `GET` - only one selector family may be used at a time - current and convert support bulk only through one comma-separated `tz`, `ip`, or `offset` selector - add, diff, calendar, dst, elapsed, timezone, and clock are single-target routes - credentials are extracted in Authorization, X-API-Key, then api_key query order; conflicting values are rejected - the first server is the default direct API host. The second server is the RapidAPI gateway and can be selected or overridden by SDK configuration - `sign` is available on supported JSON routes and is not supported on `/v1/time/clock`
 *
 * The version of the OpenAPI document: 1.0.0
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */


using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.Linq;
using System.Net;
using System.Net.Mime;
using TimeLogic.Api.Client;
using TimeLogic.Api.Model;

namespace TimeLogic.Api.Api
{

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface ITimeApiSync : IApiAccessor
    {
        #region Synchronous Operations
        /// <summary>
        /// Add modifiers to a timestamp
        /// </summary>
        /// <remarks>
        /// Adds &#x60;seconds&#x60;, &#x60;minutes&#x60;, &#x60;hours&#x60;, and &#x60;days&#x60; to an optional base timestamp.  Input timestamp forms: - &#x60;unix&#x3D;1711300000&#x60; - &#x60;unix_ms&#x3D;1711300000000&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00Z&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_tz&#x3D;America/New_York&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_ip&#x3D;8.8.8.8&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_lat&#x3D;40.7128&amp;source_lon&#x3D;-74.0060&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_offset&#x3D;-05:00&#x60; - if no input timestamp is provided, the base timestamp defaults to the request time  Modifiers: - &#x60;seconds&#x3D;30&#x60; - &#x60;minutes&#x3D;15&#x60; - &#x60;hours&#x3D;2&#x60; - &#x60;days&#x3D;7&#x60;  Target selector forms: - &#x60;tz&#x3D;America/New_York&#x60; - &#x60;ip&#x3D;8.8.8.8&#x60; - &#x60;lat&#x3D;40.7128&amp;lon&#x3D;-74.0060&#x60; - &#x60;offset&#x3D;-04:00&#x60; - &#x60;auto_tz&#x3D;true&#x60; - &#x60;utc&#x3D;true&#x60;  Incompatible combinations: - at most one input timestamp form - at most one target selector family - use at most one of &#x60;source_tz&#x60;, &#x60;source_ip&#x60;, &#x60;source_lat&#x60;/&#x60;source_lon&#x60;, or &#x60;source_offset&#x60; - local-ISO companion selectors are valid only with &#x60;iso&#x3D;...&#x60; that has no explicit offset - bulk is not supported on this route  Examples: - &#x60;/v1/time/add?iso&#x3D;2026-04-16T09:00:00&amp;source_tz&#x3D;America/New_York&amp;days&#x3D;1&amp;tz&#x3D;Europe/London&#x60; - &#x60;/v1/time/add?minutes&#x3D;30&amp;utc&#x3D;true&#x60; 
        /// </remarks>
        /// <exception cref="TimeLogic.Api.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="unix"> (optional)</param>
        /// <param name="unixMs"> (optional)</param>
        /// <param name="iso">ISO-8601 timestamp. To supply a local wall-clock time without an explicit offset, pair it with one of &#x60;source_tz&#x3D;Area/City&#x60;, &#x60;source_ip&#x3D;...&#x60;, &#x60;source_lat&#x3D;...&amp;source_lon&#x3D;...&#x60;, or &#x60;source_offset&#x3D;±HH:MM&#x60;. (optional)</param>
        /// <param name="sourceTz">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. (optional)</param>
        /// <param name="sourceIp">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Resolves that local wall-clock time through the timezone mapped from this IP address. (optional)</param>
        /// <param name="sourceLat">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lon&#x60; to resolve that local wall-clock time through the timezone mapped from these coordinates. (optional)</param>
        /// <param name="sourceLon">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lat&#x60;. (optional)</param>
        /// <param name="sourceOffset">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Interprets that local wall-clock time at this fixed UTC offset. (optional)</param>
        /// <param name="seconds"> (optional)</param>
        /// <param name="minutes"> (optional)</param>
        /// <param name="hours"> (optional)</param>
        /// <param name="days"> (optional)</param>
        /// <param name="tz">IANA timezone name. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="ip">IP address. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="lat">Latitude. Must be provided together with &#x60;lon&#x60;. (optional)</param>
        /// <param name="lon">Longitude. Must be provided together with &#x60;lat&#x60;. (optional)</param>
        /// <param name="offset">Fixed UTC offset in &#x60;+HH:MM&#x60; or &#x60;-HH:MM&#x60; format. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="autoTz">Set to &#x60;true&#x60; to resolve using the caller IP from Cloudflare headers. (optional)</param>
        /// <param name="utc">Set to &#x60;true&#x60; to force UTC on routes that support it. (optional)</param>
        /// <param name="format">Custom date/time format template using supported &#x60;strftime&#x60;-style directives such as &#x60;%Y-%m-%d %H:%M:%S&#x60;. Reference: [strftime](https://strftime.net/). (optional)</param>
        /// <param name="sign">Set to exactly &#x60;true&#x60; to ask the gateway to sign the final JSON response. Every authenticated JSON response, including errors, then includes signing headers. Not supported on &#x60;/v1/time/clock&#x60;. (optional)</param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>TimePayload</returns>
        TimePayload AddTime(long? unix = default(long?), long? unixMs = default(long?), string? iso = default(string?), string? sourceTz = default(string?), string? sourceIp = default(string?), double? sourceLat = default(double?), double? sourceLon = default(double?), string? sourceOffset = default(string?), int? seconds = default(int?), int? minutes = default(int?), int? hours = default(int?), int? days = default(int?), string? tz = default(string?), string? ip = default(string?), double? lat = default(double?), double? lon = default(double?), string? offset = default(string?), bool? autoTz = default(bool?), bool? utc = default(bool?), string? format = default(string?), bool? sign = default(bool?), int operationIndex = 0);

        /// <summary>
        /// Add modifiers to a timestamp
        /// </summary>
        /// <remarks>
        /// Adds &#x60;seconds&#x60;, &#x60;minutes&#x60;, &#x60;hours&#x60;, and &#x60;days&#x60; to an optional base timestamp.  Input timestamp forms: - &#x60;unix&#x3D;1711300000&#x60; - &#x60;unix_ms&#x3D;1711300000000&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00Z&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_tz&#x3D;America/New_York&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_ip&#x3D;8.8.8.8&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_lat&#x3D;40.7128&amp;source_lon&#x3D;-74.0060&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_offset&#x3D;-05:00&#x60; - if no input timestamp is provided, the base timestamp defaults to the request time  Modifiers: - &#x60;seconds&#x3D;30&#x60; - &#x60;minutes&#x3D;15&#x60; - &#x60;hours&#x3D;2&#x60; - &#x60;days&#x3D;7&#x60;  Target selector forms: - &#x60;tz&#x3D;America/New_York&#x60; - &#x60;ip&#x3D;8.8.8.8&#x60; - &#x60;lat&#x3D;40.7128&amp;lon&#x3D;-74.0060&#x60; - &#x60;offset&#x3D;-04:00&#x60; - &#x60;auto_tz&#x3D;true&#x60; - &#x60;utc&#x3D;true&#x60;  Incompatible combinations: - at most one input timestamp form - at most one target selector family - use at most one of &#x60;source_tz&#x60;, &#x60;source_ip&#x60;, &#x60;source_lat&#x60;/&#x60;source_lon&#x60;, or &#x60;source_offset&#x60; - local-ISO companion selectors are valid only with &#x60;iso&#x3D;...&#x60; that has no explicit offset - bulk is not supported on this route  Examples: - &#x60;/v1/time/add?iso&#x3D;2026-04-16T09:00:00&amp;source_tz&#x3D;America/New_York&amp;days&#x3D;1&amp;tz&#x3D;Europe/London&#x60; - &#x60;/v1/time/add?minutes&#x3D;30&amp;utc&#x3D;true&#x60; 
        /// </remarks>
        /// <exception cref="TimeLogic.Api.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="unix"> (optional)</param>
        /// <param name="unixMs"> (optional)</param>
        /// <param name="iso">ISO-8601 timestamp. To supply a local wall-clock time without an explicit offset, pair it with one of &#x60;source_tz&#x3D;Area/City&#x60;, &#x60;source_ip&#x3D;...&#x60;, &#x60;source_lat&#x3D;...&amp;source_lon&#x3D;...&#x60;, or &#x60;source_offset&#x3D;±HH:MM&#x60;. (optional)</param>
        /// <param name="sourceTz">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. (optional)</param>
        /// <param name="sourceIp">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Resolves that local wall-clock time through the timezone mapped from this IP address. (optional)</param>
        /// <param name="sourceLat">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lon&#x60; to resolve that local wall-clock time through the timezone mapped from these coordinates. (optional)</param>
        /// <param name="sourceLon">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lat&#x60;. (optional)</param>
        /// <param name="sourceOffset">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Interprets that local wall-clock time at this fixed UTC offset. (optional)</param>
        /// <param name="seconds"> (optional)</param>
        /// <param name="minutes"> (optional)</param>
        /// <param name="hours"> (optional)</param>
        /// <param name="days"> (optional)</param>
        /// <param name="tz">IANA timezone name. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="ip">IP address. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="lat">Latitude. Must be provided together with &#x60;lon&#x60;. (optional)</param>
        /// <param name="lon">Longitude. Must be provided together with &#x60;lat&#x60;. (optional)</param>
        /// <param name="offset">Fixed UTC offset in &#x60;+HH:MM&#x60; or &#x60;-HH:MM&#x60; format. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="autoTz">Set to &#x60;true&#x60; to resolve using the caller IP from Cloudflare headers. (optional)</param>
        /// <param name="utc">Set to &#x60;true&#x60; to force UTC on routes that support it. (optional)</param>
        /// <param name="format">Custom date/time format template using supported &#x60;strftime&#x60;-style directives such as &#x60;%Y-%m-%d %H:%M:%S&#x60;. Reference: [strftime](https://strftime.net/). (optional)</param>
        /// <param name="sign">Set to exactly &#x60;true&#x60; to ask the gateway to sign the final JSON response. Every authenticated JSON response, including errors, then includes signing headers. Not supported on &#x60;/v1/time/clock&#x60;. (optional)</param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>ApiResponse of TimePayload</returns>
        ApiResponse<TimePayload> AddTimeWithHttpInfo(long? unix = default(long?), long? unixMs = default(long?), string? iso = default(string?), string? sourceTz = default(string?), string? sourceIp = default(string?), double? sourceLat = default(double?), double? sourceLon = default(double?), string? sourceOffset = default(string?), int? seconds = default(int?), int? minutes = default(int?), int? hours = default(int?), int? days = default(int?), string? tz = default(string?), string? ip = default(string?), double? lat = default(double?), double? lon = default(double?), string? offset = default(string?), bool? autoTz = default(bool?), bool? utc = default(bool?), string? format = default(string?), bool? sign = default(bool?), int operationIndex = 0);
        /// <summary>
        /// Convert a timestamp into a target timezone or offset
        /// </summary>
        /// <remarks>
        /// Converts one required input timestamp into a single target or a bulk array.  Input timestamp forms: - &#x60;unix&#x3D;1711300000&#x60; - &#x60;unix_ms&#x3D;1711300000000&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00Z&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_tz&#x3D;America/New_York&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_ip&#x3D;8.8.8.8&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_lat&#x3D;40.7128&amp;source_lon&#x3D;-74.0060&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_offset&#x3D;-05:00&#x60;  Target selector forms: - &#x60;tz&#x3D;America/New_York&#x60; - &#x60;ip&#x3D;8.8.8.8&#x60; - &#x60;lat&#x3D;40.7128&amp;lon&#x3D;-74.0060&#x60; - &#x60;offset&#x3D;-04:00&#x60; - &#x60;auto_tz&#x3D;true&#x60; - &#x60;utc&#x3D;true&#x60;  Incompatible combinations: - exactly one input timestamp form - exactly one target selector family - use at most one of &#x60;source_tz&#x60;, &#x60;source_ip&#x60;, &#x60;source_lat&#x60;/&#x60;source_lon&#x60;, or &#x60;source_offset&#x60; - local-ISO companion selectors are valid only with &#x60;iso&#x3D;...&#x60; that has no explicit offset - bulk is allowed only through one comma-separated &#x60;tz&#x60;, &#x60;ip&#x60;, or &#x60;offset&#x60; selector  Examples: - Single target: &#x60;/v1/time/convert?iso&#x3D;2026-04-16T09:00:00&amp;source_tz&#x3D;America/New_York&amp;tz&#x3D;Europe/London&#x60; - Bulk target set: &#x60;/v1/time/convert?unix&#x3D;1711300000&amp;offset&#x3D;-04:00,+00:00,+09:00&#x60; 
        /// </remarks>
        /// <exception cref="TimeLogic.Api.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="unix"> (optional)</param>
        /// <param name="unixMs"> (optional)</param>
        /// <param name="iso">ISO-8601 timestamp. To supply a local wall-clock time without an explicit offset, pair it with one of &#x60;source_tz&#x3D;Area/City&#x60;, &#x60;source_ip&#x3D;...&#x60;, &#x60;source_lat&#x3D;...&amp;source_lon&#x3D;...&#x60;, or &#x60;source_offset&#x3D;±HH:MM&#x60;. (optional)</param>
        /// <param name="sourceTz">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. (optional)</param>
        /// <param name="sourceIp">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Resolves that local wall-clock time through the timezone mapped from this IP address. (optional)</param>
        /// <param name="sourceLat">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lon&#x60; to resolve that local wall-clock time through the timezone mapped from these coordinates. (optional)</param>
        /// <param name="sourceLon">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lat&#x60;. (optional)</param>
        /// <param name="sourceOffset">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Interprets that local wall-clock time at this fixed UTC offset. (optional)</param>
        /// <param name="tz">IANA timezone name. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="ip">IP address. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="lat">Latitude. Must be provided together with &#x60;lon&#x60;. (optional)</param>
        /// <param name="lon">Longitude. Must be provided together with &#x60;lat&#x60;. (optional)</param>
        /// <param name="offset">Fixed UTC offset in &#x60;+HH:MM&#x60; or &#x60;-HH:MM&#x60; format. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="autoTz">Set to &#x60;true&#x60; to resolve using the caller IP from Cloudflare headers. (optional)</param>
        /// <param name="utc">Set to &#x60;true&#x60; to force UTC on routes that support it. (optional)</param>
        /// <param name="format">Custom date/time format template using supported &#x60;strftime&#x60;-style directives such as &#x60;%Y-%m-%d %H:%M:%S&#x60;. Reference: [strftime](https://strftime.net/). (optional)</param>
        /// <param name="sign">Set to exactly &#x60;true&#x60; to ask the gateway to sign the final JSON response. Every authenticated JSON response, including errors, then includes signing headers. Not supported on &#x60;/v1/time/clock&#x60;. (optional)</param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>GetCurrentTime200Response</returns>
        GetCurrentTime200Response ConvertTime(long? unix = default(long?), long? unixMs = default(long?), string? iso = default(string?), string? sourceTz = default(string?), string? sourceIp = default(string?), double? sourceLat = default(double?), double? sourceLon = default(double?), string? sourceOffset = default(string?), string? tz = default(string?), string? ip = default(string?), double? lat = default(double?), double? lon = default(double?), string? offset = default(string?), bool? autoTz = default(bool?), bool? utc = default(bool?), string? format = default(string?), bool? sign = default(bool?), int operationIndex = 0);

        /// <summary>
        /// Convert a timestamp into a target timezone or offset
        /// </summary>
        /// <remarks>
        /// Converts one required input timestamp into a single target or a bulk array.  Input timestamp forms: - &#x60;unix&#x3D;1711300000&#x60; - &#x60;unix_ms&#x3D;1711300000000&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00Z&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_tz&#x3D;America/New_York&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_ip&#x3D;8.8.8.8&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_lat&#x3D;40.7128&amp;source_lon&#x3D;-74.0060&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_offset&#x3D;-05:00&#x60;  Target selector forms: - &#x60;tz&#x3D;America/New_York&#x60; - &#x60;ip&#x3D;8.8.8.8&#x60; - &#x60;lat&#x3D;40.7128&amp;lon&#x3D;-74.0060&#x60; - &#x60;offset&#x3D;-04:00&#x60; - &#x60;auto_tz&#x3D;true&#x60; - &#x60;utc&#x3D;true&#x60;  Incompatible combinations: - exactly one input timestamp form - exactly one target selector family - use at most one of &#x60;source_tz&#x60;, &#x60;source_ip&#x60;, &#x60;source_lat&#x60;/&#x60;source_lon&#x60;, or &#x60;source_offset&#x60; - local-ISO companion selectors are valid only with &#x60;iso&#x3D;...&#x60; that has no explicit offset - bulk is allowed only through one comma-separated &#x60;tz&#x60;, &#x60;ip&#x60;, or &#x60;offset&#x60; selector  Examples: - Single target: &#x60;/v1/time/convert?iso&#x3D;2026-04-16T09:00:00&amp;source_tz&#x3D;America/New_York&amp;tz&#x3D;Europe/London&#x60; - Bulk target set: &#x60;/v1/time/convert?unix&#x3D;1711300000&amp;offset&#x3D;-04:00,+00:00,+09:00&#x60; 
        /// </remarks>
        /// <exception cref="TimeLogic.Api.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="unix"> (optional)</param>
        /// <param name="unixMs"> (optional)</param>
        /// <param name="iso">ISO-8601 timestamp. To supply a local wall-clock time without an explicit offset, pair it with one of &#x60;source_tz&#x3D;Area/City&#x60;, &#x60;source_ip&#x3D;...&#x60;, &#x60;source_lat&#x3D;...&amp;source_lon&#x3D;...&#x60;, or &#x60;source_offset&#x3D;±HH:MM&#x60;. (optional)</param>
        /// <param name="sourceTz">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. (optional)</param>
        /// <param name="sourceIp">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Resolves that local wall-clock time through the timezone mapped from this IP address. (optional)</param>
        /// <param name="sourceLat">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lon&#x60; to resolve that local wall-clock time through the timezone mapped from these coordinates. (optional)</param>
        /// <param name="sourceLon">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lat&#x60;. (optional)</param>
        /// <param name="sourceOffset">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Interprets that local wall-clock time at this fixed UTC offset. (optional)</param>
        /// <param name="tz">IANA timezone name. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="ip">IP address. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="lat">Latitude. Must be provided together with &#x60;lon&#x60;. (optional)</param>
        /// <param name="lon">Longitude. Must be provided together with &#x60;lat&#x60;. (optional)</param>
        /// <param name="offset">Fixed UTC offset in &#x60;+HH:MM&#x60; or &#x60;-HH:MM&#x60; format. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="autoTz">Set to &#x60;true&#x60; to resolve using the caller IP from Cloudflare headers. (optional)</param>
        /// <param name="utc">Set to &#x60;true&#x60; to force UTC on routes that support it. (optional)</param>
        /// <param name="format">Custom date/time format template using supported &#x60;strftime&#x60;-style directives such as &#x60;%Y-%m-%d %H:%M:%S&#x60;. Reference: [strftime](https://strftime.net/). (optional)</param>
        /// <param name="sign">Set to exactly &#x60;true&#x60; to ask the gateway to sign the final JSON response. Every authenticated JSON response, including errors, then includes signing headers. Not supported on &#x60;/v1/time/clock&#x60;. (optional)</param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>ApiResponse of GetCurrentTime200Response</returns>
        ApiResponse<GetCurrentTime200Response> ConvertTimeWithHttpInfo(long? unix = default(long?), long? unixMs = default(long?), string? iso = default(string?), string? sourceTz = default(string?), string? sourceIp = default(string?), double? sourceLat = default(double?), double? sourceLon = default(double?), string? sourceOffset = default(string?), string? tz = default(string?), string? ip = default(string?), double? lat = default(double?), double? lon = default(double?), string? offset = default(string?), bool? autoTz = default(bool?), bool? utc = default(bool?), string? format = default(string?), bool? sign = default(bool?), int operationIndex = 0);
        /// <summary>
        /// Difference between two instants
        /// </summary>
        /// <remarks>
        /// Computes the duration between &#x60;from&#x60; and &#x60;to&#x60;.  Required query fields: &#x60;from&#x60; and &#x60;to&#x60; only. Do not send every optional companion field. For each side, choose one supported specifier form. A &#x60;from_*&#x60; or &#x60;to_*&#x60; companion is allowed only when that side uses &#x60;iso&#x3D;...&#x60; with no explicit offset; use at most one companion selector, except that coordinate input requires its paired latitude and longitude.  &#x60;from&#x60; and &#x60;to&#x60; are embedded specifier strings.  Accepted specifier forms: - &#x60;from&#x3D;now&#x60; - &#x60;from&#x3D;unix&#x3D;1711300000&#x60; - &#x60;from&#x3D;unix_ms&#x3D;1711300000000&#x60; - &#x60;from&#x3D;iso&#x3D;2026-04-16T09:00:00&#x60; - &#x60;from&#x3D;tz&#x3D;America/New_York&#x60; - &#x60;from&#x3D;ip&#x3D;8.8.8.8&#x60; - &#x60;from&#x3D;offset&#x3D;-05:00&#x60; - the same forms are accepted for &#x60;to&#x60;  Timezone hint pairings: - &#x60;from_tz&#x60; only with &#x60;from&#x3D;iso&#x3D;...&#x60; that has no explicit offset - &#x60;from_ip&#x60;, &#x60;from_lat&#x60;/&#x60;from_lon&#x60;, and &#x60;from_offset&#x60; only with &#x60;from&#x3D;iso&#x3D;...&#x60; that has no explicit offset - &#x60;to_tz&#x60; only with &#x60;to&#x3D;iso&#x3D;...&#x60; that has no explicit offset - &#x60;to_ip&#x60;, &#x60;to_lat&#x60;/&#x60;to_lon&#x60;, and &#x60;to_offset&#x60; only with &#x60;to&#x3D;iso&#x3D;...&#x60; that has no explicit offset  Selector semantics: - &#x60;tz&#x3D;...&#x60;, &#x60;ip&#x3D;...&#x60;, and &#x60;offset&#x3D;...&#x60; inside &#x60;from&#x60; or &#x60;to&#x60; mean the current request-time instant resolved through that selector - those selector forms do not represent an arbitrary local wall-clock time - returned duration magnitudes are absolute; use &#x60;direction&#x60; to see whether &#x60;to&#x60; is after, before, or the same instant as &#x60;from&#x60;  Business-day rules: - &#x60;holiday_country&#x60; and &#x60;holiday_subdivision&#x60; require &#x60;business_days&#x3D;true&#x60; - &#x60;holiday_subdivision&#x60; also requires &#x60;holiday_country&#x60;  Examples: - Selector-current instant: &#x60;/v1/time/diff?from&#x3D;unix&#x3D;1711300000&amp;to&#x3D;tz&#x3D;America/New_York&#x60; - Wall-clock pairing: &#x60;/v1/time/diff?from&#x3D;iso&#x3D;2026-04-16T09:00:00&amp;from_tz&#x3D;America/New_York&amp;to&#x3D;iso&#x3D;2026-04-16T09:00:00&amp;to_tz&#x3D;Europe/London&#x60; - Wall-clock via selector: &#x60;/v1/time/diff?from&#x3D;iso&#x3D;2026-01-01T12:00:00&amp;from_ip&#x3D;8.8.8.8&amp;to&#x3D;iso&#x3D;2026-01-01T12:00:00&amp;to_offset&#x3D;-05:00&#x60; 
        /// </remarks>
        /// <exception cref="TimeLogic.Api.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="from">Time specifier. Supported forms are &#x60;now&#x60;, &#x60;unix&#x3D;&lt;seconds&gt;&#x60;, &#x60;unix_ms&#x3D;&lt;milliseconds&gt;&#x60;, &#x60;iso&#x3D;&lt;ISO-8601&gt;&#x60;, &#x60;offset&#x3D;±HH:MM&#x60;, &#x60;tz&#x3D;&lt;IANA timezone&gt;&#x60;, and &#x60;ip&#x3D;&lt;IP address&gt;&#x60;. For &#x60;tz&#x3D;...&#x60;, &#x60;ip&#x3D;...&#x60;, and &#x60;offset&#x3D;...&#x60;, the specifier means the current request-time instant resolved through that selector. To express a local wall-clock time, use &#x60;from&#x3D;iso&#x3D;...&#x60; together with one of &#x60;from_tz&#x60;, &#x60;from_ip&#x60;, &#x60;from_lat&#x60;+&#x60;from_lon&#x60;, or &#x60;from_offset&#x60;.</param>
        /// <param name="to">Time specifier. Supported forms are &#x60;now&#x60;, &#x60;unix&#x3D;&lt;seconds&gt;&#x60;, &#x60;unix_ms&#x3D;&lt;milliseconds&gt;&#x60;, &#x60;iso&#x3D;&lt;ISO-8601&gt;&#x60;, &#x60;offset&#x3D;±HH:MM&#x60;, &#x60;tz&#x3D;&lt;IANA timezone&gt;&#x60;, and &#x60;ip&#x3D;&lt;IP address&gt;&#x60;. For &#x60;tz&#x3D;...&#x60;, &#x60;ip&#x3D;...&#x60;, and &#x60;offset&#x3D;...&#x60;, the specifier means the current request-time instant resolved through that selector. To express a local wall-clock time, use &#x60;to&#x3D;iso&#x3D;...&#x60; together with one of &#x60;to_tz&#x60;, &#x60;to_ip&#x60;, &#x60;to_lat&#x60;+&#x60;to_lon&#x60;, or &#x60;to_offset&#x60;.</param>
        /// <param name="fromTz">Used only with &#x60;from&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. (optional)</param>
        /// <param name="fromIp">Used only with &#x60;from&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Resolves that local wall-clock time through the timezone mapped from this IP address. (optional)</param>
        /// <param name="fromLat">Used only with &#x60;from&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;from_lon&#x60; to resolve that local wall-clock time through the timezone mapped from these coordinates. (optional)</param>
        /// <param name="fromLon">Used only with &#x60;from&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;from_lat&#x60;. (optional)</param>
        /// <param name="fromOffset">Used only with &#x60;from&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Interprets that local wall-clock time at this fixed UTC offset. (optional)</param>
        /// <param name="toTz">Used only with &#x60;to&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. (optional)</param>
        /// <param name="toIp">Used only with &#x60;to&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Resolves that local wall-clock time through the timezone mapped from this IP address. (optional)</param>
        /// <param name="toLat">Used only with &#x60;to&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;to_lon&#x60; to resolve that local wall-clock time through the timezone mapped from these coordinates. (optional)</param>
        /// <param name="toLon">Used only with &#x60;to&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;to_lat&#x60;. (optional)</param>
        /// <param name="toOffset">Used only with &#x60;to&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Interprets that local wall-clock time at this fixed UTC offset. (optional)</param>
        /// <param name="format">Custom duration format template using &#x60;%days&#x60;, &#x60;%hours&#x60;, &#x60;%minutes&#x60;, and &#x60;%seconds&#x60;. (optional)</param>
        /// <param name="businessDays">Set to &#x60;true&#x60; to enable weekday/business-day counting. (optional)</param>
        /// <param name="holidayCountry">ISO 3166-1 alpha-2 holiday calendar country code. Requires &#x60;business_days&#x3D;true&#x60;. (optional)</param>
        /// <param name="holidaySubdivision">Holiday calendar subdivision code from the upstream &#x60;python-holidays&#x60; calendar, for example &#x60;CA&#x60; or &#x60;ENG&#x60;. Requires &#x60;holiday_country&#x60; and &#x60;business_days&#x3D;true&#x60;. (optional)</param>
        /// <param name="sign">Set to exactly &#x60;true&#x60; to ask the gateway to sign the final JSON response. Every authenticated JSON response, including errors, then includes signing headers. Not supported on &#x60;/v1/time/clock&#x60;. (optional)</param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>DiffResponse</returns>
        DiffResponse DiffTime(string from, string to, string? fromTz = default(string?), string? fromIp = default(string?), double? fromLat = default(double?), double? fromLon = default(double?), string? fromOffset = default(string?), string? toTz = default(string?), string? toIp = default(string?), double? toLat = default(double?), double? toLon = default(double?), string? toOffset = default(string?), string? format = default(string?), bool? businessDays = default(bool?), string? holidayCountry = default(string?), string? holidaySubdivision = default(string?), bool? sign = default(bool?), int operationIndex = 0);

        /// <summary>
        /// Difference between two instants
        /// </summary>
        /// <remarks>
        /// Computes the duration between &#x60;from&#x60; and &#x60;to&#x60;.  Required query fields: &#x60;from&#x60; and &#x60;to&#x60; only. Do not send every optional companion field. For each side, choose one supported specifier form. A &#x60;from_*&#x60; or &#x60;to_*&#x60; companion is allowed only when that side uses &#x60;iso&#x3D;...&#x60; with no explicit offset; use at most one companion selector, except that coordinate input requires its paired latitude and longitude.  &#x60;from&#x60; and &#x60;to&#x60; are embedded specifier strings.  Accepted specifier forms: - &#x60;from&#x3D;now&#x60; - &#x60;from&#x3D;unix&#x3D;1711300000&#x60; - &#x60;from&#x3D;unix_ms&#x3D;1711300000000&#x60; - &#x60;from&#x3D;iso&#x3D;2026-04-16T09:00:00&#x60; - &#x60;from&#x3D;tz&#x3D;America/New_York&#x60; - &#x60;from&#x3D;ip&#x3D;8.8.8.8&#x60; - &#x60;from&#x3D;offset&#x3D;-05:00&#x60; - the same forms are accepted for &#x60;to&#x60;  Timezone hint pairings: - &#x60;from_tz&#x60; only with &#x60;from&#x3D;iso&#x3D;...&#x60; that has no explicit offset - &#x60;from_ip&#x60;, &#x60;from_lat&#x60;/&#x60;from_lon&#x60;, and &#x60;from_offset&#x60; only with &#x60;from&#x3D;iso&#x3D;...&#x60; that has no explicit offset - &#x60;to_tz&#x60; only with &#x60;to&#x3D;iso&#x3D;...&#x60; that has no explicit offset - &#x60;to_ip&#x60;, &#x60;to_lat&#x60;/&#x60;to_lon&#x60;, and &#x60;to_offset&#x60; only with &#x60;to&#x3D;iso&#x3D;...&#x60; that has no explicit offset  Selector semantics: - &#x60;tz&#x3D;...&#x60;, &#x60;ip&#x3D;...&#x60;, and &#x60;offset&#x3D;...&#x60; inside &#x60;from&#x60; or &#x60;to&#x60; mean the current request-time instant resolved through that selector - those selector forms do not represent an arbitrary local wall-clock time - returned duration magnitudes are absolute; use &#x60;direction&#x60; to see whether &#x60;to&#x60; is after, before, or the same instant as &#x60;from&#x60;  Business-day rules: - &#x60;holiday_country&#x60; and &#x60;holiday_subdivision&#x60; require &#x60;business_days&#x3D;true&#x60; - &#x60;holiday_subdivision&#x60; also requires &#x60;holiday_country&#x60;  Examples: - Selector-current instant: &#x60;/v1/time/diff?from&#x3D;unix&#x3D;1711300000&amp;to&#x3D;tz&#x3D;America/New_York&#x60; - Wall-clock pairing: &#x60;/v1/time/diff?from&#x3D;iso&#x3D;2026-04-16T09:00:00&amp;from_tz&#x3D;America/New_York&amp;to&#x3D;iso&#x3D;2026-04-16T09:00:00&amp;to_tz&#x3D;Europe/London&#x60; - Wall-clock via selector: &#x60;/v1/time/diff?from&#x3D;iso&#x3D;2026-01-01T12:00:00&amp;from_ip&#x3D;8.8.8.8&amp;to&#x3D;iso&#x3D;2026-01-01T12:00:00&amp;to_offset&#x3D;-05:00&#x60; 
        /// </remarks>
        /// <exception cref="TimeLogic.Api.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="from">Time specifier. Supported forms are &#x60;now&#x60;, &#x60;unix&#x3D;&lt;seconds&gt;&#x60;, &#x60;unix_ms&#x3D;&lt;milliseconds&gt;&#x60;, &#x60;iso&#x3D;&lt;ISO-8601&gt;&#x60;, &#x60;offset&#x3D;±HH:MM&#x60;, &#x60;tz&#x3D;&lt;IANA timezone&gt;&#x60;, and &#x60;ip&#x3D;&lt;IP address&gt;&#x60;. For &#x60;tz&#x3D;...&#x60;, &#x60;ip&#x3D;...&#x60;, and &#x60;offset&#x3D;...&#x60;, the specifier means the current request-time instant resolved through that selector. To express a local wall-clock time, use &#x60;from&#x3D;iso&#x3D;...&#x60; together with one of &#x60;from_tz&#x60;, &#x60;from_ip&#x60;, &#x60;from_lat&#x60;+&#x60;from_lon&#x60;, or &#x60;from_offset&#x60;.</param>
        /// <param name="to">Time specifier. Supported forms are &#x60;now&#x60;, &#x60;unix&#x3D;&lt;seconds&gt;&#x60;, &#x60;unix_ms&#x3D;&lt;milliseconds&gt;&#x60;, &#x60;iso&#x3D;&lt;ISO-8601&gt;&#x60;, &#x60;offset&#x3D;±HH:MM&#x60;, &#x60;tz&#x3D;&lt;IANA timezone&gt;&#x60;, and &#x60;ip&#x3D;&lt;IP address&gt;&#x60;. For &#x60;tz&#x3D;...&#x60;, &#x60;ip&#x3D;...&#x60;, and &#x60;offset&#x3D;...&#x60;, the specifier means the current request-time instant resolved through that selector. To express a local wall-clock time, use &#x60;to&#x3D;iso&#x3D;...&#x60; together with one of &#x60;to_tz&#x60;, &#x60;to_ip&#x60;, &#x60;to_lat&#x60;+&#x60;to_lon&#x60;, or &#x60;to_offset&#x60;.</param>
        /// <param name="fromTz">Used only with &#x60;from&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. (optional)</param>
        /// <param name="fromIp">Used only with &#x60;from&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Resolves that local wall-clock time through the timezone mapped from this IP address. (optional)</param>
        /// <param name="fromLat">Used only with &#x60;from&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;from_lon&#x60; to resolve that local wall-clock time through the timezone mapped from these coordinates. (optional)</param>
        /// <param name="fromLon">Used only with &#x60;from&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;from_lat&#x60;. (optional)</param>
        /// <param name="fromOffset">Used only with &#x60;from&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Interprets that local wall-clock time at this fixed UTC offset. (optional)</param>
        /// <param name="toTz">Used only with &#x60;to&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. (optional)</param>
        /// <param name="toIp">Used only with &#x60;to&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Resolves that local wall-clock time through the timezone mapped from this IP address. (optional)</param>
        /// <param name="toLat">Used only with &#x60;to&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;to_lon&#x60; to resolve that local wall-clock time through the timezone mapped from these coordinates. (optional)</param>
        /// <param name="toLon">Used only with &#x60;to&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;to_lat&#x60;. (optional)</param>
        /// <param name="toOffset">Used only with &#x60;to&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Interprets that local wall-clock time at this fixed UTC offset. (optional)</param>
        /// <param name="format">Custom duration format template using &#x60;%days&#x60;, &#x60;%hours&#x60;, &#x60;%minutes&#x60;, and &#x60;%seconds&#x60;. (optional)</param>
        /// <param name="businessDays">Set to &#x60;true&#x60; to enable weekday/business-day counting. (optional)</param>
        /// <param name="holidayCountry">ISO 3166-1 alpha-2 holiday calendar country code. Requires &#x60;business_days&#x3D;true&#x60;. (optional)</param>
        /// <param name="holidaySubdivision">Holiday calendar subdivision code from the upstream &#x60;python-holidays&#x60; calendar, for example &#x60;CA&#x60; or &#x60;ENG&#x60;. Requires &#x60;holiday_country&#x60; and &#x60;business_days&#x3D;true&#x60;. (optional)</param>
        /// <param name="sign">Set to exactly &#x60;true&#x60; to ask the gateway to sign the final JSON response. Every authenticated JSON response, including errors, then includes signing headers. Not supported on &#x60;/v1/time/clock&#x60;. (optional)</param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>ApiResponse of DiffResponse</returns>
        ApiResponse<DiffResponse> DiffTimeWithHttpInfo(string from, string to, string? fromTz = default(string?), string? fromIp = default(string?), double? fromLat = default(double?), double? fromLon = default(double?), string? fromOffset = default(string?), string? toTz = default(string?), string? toIp = default(string?), double? toLat = default(double?), double? toLon = default(double?), string? toOffset = default(string?), string? format = default(string?), bool? businessDays = default(bool?), string? holidayCountry = default(string?), string? holidaySubdivision = default(string?), bool? sign = default(bool?), int operationIndex = 0);
        /// <summary>
        /// Calendar projection for a target instant
        /// </summary>
        /// <remarks>
        /// Returns calendar fields for an optional timestamp and target.  Input timestamp forms: - &#x60;unix&#x3D;1711300000&#x60; - &#x60;unix_ms&#x3D;1711300000000&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00Z&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_tz&#x3D;America/New_York&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_ip&#x3D;8.8.8.8&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_lat&#x3D;40.7128&amp;source_lon&#x3D;-74.0060&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_offset&#x3D;-05:00&#x60; - if no input timestamp is provided, the request time is used  Target selector forms: - &#x60;tz&#x3D;America/New_York&#x60; - &#x60;ip&#x3D;8.8.8.8&#x60; - &#x60;lat&#x3D;40.7128&amp;lon&#x3D;-74.0060&#x60; - &#x60;offset&#x3D;-04:00&#x60; - &#x60;auto_tz&#x3D;true&#x60;  Additional flags: - &#x60;week&#x3D;true&#x60; adds &#x60;week_number&#x60;  Incompatible combinations: - at most one input timestamp form - at most one target selector family - use at most one of &#x60;source_tz&#x60;, &#x60;source_ip&#x60;, &#x60;source_lat&#x60;/&#x60;source_lon&#x60;, or &#x60;source_offset&#x60; - local-ISO companion selectors are valid only with &#x60;iso&#x3D;...&#x60; that has no explicit offset - bulk is not supported on this route  Examples: - &#x60;/v1/time/calendar?iso&#x3D;2026-04-16T09:00:00&amp;source_tz&#x3D;America/New_York&amp;tz&#x3D;Europe/London&amp;week&#x3D;true&#x60; - &#x60;/v1/time/calendar?unix&#x3D;1711300000&amp;auto_tz&#x3D;true&#x60; 
        /// </remarks>
        /// <exception cref="TimeLogic.Api.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="unix"> (optional)</param>
        /// <param name="unixMs"> (optional)</param>
        /// <param name="iso">ISO-8601 timestamp. To supply a local wall-clock time without an explicit offset, pair it with one of &#x60;source_tz&#x3D;Area/City&#x60;, &#x60;source_ip&#x3D;...&#x60;, &#x60;source_lat&#x3D;...&amp;source_lon&#x3D;...&#x60;, or &#x60;source_offset&#x3D;±HH:MM&#x60;. (optional)</param>
        /// <param name="sourceTz">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. (optional)</param>
        /// <param name="sourceIp">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Resolves that local wall-clock time through the timezone mapped from this IP address. (optional)</param>
        /// <param name="sourceLat">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lon&#x60; to resolve that local wall-clock time through the timezone mapped from these coordinates. (optional)</param>
        /// <param name="sourceLon">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lat&#x60;. (optional)</param>
        /// <param name="sourceOffset">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Interprets that local wall-clock time at this fixed UTC offset. (optional)</param>
        /// <param name="tz">IANA timezone name. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="ip">IP address. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="lat">Latitude. Must be provided together with &#x60;lon&#x60;. (optional)</param>
        /// <param name="lon">Longitude. Must be provided together with &#x60;lat&#x60;. (optional)</param>
        /// <param name="offset">Fixed UTC offset in &#x60;+HH:MM&#x60; or &#x60;-HH:MM&#x60; format. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="autoTz">Set to &#x60;true&#x60; to resolve using the caller IP from Cloudflare headers. (optional)</param>
        /// <param name="format">Custom date/time format template using supported &#x60;strftime&#x60;-style directives such as &#x60;%Y-%m-%d %H:%M:%S&#x60;. Reference: [strftime](https://strftime.net/). (optional)</param>
        /// <param name="week"> (optional)</param>
        /// <param name="sign">Set to exactly &#x60;true&#x60; to ask the gateway to sign the final JSON response. Every authenticated JSON response, including errors, then includes signing headers. Not supported on &#x60;/v1/time/clock&#x60;. (optional)</param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>CalendarResponse</returns>
        CalendarResponse GetCalendar(long? unix = default(long?), long? unixMs = default(long?), string? iso = default(string?), string? sourceTz = default(string?), string? sourceIp = default(string?), double? sourceLat = default(double?), double? sourceLon = default(double?), string? sourceOffset = default(string?), string? tz = default(string?), string? ip = default(string?), double? lat = default(double?), double? lon = default(double?), string? offset = default(string?), bool? autoTz = default(bool?), string? format = default(string?), bool? week = default(bool?), bool? sign = default(bool?), int operationIndex = 0);

        /// <summary>
        /// Calendar projection for a target instant
        /// </summary>
        /// <remarks>
        /// Returns calendar fields for an optional timestamp and target.  Input timestamp forms: - &#x60;unix&#x3D;1711300000&#x60; - &#x60;unix_ms&#x3D;1711300000000&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00Z&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_tz&#x3D;America/New_York&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_ip&#x3D;8.8.8.8&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_lat&#x3D;40.7128&amp;source_lon&#x3D;-74.0060&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_offset&#x3D;-05:00&#x60; - if no input timestamp is provided, the request time is used  Target selector forms: - &#x60;tz&#x3D;America/New_York&#x60; - &#x60;ip&#x3D;8.8.8.8&#x60; - &#x60;lat&#x3D;40.7128&amp;lon&#x3D;-74.0060&#x60; - &#x60;offset&#x3D;-04:00&#x60; - &#x60;auto_tz&#x3D;true&#x60;  Additional flags: - &#x60;week&#x3D;true&#x60; adds &#x60;week_number&#x60;  Incompatible combinations: - at most one input timestamp form - at most one target selector family - use at most one of &#x60;source_tz&#x60;, &#x60;source_ip&#x60;, &#x60;source_lat&#x60;/&#x60;source_lon&#x60;, or &#x60;source_offset&#x60; - local-ISO companion selectors are valid only with &#x60;iso&#x3D;...&#x60; that has no explicit offset - bulk is not supported on this route  Examples: - &#x60;/v1/time/calendar?iso&#x3D;2026-04-16T09:00:00&amp;source_tz&#x3D;America/New_York&amp;tz&#x3D;Europe/London&amp;week&#x3D;true&#x60; - &#x60;/v1/time/calendar?unix&#x3D;1711300000&amp;auto_tz&#x3D;true&#x60; 
        /// </remarks>
        /// <exception cref="TimeLogic.Api.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="unix"> (optional)</param>
        /// <param name="unixMs"> (optional)</param>
        /// <param name="iso">ISO-8601 timestamp. To supply a local wall-clock time without an explicit offset, pair it with one of &#x60;source_tz&#x3D;Area/City&#x60;, &#x60;source_ip&#x3D;...&#x60;, &#x60;source_lat&#x3D;...&amp;source_lon&#x3D;...&#x60;, or &#x60;source_offset&#x3D;±HH:MM&#x60;. (optional)</param>
        /// <param name="sourceTz">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. (optional)</param>
        /// <param name="sourceIp">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Resolves that local wall-clock time through the timezone mapped from this IP address. (optional)</param>
        /// <param name="sourceLat">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lon&#x60; to resolve that local wall-clock time through the timezone mapped from these coordinates. (optional)</param>
        /// <param name="sourceLon">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lat&#x60;. (optional)</param>
        /// <param name="sourceOffset">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Interprets that local wall-clock time at this fixed UTC offset. (optional)</param>
        /// <param name="tz">IANA timezone name. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="ip">IP address. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="lat">Latitude. Must be provided together with &#x60;lon&#x60;. (optional)</param>
        /// <param name="lon">Longitude. Must be provided together with &#x60;lat&#x60;. (optional)</param>
        /// <param name="offset">Fixed UTC offset in &#x60;+HH:MM&#x60; or &#x60;-HH:MM&#x60; format. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="autoTz">Set to &#x60;true&#x60; to resolve using the caller IP from Cloudflare headers. (optional)</param>
        /// <param name="format">Custom date/time format template using supported &#x60;strftime&#x60;-style directives such as &#x60;%Y-%m-%d %H:%M:%S&#x60;. Reference: [strftime](https://strftime.net/). (optional)</param>
        /// <param name="week"> (optional)</param>
        /// <param name="sign">Set to exactly &#x60;true&#x60; to ask the gateway to sign the final JSON response. Every authenticated JSON response, including errors, then includes signing headers. Not supported on &#x60;/v1/time/clock&#x60;. (optional)</param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>ApiResponse of CalendarResponse</returns>
        ApiResponse<CalendarResponse> GetCalendarWithHttpInfo(long? unix = default(long?), long? unixMs = default(long?), string? iso = default(string?), string? sourceTz = default(string?), string? sourceIp = default(string?), double? sourceLat = default(double?), double? sourceLon = default(double?), string? sourceOffset = default(string?), string? tz = default(string?), string? ip = default(string?), double? lat = default(double?), double? lon = default(double?), string? offset = default(string?), bool? autoTz = default(bool?), string? format = default(string?), bool? week = default(bool?), bool? sign = default(bool?), int operationIndex = 0);
        /// <summary>
        /// Render a live HTML clock
        /// </summary>
        /// <remarks>
        /// Returns an embeddable HTML clock fragment.  Input timestamp forms: - &#x60;unix&#x3D;1711300000&#x60; - &#x60;unix_ms&#x3D;1711300000000&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00Z&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_tz&#x3D;America/New_York&#x60;  Target selector forms: - &#x60;tz&#x3D;America/New_York&#x60; - &#x60;ip&#x3D;8.8.8.8&#x60; - &#x60;lat&#x3D;40.7128&amp;lon&#x3D;-74.0060&#x60; - &#x60;offset&#x3D;-04:00&#x60;  Incompatible combinations: - &#x60;style&#x60; is required and must be one of the 30 names in the &#x60;style&#x60; enum - at most one input timestamp form - at most one target selector family - use at most one of &#x60;source_tz&#x60;, &#x60;source_ip&#x60;, &#x60;source_lat&#x60;/&#x60;source_lon&#x60;, or &#x60;source_offset&#x60; - local-ISO companion selectors are valid only with &#x60;iso&#x3D;...&#x60; that has no explicit offset - this route is single-target only; comma-separated &#x60;tz&#x60;, &#x60;ip&#x60;, and &#x60;offset&#x60; values are rejected - &#x60;auto_tz&#x60; is not supported on this route - &#x60;sign&#x60; is not supported on this route  Examples: - Digital: &#x60;/v1/time/clock?style&#x3D;digital-dashboard&amp;iso&#x3D;2026-04-16T09:00:00&amp;source_tz&#x3D;America/New_York&amp;tz&#x3D;Europe/London&#x60; - Analog: &#x60;/v1/time/clock?style&#x3D;analog-station&amp;offset&#x3D;-04:00&#x60; 
        /// </remarks>
        /// <exception cref="TimeLogic.Api.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="style">Clock style name. Valid values are enumerated here; there is no separate style discovery endpoint.</param>
        /// <param name="unix"> (optional)</param>
        /// <param name="unixMs"> (optional)</param>
        /// <param name="iso">ISO-8601 timestamp. To supply a local wall-clock time without an explicit offset, pair it with one of &#x60;source_tz&#x3D;Area/City&#x60;, &#x60;source_ip&#x3D;...&#x60;, &#x60;source_lat&#x3D;...&amp;source_lon&#x3D;...&#x60;, or &#x60;source_offset&#x3D;±HH:MM&#x60;. (optional)</param>
        /// <param name="sourceTz">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. (optional)</param>
        /// <param name="sourceIp">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Resolves that local wall-clock time through the timezone mapped from this IP address. (optional)</param>
        /// <param name="sourceLat">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lon&#x60; to resolve that local wall-clock time through the timezone mapped from these coordinates. (optional)</param>
        /// <param name="sourceLon">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lat&#x60;. (optional)</param>
        /// <param name="sourceOffset">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Interprets that local wall-clock time at this fixed UTC offset. (optional)</param>
        /// <param name="tz">IANA timezone name. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="ip">IP address. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="lat">Latitude. Must be provided together with &#x60;lon&#x60;. (optional)</param>
        /// <param name="lon">Longitude. Must be provided together with &#x60;lat&#x60;. (optional)</param>
        /// <param name="offset">Fixed UTC offset in &#x60;+HH:MM&#x60; or &#x60;-HH:MM&#x60; format. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="format">Custom date/time format template using supported &#x60;strftime&#x60;-style directives such as &#x60;%Y-%m-%d %H:%M:%S&#x60;. Reference: [strftime](https://strftime.net/). (optional)</param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>string</returns>
        string GetClock(string style, long? unix = default(long?), long? unixMs = default(long?), string? iso = default(string?), string? sourceTz = default(string?), string? sourceIp = default(string?), double? sourceLat = default(double?), double? sourceLon = default(double?), string? sourceOffset = default(string?), string? tz = default(string?), string? ip = default(string?), double? lat = default(double?), double? lon = default(double?), string? offset = default(string?), string? format = default(string?), int operationIndex = 0);

        /// <summary>
        /// Render a live HTML clock
        /// </summary>
        /// <remarks>
        /// Returns an embeddable HTML clock fragment.  Input timestamp forms: - &#x60;unix&#x3D;1711300000&#x60; - &#x60;unix_ms&#x3D;1711300000000&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00Z&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_tz&#x3D;America/New_York&#x60;  Target selector forms: - &#x60;tz&#x3D;America/New_York&#x60; - &#x60;ip&#x3D;8.8.8.8&#x60; - &#x60;lat&#x3D;40.7128&amp;lon&#x3D;-74.0060&#x60; - &#x60;offset&#x3D;-04:00&#x60;  Incompatible combinations: - &#x60;style&#x60; is required and must be one of the 30 names in the &#x60;style&#x60; enum - at most one input timestamp form - at most one target selector family - use at most one of &#x60;source_tz&#x60;, &#x60;source_ip&#x60;, &#x60;source_lat&#x60;/&#x60;source_lon&#x60;, or &#x60;source_offset&#x60; - local-ISO companion selectors are valid only with &#x60;iso&#x3D;...&#x60; that has no explicit offset - this route is single-target only; comma-separated &#x60;tz&#x60;, &#x60;ip&#x60;, and &#x60;offset&#x60; values are rejected - &#x60;auto_tz&#x60; is not supported on this route - &#x60;sign&#x60; is not supported on this route  Examples: - Digital: &#x60;/v1/time/clock?style&#x3D;digital-dashboard&amp;iso&#x3D;2026-04-16T09:00:00&amp;source_tz&#x3D;America/New_York&amp;tz&#x3D;Europe/London&#x60; - Analog: &#x60;/v1/time/clock?style&#x3D;analog-station&amp;offset&#x3D;-04:00&#x60; 
        /// </remarks>
        /// <exception cref="TimeLogic.Api.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="style">Clock style name. Valid values are enumerated here; there is no separate style discovery endpoint.</param>
        /// <param name="unix"> (optional)</param>
        /// <param name="unixMs"> (optional)</param>
        /// <param name="iso">ISO-8601 timestamp. To supply a local wall-clock time without an explicit offset, pair it with one of &#x60;source_tz&#x3D;Area/City&#x60;, &#x60;source_ip&#x3D;...&#x60;, &#x60;source_lat&#x3D;...&amp;source_lon&#x3D;...&#x60;, or &#x60;source_offset&#x3D;±HH:MM&#x60;. (optional)</param>
        /// <param name="sourceTz">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. (optional)</param>
        /// <param name="sourceIp">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Resolves that local wall-clock time through the timezone mapped from this IP address. (optional)</param>
        /// <param name="sourceLat">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lon&#x60; to resolve that local wall-clock time through the timezone mapped from these coordinates. (optional)</param>
        /// <param name="sourceLon">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lat&#x60;. (optional)</param>
        /// <param name="sourceOffset">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Interprets that local wall-clock time at this fixed UTC offset. (optional)</param>
        /// <param name="tz">IANA timezone name. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="ip">IP address. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="lat">Latitude. Must be provided together with &#x60;lon&#x60;. (optional)</param>
        /// <param name="lon">Longitude. Must be provided together with &#x60;lat&#x60;. (optional)</param>
        /// <param name="offset">Fixed UTC offset in &#x60;+HH:MM&#x60; or &#x60;-HH:MM&#x60; format. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="format">Custom date/time format template using supported &#x60;strftime&#x60;-style directives such as &#x60;%Y-%m-%d %H:%M:%S&#x60;. Reference: [strftime](https://strftime.net/). (optional)</param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>ApiResponse of string</returns>
        ApiResponse<string> GetClockWithHttpInfo(string style, long? unix = default(long?), long? unixMs = default(long?), string? iso = default(string?), string? sourceTz = default(string?), string? sourceIp = default(string?), double? sourceLat = default(double?), double? sourceLon = default(double?), string? sourceOffset = default(string?), string? tz = default(string?), string? ip = default(string?), double? lat = default(double?), double? lon = default(double?), string? offset = default(string?), string? format = default(string?), int operationIndex = 0);
        /// <summary>
        /// Get the current time for a target
        /// </summary>
        /// <remarks>
        /// Returns current time data for a single target, or a bulk array when exactly one of &#x60;tz&#x60;, &#x60;ip&#x60;, or &#x60;offset&#x60; is supplied as a comma-separated list.  Target selector rules: - Use at most one selector family per request: &#x60;tz&#x60;, &#x60;ip&#x60;, &#x60;lat&#x60; + &#x60;lon&#x60;, &#x60;offset&#x60;, or &#x60;auto_tz&#x3D;true&#x60;. - If no selector is provided, the response defaults to UTC with &#x60;timezone&#x3D;null&#x60; and &#x60;iso_local&#x3D;null&#x60;. - Bulk mode is available only through one comma-separated &#x60;tz&#x60;, &#x60;ip&#x60;, or &#x60;offset&#x60; selector and cannot be combined with any other selector.  Example: - Single target: &#x60;/v1/time/current?tz&#x3D;America/New_York&#x60; - For bulk, provide one comma-separated &#x60;tz&#x60;, &#x60;ip&#x60;, or &#x60;offset&#x60; value, for example &#x60;/v1/time/current?tz&#x3D;America/New_York,Europe/London,Asia/Tokyo&#x60;.
        /// </remarks>
        /// <exception cref="TimeLogic.Api.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="tz">IANA timezone name. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="ip">IP address. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="lat">Latitude. Must be provided together with &#x60;lon&#x60;. (optional)</param>
        /// <param name="lon">Longitude. Must be provided together with &#x60;lat&#x60;. (optional)</param>
        /// <param name="offset">Fixed UTC offset in &#x60;+HH:MM&#x60; or &#x60;-HH:MM&#x60; format. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="autoTz">Set to &#x60;true&#x60; to resolve using the caller IP from Cloudflare headers. (optional)</param>
        /// <param name="format">Custom date/time format template using supported &#x60;strftime&#x60;-style directives such as &#x60;%Y-%m-%d %H:%M:%S&#x60;. Reference: [strftime](https://strftime.net/). (optional)</param>
        /// <param name="sign">Set to exactly &#x60;true&#x60; to ask the gateway to sign the final JSON response. Every authenticated JSON response, including errors, then includes signing headers. Not supported on &#x60;/v1/time/clock&#x60;. (optional)</param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>GetCurrentTime200Response</returns>
        GetCurrentTime200Response GetCurrentTime(string? tz = default(string?), string? ip = default(string?), double? lat = default(double?), double? lon = default(double?), string? offset = default(string?), bool? autoTz = default(bool?), string? format = default(string?), bool? sign = default(bool?), int operationIndex = 0);

        /// <summary>
        /// Get the current time for a target
        /// </summary>
        /// <remarks>
        /// Returns current time data for a single target, or a bulk array when exactly one of &#x60;tz&#x60;, &#x60;ip&#x60;, or &#x60;offset&#x60; is supplied as a comma-separated list.  Target selector rules: - Use at most one selector family per request: &#x60;tz&#x60;, &#x60;ip&#x60;, &#x60;lat&#x60; + &#x60;lon&#x60;, &#x60;offset&#x60;, or &#x60;auto_tz&#x3D;true&#x60;. - If no selector is provided, the response defaults to UTC with &#x60;timezone&#x3D;null&#x60; and &#x60;iso_local&#x3D;null&#x60;. - Bulk mode is available only through one comma-separated &#x60;tz&#x60;, &#x60;ip&#x60;, or &#x60;offset&#x60; selector and cannot be combined with any other selector.  Example: - Single target: &#x60;/v1/time/current?tz&#x3D;America/New_York&#x60; - For bulk, provide one comma-separated &#x60;tz&#x60;, &#x60;ip&#x60;, or &#x60;offset&#x60; value, for example &#x60;/v1/time/current?tz&#x3D;America/New_York,Europe/London,Asia/Tokyo&#x60;.
        /// </remarks>
        /// <exception cref="TimeLogic.Api.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="tz">IANA timezone name. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="ip">IP address. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="lat">Latitude. Must be provided together with &#x60;lon&#x60;. (optional)</param>
        /// <param name="lon">Longitude. Must be provided together with &#x60;lat&#x60;. (optional)</param>
        /// <param name="offset">Fixed UTC offset in &#x60;+HH:MM&#x60; or &#x60;-HH:MM&#x60; format. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="autoTz">Set to &#x60;true&#x60; to resolve using the caller IP from Cloudflare headers. (optional)</param>
        /// <param name="format">Custom date/time format template using supported &#x60;strftime&#x60;-style directives such as &#x60;%Y-%m-%d %H:%M:%S&#x60;. Reference: [strftime](https://strftime.net/). (optional)</param>
        /// <param name="sign">Set to exactly &#x60;true&#x60; to ask the gateway to sign the final JSON response. Every authenticated JSON response, including errors, then includes signing headers. Not supported on &#x60;/v1/time/clock&#x60;. (optional)</param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>ApiResponse of GetCurrentTime200Response</returns>
        ApiResponse<GetCurrentTime200Response> GetCurrentTimeWithHttpInfo(string? tz = default(string?), string? ip = default(string?), double? lat = default(double?), double? lon = default(double?), string? offset = default(string?), bool? autoTz = default(bool?), string? format = default(string?), bool? sign = default(bool?), int operationIndex = 0);
        /// <summary>
        /// Daylight-saving status for a target
        /// </summary>
        /// <remarks>
        /// Returns daylight-saving status for the selected target.  Target selector rules: - Use at most one selector family: &#x60;tz&#x60;, &#x60;ip&#x60;, &#x60;lat&#x60; + &#x60;lon&#x60;, &#x60;offset&#x60;, or &#x60;auto_tz&#x3D;true&#x60;. - If no selector is provided, the response defaults to UTC. - Bulk is not supported on this route. - &#x60;next&#x3D;true&#x60; adds &#x60;next_transition&#x60; when the resolver provides a transition timestamp.  Example: - &#x60;/v1/time/dst?tz&#x3D;America/New_York&amp;next&#x3D;true&#x60;
        /// </remarks>
        /// <exception cref="TimeLogic.Api.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="tz">IANA timezone name. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="ip">IP address. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="lat">Latitude. Must be provided together with &#x60;lon&#x60;. (optional)</param>
        /// <param name="lon">Longitude. Must be provided together with &#x60;lat&#x60;. (optional)</param>
        /// <param name="offset">Fixed UTC offset in &#x60;+HH:MM&#x60; or &#x60;-HH:MM&#x60; format. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="autoTz">Set to &#x60;true&#x60; to resolve using the caller IP from Cloudflare headers. (optional)</param>
        /// <param name="format">Custom date/time format template using supported &#x60;strftime&#x60;-style directives such as &#x60;%Y-%m-%d %H:%M:%S&#x60;. Reference: [strftime](https://strftime.net/). (optional)</param>
        /// <param name="next"> (optional)</param>
        /// <param name="sign">Set to exactly &#x60;true&#x60; to ask the gateway to sign the final JSON response. Every authenticated JSON response, including errors, then includes signing headers. Not supported on &#x60;/v1/time/clock&#x60;. (optional)</param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>DstResponse</returns>
        DstResponse GetDst(string? tz = default(string?), string? ip = default(string?), double? lat = default(double?), double? lon = default(double?), string? offset = default(string?), bool? autoTz = default(bool?), string? format = default(string?), bool? next = default(bool?), bool? sign = default(bool?), int operationIndex = 0);

        /// <summary>
        /// Daylight-saving status for a target
        /// </summary>
        /// <remarks>
        /// Returns daylight-saving status for the selected target.  Target selector rules: - Use at most one selector family: &#x60;tz&#x60;, &#x60;ip&#x60;, &#x60;lat&#x60; + &#x60;lon&#x60;, &#x60;offset&#x60;, or &#x60;auto_tz&#x3D;true&#x60;. - If no selector is provided, the response defaults to UTC. - Bulk is not supported on this route. - &#x60;next&#x3D;true&#x60; adds &#x60;next_transition&#x60; when the resolver provides a transition timestamp.  Example: - &#x60;/v1/time/dst?tz&#x3D;America/New_York&amp;next&#x3D;true&#x60;
        /// </remarks>
        /// <exception cref="TimeLogic.Api.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="tz">IANA timezone name. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="ip">IP address. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="lat">Latitude. Must be provided together with &#x60;lon&#x60;. (optional)</param>
        /// <param name="lon">Longitude. Must be provided together with &#x60;lat&#x60;. (optional)</param>
        /// <param name="offset">Fixed UTC offset in &#x60;+HH:MM&#x60; or &#x60;-HH:MM&#x60; format. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="autoTz">Set to &#x60;true&#x60; to resolve using the caller IP from Cloudflare headers. (optional)</param>
        /// <param name="format">Custom date/time format template using supported &#x60;strftime&#x60;-style directives such as &#x60;%Y-%m-%d %H:%M:%S&#x60;. Reference: [strftime](https://strftime.net/). (optional)</param>
        /// <param name="next"> (optional)</param>
        /// <param name="sign">Set to exactly &#x60;true&#x60; to ask the gateway to sign the final JSON response. Every authenticated JSON response, including errors, then includes signing headers. Not supported on &#x60;/v1/time/clock&#x60;. (optional)</param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>ApiResponse of DstResponse</returns>
        ApiResponse<DstResponse> GetDstWithHttpInfo(string? tz = default(string?), string? ip = default(string?), double? lat = default(double?), double? lon = default(double?), string? offset = default(string?), bool? autoTz = default(bool?), string? format = default(string?), bool? next = default(bool?), bool? sign = default(bool?), int operationIndex = 0);
        /// <summary>
        /// Time elapsed since or remaining until a reference instant
        /// </summary>
        /// <remarks>
        /// Computes elapsed or remaining duration relative to one required reference timestamp.  Reference timestamp forms: - &#x60;unix&#x3D;1711300000&#x60; - &#x60;unix_ms&#x3D;1711300000000&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00Z&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_tz&#x3D;America/New_York&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_ip&#x3D;8.8.8.8&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_lat&#x3D;40.7128&amp;source_lon&#x3D;-74.0060&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_offset&#x3D;-05:00&#x60;  Compare timestamp forms: - &#x60;compare_unix&#x3D;1711213600&#x60; - &#x60;compare_unix_ms&#x3D;1711213600000&#x60; - &#x60;compare_iso&#x3D;2026-04-16T09:00:00Z&#x60; - &#x60;compare_iso&#x3D;2026-04-16T09:00:00&amp;compare_source_tz&#x3D;Europe/London&#x60; - &#x60;compare_iso&#x3D;2026-04-16T09:00:00&amp;compare_source_ip&#x3D;8.8.8.8&#x60; - &#x60;compare_iso&#x3D;2026-04-16T09:00:00&amp;compare_source_lat&#x3D;40.7128&amp;compare_source_lon&#x3D;-74.0060&#x60; - &#x60;compare_iso&#x3D;2026-04-16T09:00:00&amp;compare_source_offset&#x3D;-05:00&#x60;  Compare selector forms: - &#x60;tz&#x3D;America/New_York&#x60; - &#x60;ip&#x3D;8.8.8.8&#x60; - &#x60;lat&#x3D;40.7128&amp;lon&#x3D;-74.0060&#x60; - &#x60;offset&#x3D;-04:00&#x60; - &#x60;auto_tz&#x3D;true&#x60;  Incompatible combinations: - exactly one reference timestamp form - use either one compare timestamp form or one compare selector family, not both - use at most one of &#x60;source_tz&#x60;, &#x60;source_ip&#x60;, &#x60;source_lat&#x60;/&#x60;source_lon&#x60;, or &#x60;source_offset&#x60; - use at most one of &#x60;compare_source_tz&#x60;, &#x60;compare_source_ip&#x60;, &#x60;compare_source_lat&#x60;/&#x60;compare_source_lon&#x60;, or &#x60;compare_source_offset&#x60; - local-ISO companion selectors are valid only with &#x60;iso&#x3D;...&#x60; that has no explicit offset - compare local-ISO companion selectors are valid only with &#x60;compare_iso&#x3D;...&#x60; that has no explicit offset - if no compare input is provided, the comparison defaults to the request time  Business-day rules: - &#x60;holiday_country&#x60; and &#x60;holiday_subdivision&#x60; require &#x60;business_days&#x3D;true&#x60; - &#x60;holiday_subdivision&#x60; also requires &#x60;holiday_country&#x60;  Examples: - Timestamp-to-timestamp: &#x60;/v1/time/elapsed?iso&#x3D;2026-04-16T09:00:00&amp;source_tz&#x3D;America/New_York&amp;compare_iso&#x3D;2026-04-16T09:00:00&amp;compare_source_tz&#x3D;Europe/London&#x60; - Timestamp-to-selector: &#x60;/v1/time/elapsed?unix&#x3D;1711300000&amp;tz&#x3D;America/New_York&amp;business_days&#x3D;true&#x60; 
        /// </remarks>
        /// <exception cref="TimeLogic.Api.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="unix"> (optional)</param>
        /// <param name="unixMs"> (optional)</param>
        /// <param name="iso">ISO-8601 timestamp. To supply a local wall-clock time without an explicit offset, pair it with one of &#x60;source_tz&#x3D;Area/City&#x60;, &#x60;source_ip&#x3D;...&#x60;, &#x60;source_lat&#x3D;...&amp;source_lon&#x3D;...&#x60;, or &#x60;source_offset&#x3D;±HH:MM&#x60;. (optional)</param>
        /// <param name="sourceTz">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. (optional)</param>
        /// <param name="sourceIp">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Resolves that local wall-clock time through the timezone mapped from this IP address. (optional)</param>
        /// <param name="sourceLat">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lon&#x60; to resolve that local wall-clock time through the timezone mapped from these coordinates. (optional)</param>
        /// <param name="sourceLon">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lat&#x60;. (optional)</param>
        /// <param name="sourceOffset">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Interprets that local wall-clock time at this fixed UTC offset. (optional)</param>
        /// <param name="compareUnix"> (optional)</param>
        /// <param name="compareUnixMs"> (optional)</param>
        /// <param name="compareIso">ISO-8601 comparison timestamp. To supply a local wall-clock time without an explicit offset, pair it with one of &#x60;compare_source_tz&#x3D;Area/City&#x60;, &#x60;compare_source_ip&#x3D;...&#x60;, &#x60;compare_source_lat&#x3D;...&amp;compare_source_lon&#x3D;...&#x60;, or &#x60;compare_source_offset&#x3D;±HH:MM&#x60;. (optional)</param>
        /// <param name="compareSourceTz">Used only with &#x60;compare_iso&#x3D;...&#x60; when the ISO value has no explicit offset. (optional)</param>
        /// <param name="compareSourceIp">Used only with &#x60;compare_iso&#x3D;...&#x60; when the ISO value has no explicit offset. Resolves that local wall-clock time through the timezone mapped from this IP address. (optional)</param>
        /// <param name="compareSourceLat">Used only with &#x60;compare_iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;compare_source_lon&#x60; to resolve that local wall-clock time through the timezone mapped from these coordinates. (optional)</param>
        /// <param name="compareSourceLon">Used only with &#x60;compare_iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;compare_source_lat&#x60;. (optional)</param>
        /// <param name="compareSourceOffset">Used only with &#x60;compare_iso&#x3D;...&#x60; when the ISO value has no explicit offset. Interprets that local wall-clock time at this fixed UTC offset. (optional)</param>
        /// <param name="tz">IANA timezone name. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="ip">IP address. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="lat">Latitude. Must be provided together with &#x60;lon&#x60;. (optional)</param>
        /// <param name="lon">Longitude. Must be provided together with &#x60;lat&#x60;. (optional)</param>
        /// <param name="offset">Fixed UTC offset in &#x60;+HH:MM&#x60; or &#x60;-HH:MM&#x60; format. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="autoTz">Set to &#x60;true&#x60; to resolve using the caller IP from Cloudflare headers. (optional)</param>
        /// <param name="format">Custom duration format template using &#x60;%days&#x60;, &#x60;%hours&#x60;, &#x60;%minutes&#x60;, and &#x60;%seconds&#x60;. (optional)</param>
        /// <param name="businessDays">Set to &#x60;true&#x60; to enable weekday/business-day counting. (optional)</param>
        /// <param name="holidayCountry">ISO 3166-1 alpha-2 holiday calendar country code. Requires &#x60;business_days&#x3D;true&#x60;. (optional)</param>
        /// <param name="holidaySubdivision">Holiday calendar subdivision code from the upstream &#x60;python-holidays&#x60; calendar, for example &#x60;CA&#x60; or &#x60;ENG&#x60;. Requires &#x60;holiday_country&#x60; and &#x60;business_days&#x3D;true&#x60;. (optional)</param>
        /// <param name="sign">Set to exactly &#x60;true&#x60; to ask the gateway to sign the final JSON response. Every authenticated JSON response, including errors, then includes signing headers. Not supported on &#x60;/v1/time/clock&#x60;. (optional)</param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>ElapsedResponse</returns>
        ElapsedResponse GetElapsed(long? unix = default(long?), long? unixMs = default(long?), string? iso = default(string?), string? sourceTz = default(string?), string? sourceIp = default(string?), double? sourceLat = default(double?), double? sourceLon = default(double?), string? sourceOffset = default(string?), long? compareUnix = default(long?), long? compareUnixMs = default(long?), string? compareIso = default(string?), string? compareSourceTz = default(string?), string? compareSourceIp = default(string?), double? compareSourceLat = default(double?), double? compareSourceLon = default(double?), string? compareSourceOffset = default(string?), string? tz = default(string?), string? ip = default(string?), double? lat = default(double?), double? lon = default(double?), string? offset = default(string?), bool? autoTz = default(bool?), string? format = default(string?), bool? businessDays = default(bool?), string? holidayCountry = default(string?), string? holidaySubdivision = default(string?), bool? sign = default(bool?), int operationIndex = 0);

        /// <summary>
        /// Time elapsed since or remaining until a reference instant
        /// </summary>
        /// <remarks>
        /// Computes elapsed or remaining duration relative to one required reference timestamp.  Reference timestamp forms: - &#x60;unix&#x3D;1711300000&#x60; - &#x60;unix_ms&#x3D;1711300000000&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00Z&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_tz&#x3D;America/New_York&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_ip&#x3D;8.8.8.8&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_lat&#x3D;40.7128&amp;source_lon&#x3D;-74.0060&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_offset&#x3D;-05:00&#x60;  Compare timestamp forms: - &#x60;compare_unix&#x3D;1711213600&#x60; - &#x60;compare_unix_ms&#x3D;1711213600000&#x60; - &#x60;compare_iso&#x3D;2026-04-16T09:00:00Z&#x60; - &#x60;compare_iso&#x3D;2026-04-16T09:00:00&amp;compare_source_tz&#x3D;Europe/London&#x60; - &#x60;compare_iso&#x3D;2026-04-16T09:00:00&amp;compare_source_ip&#x3D;8.8.8.8&#x60; - &#x60;compare_iso&#x3D;2026-04-16T09:00:00&amp;compare_source_lat&#x3D;40.7128&amp;compare_source_lon&#x3D;-74.0060&#x60; - &#x60;compare_iso&#x3D;2026-04-16T09:00:00&amp;compare_source_offset&#x3D;-05:00&#x60;  Compare selector forms: - &#x60;tz&#x3D;America/New_York&#x60; - &#x60;ip&#x3D;8.8.8.8&#x60; - &#x60;lat&#x3D;40.7128&amp;lon&#x3D;-74.0060&#x60; - &#x60;offset&#x3D;-04:00&#x60; - &#x60;auto_tz&#x3D;true&#x60;  Incompatible combinations: - exactly one reference timestamp form - use either one compare timestamp form or one compare selector family, not both - use at most one of &#x60;source_tz&#x60;, &#x60;source_ip&#x60;, &#x60;source_lat&#x60;/&#x60;source_lon&#x60;, or &#x60;source_offset&#x60; - use at most one of &#x60;compare_source_tz&#x60;, &#x60;compare_source_ip&#x60;, &#x60;compare_source_lat&#x60;/&#x60;compare_source_lon&#x60;, or &#x60;compare_source_offset&#x60; - local-ISO companion selectors are valid only with &#x60;iso&#x3D;...&#x60; that has no explicit offset - compare local-ISO companion selectors are valid only with &#x60;compare_iso&#x3D;...&#x60; that has no explicit offset - if no compare input is provided, the comparison defaults to the request time  Business-day rules: - &#x60;holiday_country&#x60; and &#x60;holiday_subdivision&#x60; require &#x60;business_days&#x3D;true&#x60; - &#x60;holiday_subdivision&#x60; also requires &#x60;holiday_country&#x60;  Examples: - Timestamp-to-timestamp: &#x60;/v1/time/elapsed?iso&#x3D;2026-04-16T09:00:00&amp;source_tz&#x3D;America/New_York&amp;compare_iso&#x3D;2026-04-16T09:00:00&amp;compare_source_tz&#x3D;Europe/London&#x60; - Timestamp-to-selector: &#x60;/v1/time/elapsed?unix&#x3D;1711300000&amp;tz&#x3D;America/New_York&amp;business_days&#x3D;true&#x60; 
        /// </remarks>
        /// <exception cref="TimeLogic.Api.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="unix"> (optional)</param>
        /// <param name="unixMs"> (optional)</param>
        /// <param name="iso">ISO-8601 timestamp. To supply a local wall-clock time without an explicit offset, pair it with one of &#x60;source_tz&#x3D;Area/City&#x60;, &#x60;source_ip&#x3D;...&#x60;, &#x60;source_lat&#x3D;...&amp;source_lon&#x3D;...&#x60;, or &#x60;source_offset&#x3D;±HH:MM&#x60;. (optional)</param>
        /// <param name="sourceTz">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. (optional)</param>
        /// <param name="sourceIp">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Resolves that local wall-clock time through the timezone mapped from this IP address. (optional)</param>
        /// <param name="sourceLat">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lon&#x60; to resolve that local wall-clock time through the timezone mapped from these coordinates. (optional)</param>
        /// <param name="sourceLon">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lat&#x60;. (optional)</param>
        /// <param name="sourceOffset">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Interprets that local wall-clock time at this fixed UTC offset. (optional)</param>
        /// <param name="compareUnix"> (optional)</param>
        /// <param name="compareUnixMs"> (optional)</param>
        /// <param name="compareIso">ISO-8601 comparison timestamp. To supply a local wall-clock time without an explicit offset, pair it with one of &#x60;compare_source_tz&#x3D;Area/City&#x60;, &#x60;compare_source_ip&#x3D;...&#x60;, &#x60;compare_source_lat&#x3D;...&amp;compare_source_lon&#x3D;...&#x60;, or &#x60;compare_source_offset&#x3D;±HH:MM&#x60;. (optional)</param>
        /// <param name="compareSourceTz">Used only with &#x60;compare_iso&#x3D;...&#x60; when the ISO value has no explicit offset. (optional)</param>
        /// <param name="compareSourceIp">Used only with &#x60;compare_iso&#x3D;...&#x60; when the ISO value has no explicit offset. Resolves that local wall-clock time through the timezone mapped from this IP address. (optional)</param>
        /// <param name="compareSourceLat">Used only with &#x60;compare_iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;compare_source_lon&#x60; to resolve that local wall-clock time through the timezone mapped from these coordinates. (optional)</param>
        /// <param name="compareSourceLon">Used only with &#x60;compare_iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;compare_source_lat&#x60;. (optional)</param>
        /// <param name="compareSourceOffset">Used only with &#x60;compare_iso&#x3D;...&#x60; when the ISO value has no explicit offset. Interprets that local wall-clock time at this fixed UTC offset. (optional)</param>
        /// <param name="tz">IANA timezone name. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="ip">IP address. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="lat">Latitude. Must be provided together with &#x60;lon&#x60;. (optional)</param>
        /// <param name="lon">Longitude. Must be provided together with &#x60;lat&#x60;. (optional)</param>
        /// <param name="offset">Fixed UTC offset in &#x60;+HH:MM&#x60; or &#x60;-HH:MM&#x60; format. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="autoTz">Set to &#x60;true&#x60; to resolve using the caller IP from Cloudflare headers. (optional)</param>
        /// <param name="format">Custom duration format template using &#x60;%days&#x60;, &#x60;%hours&#x60;, &#x60;%minutes&#x60;, and &#x60;%seconds&#x60;. (optional)</param>
        /// <param name="businessDays">Set to &#x60;true&#x60; to enable weekday/business-day counting. (optional)</param>
        /// <param name="holidayCountry">ISO 3166-1 alpha-2 holiday calendar country code. Requires &#x60;business_days&#x3D;true&#x60;. (optional)</param>
        /// <param name="holidaySubdivision">Holiday calendar subdivision code from the upstream &#x60;python-holidays&#x60; calendar, for example &#x60;CA&#x60; or &#x60;ENG&#x60;. Requires &#x60;holiday_country&#x60; and &#x60;business_days&#x3D;true&#x60;. (optional)</param>
        /// <param name="sign">Set to exactly &#x60;true&#x60; to ask the gateway to sign the final JSON response. Every authenticated JSON response, including errors, then includes signing headers. Not supported on &#x60;/v1/time/clock&#x60;. (optional)</param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>ApiResponse of ElapsedResponse</returns>
        ApiResponse<ElapsedResponse> GetElapsedWithHttpInfo(long? unix = default(long?), long? unixMs = default(long?), string? iso = default(string?), string? sourceTz = default(string?), string? sourceIp = default(string?), double? sourceLat = default(double?), double? sourceLon = default(double?), string? sourceOffset = default(string?), long? compareUnix = default(long?), long? compareUnixMs = default(long?), string? compareIso = default(string?), string? compareSourceTz = default(string?), string? compareSourceIp = default(string?), double? compareSourceLat = default(double?), double? compareSourceLon = default(double?), string? compareSourceOffset = default(string?), string? tz = default(string?), string? ip = default(string?), double? lat = default(double?), double? lon = default(double?), string? offset = default(string?), bool? autoTz = default(bool?), string? format = default(string?), bool? businessDays = default(bool?), string? holidayCountry = default(string?), string? holidaySubdivision = default(string?), bool? sign = default(bool?), int operationIndex = 0);
        /// <summary>
        /// Resolve timezone information for a target
        /// </summary>
        /// <remarks>
        /// Resolves timezone metadata for a single target.  Target selector rules: - Use exactly one selector family: &#x60;tz&#x60;, &#x60;ip&#x60;, &#x60;lat&#x60; + &#x60;lon&#x60;, &#x60;offset&#x60;, or &#x60;auto_tz&#x3D;true&#x60;. - Bulk is not supported on this route. - &#x60;offset&#x60; queries return a specialized payload that includes &#x60;matching_zones&#x60; for the request-time offset match.  Examples: - Single target: &#x60;/v1/timezone?tz&#x3D;America/New_York&#x60; - Offset match: &#x60;/v1/timezone?offset&#x3D;-04:00&#x60;
        /// </remarks>
        /// <exception cref="TimeLogic.Api.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="tz">IANA timezone name. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="ip">IP address. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="lat">Latitude. Must be provided together with &#x60;lon&#x60;. (optional)</param>
        /// <param name="lon">Longitude. Must be provided together with &#x60;lat&#x60;. (optional)</param>
        /// <param name="offset">Fixed UTC offset in &#x60;+HH:MM&#x60; or &#x60;-HH:MM&#x60; format. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="autoTz">Set to &#x60;true&#x60; to resolve using the caller IP from Cloudflare headers. (optional)</param>
        /// <param name="sign">Set to exactly &#x60;true&#x60; to ask the gateway to sign the final JSON response. Every authenticated JSON response, including errors, then includes signing headers. Not supported on &#x60;/v1/time/clock&#x60;. (optional)</param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>GetTimezone200Response</returns>
        GetTimezone200Response GetTimezone(string? tz = default(string?), string? ip = default(string?), double? lat = default(double?), double? lon = default(double?), string? offset = default(string?), bool? autoTz = default(bool?), bool? sign = default(bool?), int operationIndex = 0);

        /// <summary>
        /// Resolve timezone information for a target
        /// </summary>
        /// <remarks>
        /// Resolves timezone metadata for a single target.  Target selector rules: - Use exactly one selector family: &#x60;tz&#x60;, &#x60;ip&#x60;, &#x60;lat&#x60; + &#x60;lon&#x60;, &#x60;offset&#x60;, or &#x60;auto_tz&#x3D;true&#x60;. - Bulk is not supported on this route. - &#x60;offset&#x60; queries return a specialized payload that includes &#x60;matching_zones&#x60; for the request-time offset match.  Examples: - Single target: &#x60;/v1/timezone?tz&#x3D;America/New_York&#x60; - Offset match: &#x60;/v1/timezone?offset&#x3D;-04:00&#x60;
        /// </remarks>
        /// <exception cref="TimeLogic.Api.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="tz">IANA timezone name. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="ip">IP address. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="lat">Latitude. Must be provided together with &#x60;lon&#x60;. (optional)</param>
        /// <param name="lon">Longitude. Must be provided together with &#x60;lat&#x60;. (optional)</param>
        /// <param name="offset">Fixed UTC offset in &#x60;+HH:MM&#x60; or &#x60;-HH:MM&#x60; format. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="autoTz">Set to &#x60;true&#x60; to resolve using the caller IP from Cloudflare headers. (optional)</param>
        /// <param name="sign">Set to exactly &#x60;true&#x60; to ask the gateway to sign the final JSON response. Every authenticated JSON response, including errors, then includes signing headers. Not supported on &#x60;/v1/time/clock&#x60;. (optional)</param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <returns>ApiResponse of GetTimezone200Response</returns>
        ApiResponse<GetTimezone200Response> GetTimezoneWithHttpInfo(string? tz = default(string?), string? ip = default(string?), double? lat = default(double?), double? lon = default(double?), string? offset = default(string?), bool? autoTz = default(bool?), bool? sign = default(bool?), int operationIndex = 0);
        #endregion Synchronous Operations
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface ITimeApiAsync : IApiAccessor
    {
        #region Asynchronous Operations
        /// <summary>
        /// Add modifiers to a timestamp
        /// </summary>
        /// <remarks>
        /// Adds &#x60;seconds&#x60;, &#x60;minutes&#x60;, &#x60;hours&#x60;, and &#x60;days&#x60; to an optional base timestamp.  Input timestamp forms: - &#x60;unix&#x3D;1711300000&#x60; - &#x60;unix_ms&#x3D;1711300000000&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00Z&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_tz&#x3D;America/New_York&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_ip&#x3D;8.8.8.8&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_lat&#x3D;40.7128&amp;source_lon&#x3D;-74.0060&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_offset&#x3D;-05:00&#x60; - if no input timestamp is provided, the base timestamp defaults to the request time  Modifiers: - &#x60;seconds&#x3D;30&#x60; - &#x60;minutes&#x3D;15&#x60; - &#x60;hours&#x3D;2&#x60; - &#x60;days&#x3D;7&#x60;  Target selector forms: - &#x60;tz&#x3D;America/New_York&#x60; - &#x60;ip&#x3D;8.8.8.8&#x60; - &#x60;lat&#x3D;40.7128&amp;lon&#x3D;-74.0060&#x60; - &#x60;offset&#x3D;-04:00&#x60; - &#x60;auto_tz&#x3D;true&#x60; - &#x60;utc&#x3D;true&#x60;  Incompatible combinations: - at most one input timestamp form - at most one target selector family - use at most one of &#x60;source_tz&#x60;, &#x60;source_ip&#x60;, &#x60;source_lat&#x60;/&#x60;source_lon&#x60;, or &#x60;source_offset&#x60; - local-ISO companion selectors are valid only with &#x60;iso&#x3D;...&#x60; that has no explicit offset - bulk is not supported on this route  Examples: - &#x60;/v1/time/add?iso&#x3D;2026-04-16T09:00:00&amp;source_tz&#x3D;America/New_York&amp;days&#x3D;1&amp;tz&#x3D;Europe/London&#x60; - &#x60;/v1/time/add?minutes&#x3D;30&amp;utc&#x3D;true&#x60; 
        /// </remarks>
        /// <exception cref="TimeLogic.Api.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="unix"> (optional)</param>
        /// <param name="unixMs"> (optional)</param>
        /// <param name="iso">ISO-8601 timestamp. To supply a local wall-clock time without an explicit offset, pair it with one of &#x60;source_tz&#x3D;Area/City&#x60;, &#x60;source_ip&#x3D;...&#x60;, &#x60;source_lat&#x3D;...&amp;source_lon&#x3D;...&#x60;, or &#x60;source_offset&#x3D;±HH:MM&#x60;. (optional)</param>
        /// <param name="sourceTz">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. (optional)</param>
        /// <param name="sourceIp">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Resolves that local wall-clock time through the timezone mapped from this IP address. (optional)</param>
        /// <param name="sourceLat">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lon&#x60; to resolve that local wall-clock time through the timezone mapped from these coordinates. (optional)</param>
        /// <param name="sourceLon">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lat&#x60;. (optional)</param>
        /// <param name="sourceOffset">Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Interprets that local wall-clock time at this fixed UTC offset. (optional)</param>
        /// <param name="seconds"> (optional)</param>
        /// <param name="minutes"> (optional)</param>
        /// <param name="hours"> (optional)</param>
        /// <param name="days"> (optional)</param>
        /// <param name="tz">IANA timezone name. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="ip">IP address. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="lat">Latitude. Must be provided together with &#x60;lon&#x60;. (optional)</param>
        /// <param name="lon">Longitude. Must be provided together with &#x60;lat&#x60;. (optional)</param>
        /// <param name="offset">Fixed UTC offset in &#x60;+HH:MM&#x60; or &#x60;-HH:MM&#x60; format. On bulk-capable routes, a comma-separated list enables bulk mode. (optional)</param>
        /// <param name="autoTz">Set to &#x60;true&#x60; to resolve using the caller IP from Cloudflare headers. (optional)</param>
        /// <param name="utc">Set to &#x60;true&#x60; to force UTC on routes that support it. (optional)</param>
        /// <param name="format">Custom date/time format template using supported &#x60;strftime&#x60;-style directives such as &#x60;%Y-%m-%d %H:%M:%S&#x60;. Reference: [strftime](https://strftime.net/). (optional)</param>
        /// <param name="sign">Set to exactly &#x60;true&#x60; to ask the gateway to sign the final JSON response. Every authenticated JSON response, including errors, then includes signing headers. Not supported on &#x60;/v1/time/clock&#x60;. (optional)</param>
        /// <param name="operationIndex">Index associated with the operation.</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
[...]
