=begin
#TimeLogic API | A World Time API

# Official public API contract for TimeLogic API.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module TimeLogic::Api
  class TimeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add modifiers to a timestamp
    # Adds `seconds`, `minutes`, `hours`, and `days` to an optional base timestamp.  Input timestamp forms: - `unix=1711300000` - `unix_ms=1711300000000` - `iso=2026-04-16T09:00:00Z` - `iso=2026-04-16T09:00:00&source_tz=America/New_York` - `iso=2026-04-16T09:00:00&source_ip=8.8.8.8` - `iso=2026-04-16T09:00:00&source_lat=40.7128&source_lon=-74.0060` - `iso=2026-04-16T09:00:00&source_offset=-05:00` - if no input timestamp is provided, the base timestamp defaults to the request time  Modifiers: - `seconds=30` - `minutes=15` - `hours=2` - `days=7`  Target selector forms: - `tz=America/New_York` - `ip=8.8.8.8` - `lat=40.7128&lon=-74.0060` - `offset=-04:00` - `auto_tz=true` - `utc=true`  Incompatible combinations: - at most one input timestamp form - at most one target selector family - use at most one of `source_tz`, `source_ip`, `source_lat`/`source_lon`, or `source_offset` - local-ISO companion selectors are valid only with `iso=...` that has no explicit offset - bulk is not supported on this route  Examples: - `/v1/time/add?iso=2026-04-16T09:00:00&source_tz=America/New_York&days=1&tz=Europe/London` - `/v1/time/add?minutes=30&utc=true` 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :unix 
    # @option opts [Integer] :unix_ms 
    # @option opts [String] :iso ISO-8601 timestamp. To supply a local wall-clock time without an explicit offset, pair it with one of &#x60;source_tz&#x3D;Area/City&#x60;, &#x60;source_ip&#x3D;...&#x60;, &#x60;source_lat&#x3D;...&amp;source_lon&#x3D;...&#x60;, or &#x60;source_offset&#x3D;±HH:MM&#x60;.
    # @option opts [String] :source_tz Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset.
    # @option opts [String] :source_ip Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Resolves that local wall-clock time through the timezone mapped from this IP address.
    # @option opts [Float] :source_lat Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lon&#x60; to resolve that local wall-clock time through the timezone mapped from these coordinates.
    # @option opts [Float] :source_lon Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lat&#x60;.
    # @option opts [String] :source_offset Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Interprets that local wall-clock time at this fixed UTC offset.
    # @option opts [Integer] :seconds 
    # @option opts [Integer] :minutes 
    # @option opts [Integer] :hours 
    # @option opts [Integer] :days 
    # @option opts [String] :tz IANA timezone name. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [String] :ip IP address. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [Float] :lat Latitude. Must be provided together with &#x60;lon&#x60;.
    # @option opts [Float] :lon Longitude. Must be provided together with &#x60;lat&#x60;.
    # @option opts [String] :offset Fixed UTC offset in &#x60;+HH:MM&#x60; or &#x60;-HH:MM&#x60; format. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [Boolean] :auto_tz Set to &#x60;true&#x60; to resolve using the caller IP from Cloudflare headers.
    # @option opts [Boolean] :utc Set to &#x60;true&#x60; to force UTC on routes that support it.
    # @option opts [String] :format Custom date/time format template using supported &#x60;strftime&#x60;-style directives such as &#x60;%Y-%m-%d %H:%M:%S&#x60;. Reference: [strftime](https://strftime.net/).
    # @option opts [Boolean] :sign Set to exactly &#x60;true&#x60; to ask the gateway to sign the final JSON response. Every authenticated JSON response, including errors, then includes signing headers. Not supported on &#x60;/v1/time/clock&#x60;.
    # @return [TimePayload]
    def add_time(opts = {})
      data, _status_code, _headers = add_time_with_http_info(opts)
      data
    end

    # Add modifiers to a timestamp
    # Adds &#x60;seconds&#x60;, &#x60;minutes&#x60;, &#x60;hours&#x60;, and &#x60;days&#x60; to an optional base timestamp.  Input timestamp forms: - &#x60;unix&#x3D;1711300000&#x60; - &#x60;unix_ms&#x3D;1711300000000&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00Z&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_tz&#x3D;America/New_York&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_ip&#x3D;8.8.8.8&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_lat&#x3D;40.7128&amp;source_lon&#x3D;-74.0060&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_offset&#x3D;-05:00&#x60; - if no input timestamp is provided, the base timestamp defaults to the request time  Modifiers: - &#x60;seconds&#x3D;30&#x60; - &#x60;minutes&#x3D;15&#x60; - &#x60;hours&#x3D;2&#x60; - &#x60;days&#x3D;7&#x60;  Target selector forms: - &#x60;tz&#x3D;America/New_York&#x60; - &#x60;ip&#x3D;8.8.8.8&#x60; - &#x60;lat&#x3D;40.7128&amp;lon&#x3D;-74.0060&#x60; - &#x60;offset&#x3D;-04:00&#x60; - &#x60;auto_tz&#x3D;true&#x60; - &#x60;utc&#x3D;true&#x60;  Incompatible combinations: - at most one input timestamp form - at most one target selector family - use at most one of &#x60;source_tz&#x60;, &#x60;source_ip&#x60;, &#x60;source_lat&#x60;/&#x60;source_lon&#x60;, or &#x60;source_offset&#x60; - local-ISO companion selectors are valid only with &#x60;iso&#x3D;...&#x60; that has no explicit offset - bulk is not supported on this route  Examples: - &#x60;/v1/time/add?iso&#x3D;2026-04-16T09:00:00&amp;source_tz&#x3D;America/New_York&amp;days&#x3D;1&amp;tz&#x3D;Europe/London&#x60; - &#x60;/v1/time/add?minutes&#x3D;30&amp;utc&#x3D;true&#x60; 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :unix 
    # @option opts [Integer] :unix_ms 
    # @option opts [String] :iso ISO-8601 timestamp. To supply a local wall-clock time without an explicit offset, pair it with one of &#x60;source_tz&#x3D;Area/City&#x60;, &#x60;source_ip&#x3D;...&#x60;, &#x60;source_lat&#x3D;...&amp;source_lon&#x3D;...&#x60;, or &#x60;source_offset&#x3D;±HH:MM&#x60;.
    # @option opts [String] :source_tz Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset.
    # @option opts [String] :source_ip Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Resolves that local wall-clock time through the timezone mapped from this IP address.
    # @option opts [Float] :source_lat Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lon&#x60; to resolve that local wall-clock time through the timezone mapped from these coordinates.
    # @option opts [Float] :source_lon Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lat&#x60;.
    # @option opts [String] :source_offset Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Interprets that local wall-clock time at this fixed UTC offset.
    # @option opts [Integer] :seconds 
    # @option opts [Integer] :minutes 
    # @option opts [Integer] :hours 
    # @option opts [Integer] :days 
    # @option opts [String] :tz IANA timezone name. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [String] :ip IP address. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [Float] :lat Latitude. Must be provided together with &#x60;lon&#x60;.
    # @option opts [Float] :lon Longitude. Must be provided together with &#x60;lat&#x60;.
    # @option opts [String] :offset Fixed UTC offset in &#x60;+HH:MM&#x60; or &#x60;-HH:MM&#x60; format. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [Boolean] :auto_tz Set to &#x60;true&#x60; to resolve using the caller IP from Cloudflare headers.
    # @option opts [Boolean] :utc Set to &#x60;true&#x60; to force UTC on routes that support it.
    # @option opts [String] :format Custom date/time format template using supported &#x60;strftime&#x60;-style directives such as &#x60;%Y-%m-%d %H:%M:%S&#x60;. Reference: [strftime](https://strftime.net/).
    # @option opts [Boolean] :sign Set to exactly &#x60;true&#x60; to ask the gateway to sign the final JSON response. Every authenticated JSON response, including errors, then includes signing headers. Not supported on &#x60;/v1/time/clock&#x60;.
    # @return [Array<(TimePayload, Integer, Hash)>] TimePayload data, response status code and response headers
    def add_time_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeApi.add_time ...'
      end
      if @api_client.config.client_side_validation && !opts[:'source_lat'].nil? && opts[:'source_lat'] > 90
        fail ArgumentError, 'invalid value for "opts[:"source_lat"]" when calling TimeApi.add_time, must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && !opts[:'source_lat'].nil? && opts[:'source_lat'] < -90
        fail ArgumentError, 'invalid value for "opts[:"source_lat"]" when calling TimeApi.add_time, must be greater than or equal to -90.'
      end

      if @api_client.config.client_side_validation && !opts[:'source_lon'].nil? && opts[:'source_lon'] > 180
        fail ArgumentError, 'invalid value for "opts[:"source_lon"]" when calling TimeApi.add_time, must be smaller than or equal to 180.'
      end

      if @api_client.config.client_side_validation && !opts[:'source_lon'].nil? && opts[:'source_lon'] < -180
        fail ArgumentError, 'invalid value for "opts[:"source_lon"]" when calling TimeApi.add_time, must be greater than or equal to -180.'
      end

      pattern = Regexp.new(/^[+-](0\d|1\d|2[0-3]):[0-5]\d$/)
      if @api_client.config.client_side_validation && !opts[:'source_offset'].nil? && opts[:'source_offset'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"source_offset\"]' when calling TimeApi.add_time, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'tz'].nil? && opts[:'tz'].to_s.length > 64
        fail ArgumentError, 'invalid value for "opts[:"tz"]" when calling TimeApi.add_time, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && !opts[:'lat'].nil? && opts[:'lat'] > 90
        fail ArgumentError, 'invalid value for "opts[:"lat"]" when calling TimeApi.add_time, must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && !opts[:'lat'].nil? && opts[:'lat'] < -90
        fail ArgumentError, 'invalid value for "opts[:"lat"]" when calling TimeApi.add_time, must be greater than or equal to -90.'
      end

      if @api_client.config.client_side_validation && !opts[:'lon'].nil? && opts[:'lon'] > 180
        fail ArgumentError, 'invalid value for "opts[:"lon"]" when calling TimeApi.add_time, must be smaller than or equal to 180.'
      end

      if @api_client.config.client_side_validation && !opts[:'lon'].nil? && opts[:'lon'] < -180
        fail ArgumentError, 'invalid value for "opts[:"lon"]" when calling TimeApi.add_time, must be greater than or equal to -180.'
      end

      pattern = Regexp.new(/^[+-](0\d|1\d|2[0-3]):[0-5]\d$/)
      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"offset\"]' when calling TimeApi.add_time, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/v1/time/add'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'unix'] = opts[:'unix'] if !opts[:'unix'].nil?
      query_params[:'unix_ms'] = opts[:'unix_ms'] if !opts[:'unix_ms'].nil?
      query_params[:'iso'] = opts[:'iso'] if !opts[:'iso'].nil?
      query_params[:'source_tz'] = opts[:'source_tz'] if !opts[:'source_tz'].nil?
      query_params[:'source_ip'] = opts[:'source_ip'] if !opts[:'source_ip'].nil?
      query_params[:'source_lat'] = opts[:'source_lat'] if !opts[:'source_lat'].nil?
      query_params[:'source_lon'] = opts[:'source_lon'] if !opts[:'source_lon'].nil?
      query_params[:'source_offset'] = opts[:'source_offset'] if !opts[:'source_offset'].nil?
      query_params[:'seconds'] = opts[:'seconds'] if !opts[:'seconds'].nil?
      query_params[:'minutes'] = opts[:'minutes'] if !opts[:'minutes'].nil?
      query_params[:'hours'] = opts[:'hours'] if !opts[:'hours'].nil?
      query_params[:'days'] = opts[:'days'] if !opts[:'days'].nil?
      query_params[:'tz'] = opts[:'tz'] if !opts[:'tz'].nil?
      query_params[:'ip'] = opts[:'ip'] if !opts[:'ip'].nil?
      query_params[:'lat'] = opts[:'lat'] if !opts[:'lat'].nil?
      query_params[:'lon'] = opts[:'lon'] if !opts[:'lon'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'auto_tz'] = opts[:'auto_tz'] if !opts[:'auto_tz'].nil?
      query_params[:'utc'] = opts[:'utc'] if !opts[:'utc'].nil?
      query_params[:'format'] = opts[:'format'] if !opts[:'format'].nil?
      query_params[:'sign'] = opts[:'sign'] if !opts[:'sign'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TimePayload'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['directApiKeyHeader', 'directBearerAuth', 'directApiKeyQuery', 'rapidApiKey', 'rapidApiHost']

      new_options = opts.merge(
        :operation => :"TimeApi.add_time",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeApi#add_time\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Convert a timestamp into a target timezone or offset
    # Converts one required input timestamp into a single target or a bulk array.  Input timestamp forms: - `unix=1711300000` - `unix_ms=1711300000000` - `iso=2026-04-16T09:00:00Z` - `iso=2026-04-16T09:00:00&source_tz=America/New_York` - `iso=2026-04-16T09:00:00&source_ip=8.8.8.8` - `iso=2026-04-16T09:00:00&source_lat=40.7128&source_lon=-74.0060` - `iso=2026-04-16T09:00:00&source_offset=-05:00`  Target selector forms: - `tz=America/New_York` - `ip=8.8.8.8` - `lat=40.7128&lon=-74.0060` - `offset=-04:00` - `auto_tz=true` - `utc=true`  Incompatible combinations: - exactly one input timestamp form - exactly one target selector family - use at most one of `source_tz`, `source_ip`, `source_lat`/`source_lon`, or `source_offset` - local-ISO companion selectors are valid only with `iso=...` that has no explicit offset - bulk is allowed only through one comma-separated `tz`, `ip`, or `offset` selector  Examples: - Single target: `/v1/time/convert?iso=2026-04-16T09:00:00&source_tz=America/New_York&tz=Europe/London` - Bulk target set: `/v1/time/convert?unix=1711300000&offset=-04:00,+00:00,+09:00` 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :unix 
    # @option opts [Integer] :unix_ms 
    # @option opts [String] :iso ISO-8601 timestamp. To supply a local wall-clock time without an explicit offset, pair it with one of &#x60;source_tz&#x3D;Area/City&#x60;, &#x60;source_ip&#x3D;...&#x60;, &#x60;source_lat&#x3D;...&amp;source_lon&#x3D;...&#x60;, or &#x60;source_offset&#x3D;±HH:MM&#x60;.
    # @option opts [String] :source_tz Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset.
    # @option opts [String] :source_ip Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Resolves that local wall-clock time through the timezone mapped from this IP address.
    # @option opts [Float] :source_lat Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lon&#x60; to resolve that local wall-clock time through the timezone mapped from these coordinates.
    # @option opts [Float] :source_lon Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lat&#x60;.
    # @option opts [String] :source_offset Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Interprets that local wall-clock time at this fixed UTC offset.
    # @option opts [String] :tz IANA timezone name. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [String] :ip IP address. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [Float] :lat Latitude. Must be provided together with &#x60;lon&#x60;.
    # @option opts [Float] :lon Longitude. Must be provided together with &#x60;lat&#x60;.
    # @option opts [String] :offset Fixed UTC offset in &#x60;+HH:MM&#x60; or &#x60;-HH:MM&#x60; format. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [Boolean] :auto_tz Set to &#x60;true&#x60; to resolve using the caller IP from Cloudflare headers.
    # @option opts [Boolean] :utc Set to &#x60;true&#x60; to force UTC on routes that support it.
    # @option opts [String] :format Custom date/time format template using supported &#x60;strftime&#x60;-style directives such as &#x60;%Y-%m-%d %H:%M:%S&#x60;. Reference: [strftime](https://strftime.net/).
    # @option opts [Boolean] :sign Set to exactly &#x60;true&#x60; to ask the gateway to sign the final JSON response. Every authenticated JSON response, including errors, then includes signing headers. Not supported on &#x60;/v1/time/clock&#x60;.
    # @return [GetCurrentTime200Response]
    def convert_time(opts = {})
      data, _status_code, _headers = convert_time_with_http_info(opts)
      data
    end

    # Convert a timestamp into a target timezone or offset
    # Converts one required input timestamp into a single target or a bulk array.  Input timestamp forms: - &#x60;unix&#x3D;1711300000&#x60; - &#x60;unix_ms&#x3D;1711300000000&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00Z&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_tz&#x3D;America/New_York&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_ip&#x3D;8.8.8.8&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_lat&#x3D;40.7128&amp;source_lon&#x3D;-74.0060&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_offset&#x3D;-05:00&#x60;  Target selector forms: - &#x60;tz&#x3D;America/New_York&#x60; - &#x60;ip&#x3D;8.8.8.8&#x60; - &#x60;lat&#x3D;40.7128&amp;lon&#x3D;-74.0060&#x60; - &#x60;offset&#x3D;-04:00&#x60; - &#x60;auto_tz&#x3D;true&#x60; - &#x60;utc&#x3D;true&#x60;  Incompatible combinations: - exactly one input timestamp form - exactly one target selector family - use at most one of &#x60;source_tz&#x60;, &#x60;source_ip&#x60;, &#x60;source_lat&#x60;/&#x60;source_lon&#x60;, or &#x60;source_offset&#x60; - local-ISO companion selectors are valid only with &#x60;iso&#x3D;...&#x60; that has no explicit offset - bulk is allowed only through one comma-separated &#x60;tz&#x60;, &#x60;ip&#x60;, or &#x60;offset&#x60; selector  Examples: - Single target: &#x60;/v1/time/convert?iso&#x3D;2026-04-16T09:00:00&amp;source_tz&#x3D;America/New_York&amp;tz&#x3D;Europe/London&#x60; - Bulk target set: &#x60;/v1/time/convert?unix&#x3D;1711300000&amp;offset&#x3D;-04:00,+00:00,+09:00&#x60; 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :unix 
    # @option opts [Integer] :unix_ms 
    # @option opts [String] :iso ISO-8601 timestamp. To supply a local wall-clock time without an explicit offset, pair it with one of &#x60;source_tz&#x3D;Area/City&#x60;, &#x60;source_ip&#x3D;...&#x60;, &#x60;source_lat&#x3D;...&amp;source_lon&#x3D;...&#x60;, or &#x60;source_offset&#x3D;±HH:MM&#x60;.
    # @option opts [String] :source_tz Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset.
    # @option opts [String] :source_ip Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Resolves that local wall-clock time through the timezone mapped from this IP address.
    # @option opts [Float] :source_lat Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lon&#x60; to resolve that local wall-clock time through the timezone mapped from these coordinates.
    # @option opts [Float] :source_lon Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lat&#x60;.
    # @option opts [String] :source_offset Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Interprets that local wall-clock time at this fixed UTC offset.
    # @option opts [String] :tz IANA timezone name. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [String] :ip IP address. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [Float] :lat Latitude. Must be provided together with &#x60;lon&#x60;.
    # @option opts [Float] :lon Longitude. Must be provided together with &#x60;lat&#x60;.
    # @option opts [String] :offset Fixed UTC offset in &#x60;+HH:MM&#x60; or &#x60;-HH:MM&#x60; format. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [Boolean] :auto_tz Set to &#x60;true&#x60; to resolve using the caller IP from Cloudflare headers.
    # @option opts [Boolean] :utc Set to &#x60;true&#x60; to force UTC on routes that support it.
    # @option opts [String] :format Custom date/time format template using supported &#x60;strftime&#x60;-style directives such as &#x60;%Y-%m-%d %H:%M:%S&#x60;. Reference: [strftime](https://strftime.net/).
    # @option opts [Boolean] :sign Set to exactly &#x60;true&#x60; to ask the gateway to sign the final JSON response. Every authenticated JSON response, including errors, then includes signing headers. Not supported on &#x60;/v1/time/clock&#x60;.
    # @return [Array<(GetCurrentTime200Response, Integer, Hash)>] GetCurrentTime200Response data, response status code and response headers
    def convert_time_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeApi.convert_time ...'
      end
      if @api_client.config.client_side_validation && !opts[:'source_lat'].nil? && opts[:'source_lat'] > 90
        fail ArgumentError, 'invalid value for "opts[:"source_lat"]" when calling TimeApi.convert_time, must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && !opts[:'source_lat'].nil? && opts[:'source_lat'] < -90
        fail ArgumentError, 'invalid value for "opts[:"source_lat"]" when calling TimeApi.convert_time, must be greater than or equal to -90.'
      end

      if @api_client.config.client_side_validation && !opts[:'source_lon'].nil? && opts[:'source_lon'] > 180
        fail ArgumentError, 'invalid value for "opts[:"source_lon"]" when calling TimeApi.convert_time, must be smaller than or equal to 180.'
      end

      if @api_client.config.client_side_validation && !opts[:'source_lon'].nil? && opts[:'source_lon'] < -180
        fail ArgumentError, 'invalid value for "opts[:"source_lon"]" when calling TimeApi.convert_time, must be greater than or equal to -180.'
      end

      pattern = Regexp.new(/^[+-](0\d|1\d|2[0-3]):[0-5]\d$/)
      if @api_client.config.client_side_validation && !opts[:'source_offset'].nil? && opts[:'source_offset'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"source_offset\"]' when calling TimeApi.convert_time, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'tz'].nil? && opts[:'tz'].to_s.length > 64
        fail ArgumentError, 'invalid value for "opts[:"tz"]" when calling TimeApi.convert_time, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && !opts[:'lat'].nil? && opts[:'lat'] > 90
        fail ArgumentError, 'invalid value for "opts[:"lat"]" when calling TimeApi.convert_time, must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && !opts[:'lat'].nil? && opts[:'lat'] < -90
        fail ArgumentError, 'invalid value for "opts[:"lat"]" when calling TimeApi.convert_time, must be greater than or equal to -90.'
      end

      if @api_client.config.client_side_validation && !opts[:'lon'].nil? && opts[:'lon'] > 180
        fail ArgumentError, 'invalid value for "opts[:"lon"]" when calling TimeApi.convert_time, must be smaller than or equal to 180.'
      end

      if @api_client.config.client_side_validation && !opts[:'lon'].nil? && opts[:'lon'] < -180
        fail ArgumentError, 'invalid value for "opts[:"lon"]" when calling TimeApi.convert_time, must be greater than or equal to -180.'
      end

      pattern = Regexp.new(/^[+-](0\d|1\d|2[0-3]):[0-5]\d$/)
      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"offset\"]' when calling TimeApi.convert_time, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/v1/time/convert'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'unix'] = opts[:'unix'] if !opts[:'unix'].nil?
      query_params[:'unix_ms'] = opts[:'unix_ms'] if !opts[:'unix_ms'].nil?
      query_params[:'iso'] = opts[:'iso'] if !opts[:'iso'].nil?
      query_params[:'source_tz'] = opts[:'source_tz'] if !opts[:'source_tz'].nil?
      query_params[:'source_ip'] = opts[:'source_ip'] if !opts[:'source_ip'].nil?
      query_params[:'source_lat'] = opts[:'source_lat'] if !opts[:'source_lat'].nil?
      query_params[:'source_lon'] = opts[:'source_lon'] if !opts[:'source_lon'].nil?
      query_params[:'source_offset'] = opts[:'source_offset'] if !opts[:'source_offset'].nil?
      query_params[:'tz'] = opts[:'tz'] if !opts[:'tz'].nil?
      query_params[:'ip'] = opts[:'ip'] if !opts[:'ip'].nil?
      query_params[:'lat'] = opts[:'lat'] if !opts[:'lat'].nil?
      query_params[:'lon'] = opts[:'lon'] if !opts[:'lon'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'auto_tz'] = opts[:'auto_tz'] if !opts[:'auto_tz'].nil?
      query_params[:'utc'] = opts[:'utc'] if !opts[:'utc'].nil?
      query_params[:'format'] = opts[:'format'] if !opts[:'format'].nil?
      query_params[:'sign'] = opts[:'sign'] if !opts[:'sign'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCurrentTime200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['directApiKeyHeader', 'directBearerAuth', 'directApiKeyQuery', 'rapidApiKey', 'rapidApiHost']

      new_options = opts.merge(
        :operation => :"TimeApi.convert_time",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeApi#convert_time\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Difference between two instants
    # Computes the duration between `from` and `to`.  Required query fields: `from` and `to` only. Do not send every optional companion field. For each side, choose one supported specifier form. A `from_*` or `to_*` companion is allowed only when that side uses `iso=...` with no explicit offset; use at most one companion selector, except that coordinate input requires its paired latitude and longitude.  `from` and `to` are embedded specifier strings.  Accepted specifier forms: - `from=now` - `from=unix=1711300000` - `from=unix_ms=1711300000000` - `from=iso=2026-04-16T09:00:00` - `from=tz=America/New_York` - `from=ip=8.8.8.8` - `from=offset=-05:00` - the same forms are accepted for `to`  Timezone hint pairings: - `from_tz` only with `from=iso=...` that has no explicit offset - `from_ip`, `from_lat`/`from_lon`, and `from_offset` only with `from=iso=...` that has no explicit offset - `to_tz` only with `to=iso=...` that has no explicit offset - `to_ip`, `to_lat`/`to_lon`, and `to_offset` only with `to=iso=...` that has no explicit offset  Selector semantics: - `tz=...`, `ip=...`, and `offset=...` inside `from` or `to` mean the current request-time instant resolved through that selector - those selector forms do not represent an arbitrary local wall-clock time - returned duration magnitudes are absolute; use `direction` to see whether `to` is after, before, or the same instant as `from`  Business-day rules: - `holiday_country` and `holiday_subdivision` require `business_days=true` - `holiday_subdivision` also requires `holiday_country`  Examples: - Selector-current instant: `/v1/time/diff?from=unix=1711300000&to=tz=America/New_York` - Wall-clock pairing: `/v1/time/diff?from=iso=2026-04-16T09:00:00&from_tz=America/New_York&to=iso=2026-04-16T09:00:00&to_tz=Europe/London` - Wall-clock via selector: `/v1/time/diff?from=iso=2026-01-01T12:00:00&from_ip=8.8.8.8&to=iso=2026-01-01T12:00:00&to_offset=-05:00` 
    # @param from [String] Time specifier. Supported forms are &#x60;now&#x60;, &#x60;unix&#x3D;&lt;seconds&gt;&#x60;, &#x60;unix_ms&#x3D;&lt;milliseconds&gt;&#x60;, &#x60;iso&#x3D;&lt;ISO-8601&gt;&#x60;, &#x60;offset&#x3D;±HH:MM&#x60;, &#x60;tz&#x3D;&lt;IANA timezone&gt;&#x60;, and &#x60;ip&#x3D;&lt;IP address&gt;&#x60;. For &#x60;tz&#x3D;...&#x60;, &#x60;ip&#x3D;...&#x60;, and &#x60;offset&#x3D;...&#x60;, the specifier means the current request-time instant resolved through that selector. To express a local wall-clock time, use &#x60;from&#x3D;iso&#x3D;...&#x60; together with one of &#x60;from_tz&#x60;, &#x60;from_ip&#x60;, &#x60;from_lat&#x60;+&#x60;from_lon&#x60;, or &#x60;from_offset&#x60;.
    # @param to [String] Time specifier. Supported forms are &#x60;now&#x60;, &#x60;unix&#x3D;&lt;seconds&gt;&#x60;, &#x60;unix_ms&#x3D;&lt;milliseconds&gt;&#x60;, &#x60;iso&#x3D;&lt;ISO-8601&gt;&#x60;, &#x60;offset&#x3D;±HH:MM&#x60;, &#x60;tz&#x3D;&lt;IANA timezone&gt;&#x60;, and &#x60;ip&#x3D;&lt;IP address&gt;&#x60;. For &#x60;tz&#x3D;...&#x60;, &#x60;ip&#x3D;...&#x60;, and &#x60;offset&#x3D;...&#x60;, the specifier means the current request-time instant resolved through that selector. To express a local wall-clock time, use &#x60;to&#x3D;iso&#x3D;...&#x60; together with one of &#x60;to_tz&#x60;, &#x60;to_ip&#x60;, &#x60;to_lat&#x60;+&#x60;to_lon&#x60;, or &#x60;to_offset&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :from_tz Used only with &#x60;from&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset.
    # @option opts [String] :from_ip Used only with &#x60;from&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Resolves that local wall-clock time through the timezone mapped from this IP address.
    # @option opts [Float] :from_lat Used only with &#x60;from&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;from_lon&#x60; to resolve that local wall-clock time through the timezone mapped from these coordinates.
    # @option opts [Float] :from_lon Used only with &#x60;from&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;from_lat&#x60;.
    # @option opts [String] :from_offset Used only with &#x60;from&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Interprets that local wall-clock time at this fixed UTC offset.
    # @option opts [String] :to_tz Used only with &#x60;to&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset.
    # @option opts [String] :to_ip Used only with &#x60;to&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Resolves that local wall-clock time through the timezone mapped from this IP address.
    # @option opts [Float] :to_lat Used only with &#x60;to&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;to_lon&#x60; to resolve that local wall-clock time through the timezone mapped from these coordinates.
    # @option opts [Float] :to_lon Used only with &#x60;to&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;to_lat&#x60;.
    # @option opts [String] :to_offset Used only with &#x60;to&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Interprets that local wall-clock time at this fixed UTC offset.
    # @option opts [String] :format Custom duration format template using &#x60;%days&#x60;, &#x60;%hours&#x60;, &#x60;%minutes&#x60;, and &#x60;%seconds&#x60;.
    # @option opts [Boolean] :business_days Set to &#x60;true&#x60; to enable weekday/business-day counting.
    # @option opts [String] :holiday_country ISO 3166-1 alpha-2 holiday calendar country code. Requires &#x60;business_days&#x3D;true&#x60;.
    # @option opts [String] :holiday_subdivision Holiday calendar subdivision code from the upstream &#x60;python-holidays&#x60; calendar, for example &#x60;CA&#x60; or &#x60;ENG&#x60;. Requires &#x60;holiday_country&#x60; and &#x60;business_days&#x3D;true&#x60;.
    # @option opts [Boolean] :sign Set to exactly &#x60;true&#x60; to ask the gateway to sign the final JSON response. Every authenticated JSON response, including errors, then includes signing headers. Not supported on &#x60;/v1/time/clock&#x60;.
    # @return [DiffResponse]
    def diff_time(from, to, opts = {})
      data, _status_code, _headers = diff_time_with_http_info(from, to, opts)
      data
    end

    # Difference between two instants
    # Computes the duration between &#x60;from&#x60; and &#x60;to&#x60;.  Required query fields: &#x60;from&#x60; and &#x60;to&#x60; only. Do not send every optional companion field. For each side, choose one supported specifier form. A &#x60;from_*&#x60; or &#x60;to_*&#x60; companion is allowed only when that side uses &#x60;iso&#x3D;...&#x60; with no explicit offset; use at most one companion selector, except that coordinate input requires its paired latitude and longitude.  &#x60;from&#x60; and &#x60;to&#x60; are embedded specifier strings.  Accepted specifier forms: - &#x60;from&#x3D;now&#x60; - &#x60;from&#x3D;unix&#x3D;1711300000&#x60; - &#x60;from&#x3D;unix_ms&#x3D;1711300000000&#x60; - &#x60;from&#x3D;iso&#x3D;2026-04-16T09:00:00&#x60; - &#x60;from&#x3D;tz&#x3D;America/New_York&#x60; - &#x60;from&#x3D;ip&#x3D;8.8.8.8&#x60; - &#x60;from&#x3D;offset&#x3D;-05:00&#x60; - the same forms are accepted for &#x60;to&#x60;  Timezone hint pairings: - &#x60;from_tz&#x60; only with &#x60;from&#x3D;iso&#x3D;...&#x60; that has no explicit offset - &#x60;from_ip&#x60;, &#x60;from_lat&#x60;/&#x60;from_lon&#x60;, and &#x60;from_offset&#x60; only with &#x60;from&#x3D;iso&#x3D;...&#x60; that has no explicit offset - &#x60;to_tz&#x60; only with &#x60;to&#x3D;iso&#x3D;...&#x60; that has no explicit offset - &#x60;to_ip&#x60;, &#x60;to_lat&#x60;/&#x60;to_lon&#x60;, and &#x60;to_offset&#x60; only with &#x60;to&#x3D;iso&#x3D;...&#x60; that has no explicit offset  Selector semantics: - &#x60;tz&#x3D;...&#x60;, &#x60;ip&#x3D;...&#x60;, and &#x60;offset&#x3D;...&#x60; inside &#x60;from&#x60; or &#x60;to&#x60; mean the current request-time instant resolved through that selector - those selector forms do not represent an arbitrary local wall-clock time - returned duration magnitudes are absolute; use &#x60;direction&#x60; to see whether &#x60;to&#x60; is after, before, or the same instant as &#x60;from&#x60;  Business-day rules: - &#x60;holiday_country&#x60; and &#x60;holiday_subdivision&#x60; require &#x60;business_days&#x3D;true&#x60; - &#x60;holiday_subdivision&#x60; also requires &#x60;holiday_country&#x60;  Examples: - Selector-current instant: &#x60;/v1/time/diff?from&#x3D;unix&#x3D;1711300000&amp;to&#x3D;tz&#x3D;America/New_York&#x60; - Wall-clock pairing: &#x60;/v1/time/diff?from&#x3D;iso&#x3D;2026-04-16T09:00:00&amp;from_tz&#x3D;America/New_York&amp;to&#x3D;iso&#x3D;2026-04-16T09:00:00&amp;to_tz&#x3D;Europe/London&#x60; - Wall-clock via selector: &#x60;/v1/time/diff?from&#x3D;iso&#x3D;2026-01-01T12:00:00&amp;from_ip&#x3D;8.8.8.8&amp;to&#x3D;iso&#x3D;2026-01-01T12:00:00&amp;to_offset&#x3D;-05:00&#x60; 
    # @param from [String] Time specifier. Supported forms are &#x60;now&#x60;, &#x60;unix&#x3D;&lt;seconds&gt;&#x60;, &#x60;unix_ms&#x3D;&lt;milliseconds&gt;&#x60;, &#x60;iso&#x3D;&lt;ISO-8601&gt;&#x60;, &#x60;offset&#x3D;±HH:MM&#x60;, &#x60;tz&#x3D;&lt;IANA timezone&gt;&#x60;, and &#x60;ip&#x3D;&lt;IP address&gt;&#x60;. For &#x60;tz&#x3D;...&#x60;, &#x60;ip&#x3D;...&#x60;, and &#x60;offset&#x3D;...&#x60;, the specifier means the current request-time instant resolved through that selector. To express a local wall-clock time, use &#x60;from&#x3D;iso&#x3D;...&#x60; together with one of &#x60;from_tz&#x60;, &#x60;from_ip&#x60;, &#x60;from_lat&#x60;+&#x60;from_lon&#x60;, or &#x60;from_offset&#x60;.
    # @param to [String] Time specifier. Supported forms are &#x60;now&#x60;, &#x60;unix&#x3D;&lt;seconds&gt;&#x60;, &#x60;unix_ms&#x3D;&lt;milliseconds&gt;&#x60;, &#x60;iso&#x3D;&lt;ISO-8601&gt;&#x60;, &#x60;offset&#x3D;±HH:MM&#x60;, &#x60;tz&#x3D;&lt;IANA timezone&gt;&#x60;, and &#x60;ip&#x3D;&lt;IP address&gt;&#x60;. For &#x60;tz&#x3D;...&#x60;, &#x60;ip&#x3D;...&#x60;, and &#x60;offset&#x3D;...&#x60;, the specifier means the current request-time instant resolved through that selector. To express a local wall-clock time, use &#x60;to&#x3D;iso&#x3D;...&#x60; together with one of &#x60;to_tz&#x60;, &#x60;to_ip&#x60;, &#x60;to_lat&#x60;+&#x60;to_lon&#x60;, or &#x60;to_offset&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :from_tz Used only with &#x60;from&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset.
    # @option opts [String] :from_ip Used only with &#x60;from&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Resolves that local wall-clock time through the timezone mapped from this IP address.
    # @option opts [Float] :from_lat Used only with &#x60;from&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;from_lon&#x60; to resolve that local wall-clock time through the timezone mapped from these coordinates.
    # @option opts [Float] :from_lon Used only with &#x60;from&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;from_lat&#x60;.
    # @option opts [String] :from_offset Used only with &#x60;from&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Interprets that local wall-clock time at this fixed UTC offset.
    # @option opts [String] :to_tz Used only with &#x60;to&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset.
    # @option opts [String] :to_ip Used only with &#x60;to&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Resolves that local wall-clock time through the timezone mapped from this IP address.
    # @option opts [Float] :to_lat Used only with &#x60;to&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;to_lon&#x60; to resolve that local wall-clock time through the timezone mapped from these coordinates.
    # @option opts [Float] :to_lon Used only with &#x60;to&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;to_lat&#x60;.
    # @option opts [String] :to_offset Used only with &#x60;to&#x3D;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Interprets that local wall-clock time at this fixed UTC offset.
    # @option opts [String] :format Custom duration format template using &#x60;%days&#x60;, &#x60;%hours&#x60;, &#x60;%minutes&#x60;, and &#x60;%seconds&#x60;.
    # @option opts [Boolean] :business_days Set to &#x60;true&#x60; to enable weekday/business-day counting.
    # @option opts [String] :holiday_country ISO 3166-1 alpha-2 holiday calendar country code. Requires &#x60;business_days&#x3D;true&#x60;.
    # @option opts [String] :holiday_subdivision Holiday calendar subdivision code from the upstream &#x60;python-holidays&#x60; calendar, for example &#x60;CA&#x60; or &#x60;ENG&#x60;. Requires &#x60;holiday_country&#x60; and &#x60;business_days&#x3D;true&#x60;.
    # @option opts [Boolean] :sign Set to exactly &#x60;true&#x60; to ask the gateway to sign the final JSON response. Every authenticated JSON response, including errors, then includes signing headers. Not supported on &#x60;/v1/time/clock&#x60;.
    # @return [Array<(DiffResponse, Integer, Hash)>] DiffResponse data, response status code and response headers
    def diff_time_with_http_info(from, to, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeApi.diff_time ...'
      end
      # verify the required parameter 'from' is set
      if @api_client.config.client_side_validation && from.nil?
        fail ArgumentError, "Missing the required parameter 'from' when calling TimeApi.diff_time"
      end
      # verify the required parameter 'to' is set
      if @api_client.config.client_side_validation && to.nil?
        fail ArgumentError, "Missing the required parameter 'to' when calling TimeApi.diff_time"
      end
      if @api_client.config.client_side_validation && !opts[:'from_lat'].nil? && opts[:'from_lat'] > 90
        fail ArgumentError, 'invalid value for "opts[:"from_lat"]" when calling TimeApi.diff_time, must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && !opts[:'from_lat'].nil? && opts[:'from_lat'] < -90
        fail ArgumentError, 'invalid value for "opts[:"from_lat"]" when calling TimeApi.diff_time, must be greater than or equal to -90.'
      end

      if @api_client.config.client_side_validation && !opts[:'from_lon'].nil? && opts[:'from_lon'] > 180
        fail ArgumentError, 'invalid value for "opts[:"from_lon"]" when calling TimeApi.diff_time, must be smaller than or equal to 180.'
      end

      if @api_client.config.client_side_validation && !opts[:'from_lon'].nil? && opts[:'from_lon'] < -180
        fail ArgumentError, 'invalid value for "opts[:"from_lon"]" when calling TimeApi.diff_time, must be greater than or equal to -180.'
      end

      pattern = Regexp.new(/^[+-](0\d|1\d|2[0-3]):[0-5]\d$/)
      if @api_client.config.client_side_validation && !opts[:'from_offset'].nil? && opts[:'from_offset'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"from_offset\"]' when calling TimeApi.diff_time, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'to_lat'].nil? && opts[:'to_lat'] > 90
        fail ArgumentError, 'invalid value for "opts[:"to_lat"]" when calling TimeApi.diff_time, must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && !opts[:'to_lat'].nil? && opts[:'to_lat'] < -90
        fail ArgumentError, 'invalid value for "opts[:"to_lat"]" when calling TimeApi.diff_time, must be greater than or equal to -90.'
      end

      if @api_client.config.client_side_validation && !opts[:'to_lon'].nil? && opts[:'to_lon'] > 180
        fail ArgumentError, 'invalid value for "opts[:"to_lon"]" when calling TimeApi.diff_time, must be smaller than or equal to 180.'
      end

      if @api_client.config.client_side_validation && !opts[:'to_lon'].nil? && opts[:'to_lon'] < -180
        fail ArgumentError, 'invalid value for "opts[:"to_lon"]" when calling TimeApi.diff_time, must be greater than or equal to -180.'
      end

      pattern = Regexp.new(/^[+-](0\d|1\d|2[0-3]):[0-5]\d$/)
      if @api_client.config.client_side_validation && !opts[:'to_offset'].nil? && opts[:'to_offset'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"to_offset\"]' when calling TimeApi.diff_time, must conform to the pattern #{pattern}."
      end

      pattern = Regexp.new(/^[A-Z]{2}$/)
      if @api_client.config.client_side_validation && !opts[:'holiday_country'].nil? && opts[:'holiday_country'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"holiday_country\"]' when calling TimeApi.diff_time, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/v1/time/diff'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'from'] = from
      query_params[:'to'] = to
      query_params[:'from_tz'] = opts[:'from_tz'] if !opts[:'from_tz'].nil?
      query_params[:'from_ip'] = opts[:'from_ip'] if !opts[:'from_ip'].nil?
      query_params[:'from_lat'] = opts[:'from_lat'] if !opts[:'from_lat'].nil?
      query_params[:'from_lon'] = opts[:'from_lon'] if !opts[:'from_lon'].nil?
      query_params[:'from_offset'] = opts[:'from_offset'] if !opts[:'from_offset'].nil?
      query_params[:'to_tz'] = opts[:'to_tz'] if !opts[:'to_tz'].nil?
      query_params[:'to_ip'] = opts[:'to_ip'] if !opts[:'to_ip'].nil?
      query_params[:'to_lat'] = opts[:'to_lat'] if !opts[:'to_lat'].nil?
      query_params[:'to_lon'] = opts[:'to_lon'] if !opts[:'to_lon'].nil?
      query_params[:'to_offset'] = opts[:'to_offset'] if !opts[:'to_offset'].nil?
      query_params[:'format'] = opts[:'format'] if !opts[:'format'].nil?
      query_params[:'business_days'] = opts[:'business_days'] if !opts[:'business_days'].nil?
      query_params[:'holiday_country'] = opts[:'holiday_country'] if !opts[:'holiday_country'].nil?
      query_params[:'holiday_subdivision'] = opts[:'holiday_subdivision'] if !opts[:'holiday_subdivision'].nil?
      query_params[:'sign'] = opts[:'sign'] if !opts[:'sign'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DiffResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['directApiKeyHeader', 'directBearerAuth', 'directApiKeyQuery', 'rapidApiKey', 'rapidApiHost']

      new_options = opts.merge(
        :operation => :"TimeApi.diff_time",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeApi#diff_time\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Calendar projection for a target instant
    # Returns calendar fields for an optional timestamp and target.  Input timestamp forms: - `unix=1711300000` - `unix_ms=1711300000000` - `iso=2026-04-16T09:00:00Z` - `iso=2026-04-16T09:00:00&source_tz=America/New_York` - `iso=2026-04-16T09:00:00&source_ip=8.8.8.8` - `iso=2026-04-16T09:00:00&source_lat=40.7128&source_lon=-74.0060` - `iso=2026-04-16T09:00:00&source_offset=-05:00` - if no input timestamp is provided, the request time is used  Target selector forms: - `tz=America/New_York` - `ip=8.8.8.8` - `lat=40.7128&lon=-74.0060` - `offset=-04:00` - `auto_tz=true`  Additional flags: - `week=true` adds `week_number`  Incompatible combinations: - at most one input timestamp form - at most one target selector family - use at most one of `source_tz`, `source_ip`, `source_lat`/`source_lon`, or `source_offset` - local-ISO companion selectors are valid only with `iso=...` that has no explicit offset - bulk is not supported on this route  Examples: - `/v1/time/calendar?iso=2026-04-16T09:00:00&source_tz=America/New_York&tz=Europe/London&week=true` - `/v1/time/calendar?unix=1711300000&auto_tz=true` 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :unix 
    # @option opts [Integer] :unix_ms 
    # @option opts [String] :iso ISO-8601 timestamp. To supply a local wall-clock time without an explicit offset, pair it with one of &#x60;source_tz&#x3D;Area/City&#x60;, &#x60;source_ip&#x3D;...&#x60;, &#x60;source_lat&#x3D;...&amp;source_lon&#x3D;...&#x60;, or &#x60;source_offset&#x3D;±HH:MM&#x60;.
    # @option opts [String] :source_tz Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset.
    # @option opts [String] :source_ip Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Resolves that local wall-clock time through the timezone mapped from this IP address.
    # @option opts [Float] :source_lat Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lon&#x60; to resolve that local wall-clock time through the timezone mapped from these coordinates.
    # @option opts [Float] :source_lon Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lat&#x60;.
    # @option opts [String] :source_offset Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Interprets that local wall-clock time at this fixed UTC offset.
    # @option opts [String] :tz IANA timezone name. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [String] :ip IP address. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [Float] :lat Latitude. Must be provided together with &#x60;lon&#x60;.
    # @option opts [Float] :lon Longitude. Must be provided together with &#x60;lat&#x60;.
    # @option opts [String] :offset Fixed UTC offset in &#x60;+HH:MM&#x60; or &#x60;-HH:MM&#x60; format. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [Boolean] :auto_tz Set to &#x60;true&#x60; to resolve using the caller IP from Cloudflare headers.
    # @option opts [String] :format Custom date/time format template using supported &#x60;strftime&#x60;-style directives such as &#x60;%Y-%m-%d %H:%M:%S&#x60;. Reference: [strftime](https://strftime.net/).
    # @option opts [Boolean] :week 
    # @option opts [Boolean] :sign Set to exactly &#x60;true&#x60; to ask the gateway to sign the final JSON response. Every authenticated JSON response, including errors, then includes signing headers. Not supported on &#x60;/v1/time/clock&#x60;.
    # @return [CalendarResponse]
    def get_calendar(opts = {})
      data, _status_code, _headers = get_calendar_with_http_info(opts)
      data
    end

    # Calendar projection for a target instant
    # Returns calendar fields for an optional timestamp and target.  Input timestamp forms: - &#x60;unix&#x3D;1711300000&#x60; - &#x60;unix_ms&#x3D;1711300000000&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00Z&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_tz&#x3D;America/New_York&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_ip&#x3D;8.8.8.8&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_lat&#x3D;40.7128&amp;source_lon&#x3D;-74.0060&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_offset&#x3D;-05:00&#x60; - if no input timestamp is provided, the request time is used  Target selector forms: - &#x60;tz&#x3D;America/New_York&#x60; - &#x60;ip&#x3D;8.8.8.8&#x60; - &#x60;lat&#x3D;40.7128&amp;lon&#x3D;-74.0060&#x60; - &#x60;offset&#x3D;-04:00&#x60; - &#x60;auto_tz&#x3D;true&#x60;  Additional flags: - &#x60;week&#x3D;true&#x60; adds &#x60;week_number&#x60;  Incompatible combinations: - at most one input timestamp form - at most one target selector family - use at most one of &#x60;source_tz&#x60;, &#x60;source_ip&#x60;, &#x60;source_lat&#x60;/&#x60;source_lon&#x60;, or &#x60;source_offset&#x60; - local-ISO companion selectors are valid only with &#x60;iso&#x3D;...&#x60; that has no explicit offset - bulk is not supported on this route  Examples: - &#x60;/v1/time/calendar?iso&#x3D;2026-04-16T09:00:00&amp;source_tz&#x3D;America/New_York&amp;tz&#x3D;Europe/London&amp;week&#x3D;true&#x60; - &#x60;/v1/time/calendar?unix&#x3D;1711300000&amp;auto_tz&#x3D;true&#x60; 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :unix 
    # @option opts [Integer] :unix_ms 
    # @option opts [String] :iso ISO-8601 timestamp. To supply a local wall-clock time without an explicit offset, pair it with one of &#x60;source_tz&#x3D;Area/City&#x60;, &#x60;source_ip&#x3D;...&#x60;, &#x60;source_lat&#x3D;...&amp;source_lon&#x3D;...&#x60;, or &#x60;source_offset&#x3D;±HH:MM&#x60;.
    # @option opts [String] :source_tz Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset.
    # @option opts [String] :source_ip Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Resolves that local wall-clock time through the timezone mapped from this IP address.
    # @option opts [Float] :source_lat Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lon&#x60; to resolve that local wall-clock time through the timezone mapped from these coordinates.
    # @option opts [Float] :source_lon Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lat&#x60;.
    # @option opts [String] :source_offset Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Interprets that local wall-clock time at this fixed UTC offset.
    # @option opts [String] :tz IANA timezone name. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [String] :ip IP address. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [Float] :lat Latitude. Must be provided together with &#x60;lon&#x60;.
    # @option opts [Float] :lon Longitude. Must be provided together with &#x60;lat&#x60;.
    # @option opts [String] :offset Fixed UTC offset in &#x60;+HH:MM&#x60; or &#x60;-HH:MM&#x60; format. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [Boolean] :auto_tz Set to &#x60;true&#x60; to resolve using the caller IP from Cloudflare headers.
    # @option opts [String] :format Custom date/time format template using supported &#x60;strftime&#x60;-style directives such as &#x60;%Y-%m-%d %H:%M:%S&#x60;. Reference: [strftime](https://strftime.net/).
    # @option opts [Boolean] :week 
    # @option opts [Boolean] :sign Set to exactly &#x60;true&#x60; to ask the gateway to sign the final JSON response. Every authenticated JSON response, including errors, then includes signing headers. Not supported on &#x60;/v1/time/clock&#x60;.
    # @return [Array<(CalendarResponse, Integer, Hash)>] CalendarResponse data, response status code and response headers
    def get_calendar_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeApi.get_calendar ...'
      end
      if @api_client.config.client_side_validation && !opts[:'source_lat'].nil? && opts[:'source_lat'] > 90
        fail ArgumentError, 'invalid value for "opts[:"source_lat"]" when calling TimeApi.get_calendar, must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && !opts[:'source_lat'].nil? && opts[:'source_lat'] < -90
        fail ArgumentError, 'invalid value for "opts[:"source_lat"]" when calling TimeApi.get_calendar, must be greater than or equal to -90.'
      end

      if @api_client.config.client_side_validation && !opts[:'source_lon'].nil? && opts[:'source_lon'] > 180
        fail ArgumentError, 'invalid value for "opts[:"source_lon"]" when calling TimeApi.get_calendar, must be smaller than or equal to 180.'
      end

      if @api_client.config.client_side_validation && !opts[:'source_lon'].nil? && opts[:'source_lon'] < -180
        fail ArgumentError, 'invalid value for "opts[:"source_lon"]" when calling TimeApi.get_calendar, must be greater than or equal to -180.'
      end

      pattern = Regexp.new(/^[+-](0\d|1\d|2[0-3]):[0-5]\d$/)
      if @api_client.config.client_side_validation && !opts[:'source_offset'].nil? && opts[:'source_offset'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"source_offset\"]' when calling TimeApi.get_calendar, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'tz'].nil? && opts[:'tz'].to_s.length > 64
        fail ArgumentError, 'invalid value for "opts[:"tz"]" when calling TimeApi.get_calendar, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && !opts[:'lat'].nil? && opts[:'lat'] > 90
        fail ArgumentError, 'invalid value for "opts[:"lat"]" when calling TimeApi.get_calendar, must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && !opts[:'lat'].nil? && opts[:'lat'] < -90
        fail ArgumentError, 'invalid value for "opts[:"lat"]" when calling TimeApi.get_calendar, must be greater than or equal to -90.'
      end

      if @api_client.config.client_side_validation && !opts[:'lon'].nil? && opts[:'lon'] > 180
        fail ArgumentError, 'invalid value for "opts[:"lon"]" when calling TimeApi.get_calendar, must be smaller than or equal to 180.'
      end

      if @api_client.config.client_side_validation && !opts[:'lon'].nil? && opts[:'lon'] < -180
        fail ArgumentError, 'invalid value for "opts[:"lon"]" when calling TimeApi.get_calendar, must be greater than or equal to -180.'
      end

      pattern = Regexp.new(/^[+-](0\d|1\d|2[0-3]):[0-5]\d$/)
      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"offset\"]' when calling TimeApi.get_calendar, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/v1/time/calendar'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'unix'] = opts[:'unix'] if !opts[:'unix'].nil?
      query_params[:'unix_ms'] = opts[:'unix_ms'] if !opts[:'unix_ms'].nil?
      query_params[:'iso'] = opts[:'iso'] if !opts[:'iso'].nil?
      query_params[:'source_tz'] = opts[:'source_tz'] if !opts[:'source_tz'].nil?
      query_params[:'source_ip'] = opts[:'source_ip'] if !opts[:'source_ip'].nil?
      query_params[:'source_lat'] = opts[:'source_lat'] if !opts[:'source_lat'].nil?
      query_params[:'source_lon'] = opts[:'source_lon'] if !opts[:'source_lon'].nil?
      query_params[:'source_offset'] = opts[:'source_offset'] if !opts[:'source_offset'].nil?
      query_params[:'tz'] = opts[:'tz'] if !opts[:'tz'].nil?
      query_params[:'ip'] = opts[:'ip'] if !opts[:'ip'].nil?
      query_params[:'lat'] = opts[:'lat'] if !opts[:'lat'].nil?
      query_params[:'lon'] = opts[:'lon'] if !opts[:'lon'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'auto_tz'] = opts[:'auto_tz'] if !opts[:'auto_tz'].nil?
      query_params[:'format'] = opts[:'format'] if !opts[:'format'].nil?
      query_params[:'week'] = opts[:'week'] if !opts[:'week'].nil?
      query_params[:'sign'] = opts[:'sign'] if !opts[:'sign'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CalendarResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['directApiKeyHeader', 'directBearerAuth', 'directApiKeyQuery', 'rapidApiKey', 'rapidApiHost']

      new_options = opts.merge(
        :operation => :"TimeApi.get_calendar",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeApi#get_calendar\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Render a live HTML clock
    # Returns an embeddable HTML clock fragment.  Input timestamp forms: - `unix=1711300000` - `unix_ms=1711300000000` - `iso=2026-04-16T09:00:00Z` - `iso=2026-04-16T09:00:00&source_tz=America/New_York`  Target selector forms: - `tz=America/New_York` - `ip=8.8.8.8` - `lat=40.7128&lon=-74.0060` - `offset=-04:00`  Incompatible combinations: - `style` is required and must be one of the 30 names in the `style` enum - at most one input timestamp form - at most one target selector family - use at most one of `source_tz`, `source_ip`, `source_lat`/`source_lon`, or `source_offset` - local-ISO companion selectors are valid only with `iso=...` that has no explicit offset - this route is single-target only; comma-separated `tz`, `ip`, and `offset` values are rejected - `auto_tz` is not supported on this route - `sign` is not supported on this route  Examples: - Digital: `/v1/time/clock?style=digital-dashboard&iso=2026-04-16T09:00:00&source_tz=America/New_York&tz=Europe/London` - Analog: `/v1/time/clock?style=analog-station&offset=-04:00` 
    # @param style [String] Clock style name. Valid values are enumerated here; there is no separate style discovery endpoint.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :unix 
    # @option opts [Integer] :unix_ms 
    # @option opts [String] :iso ISO-8601 timestamp. To supply a local wall-clock time without an explicit offset, pair it with one of &#x60;source_tz&#x3D;Area/City&#x60;, &#x60;source_ip&#x3D;...&#x60;, &#x60;source_lat&#x3D;...&amp;source_lon&#x3D;...&#x60;, or &#x60;source_offset&#x3D;±HH:MM&#x60;.
    # @option opts [String] :source_tz Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset.
    # @option opts [String] :source_ip Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Resolves that local wall-clock time through the timezone mapped from this IP address.
    # @option opts [Float] :source_lat Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lon&#x60; to resolve that local wall-clock time through the timezone mapped from these coordinates.
    # @option opts [Float] :source_lon Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lat&#x60;.
    # @option opts [String] :source_offset Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Interprets that local wall-clock time at this fixed UTC offset.
    # @option opts [String] :tz IANA timezone name. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [String] :ip IP address. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [Float] :lat Latitude. Must be provided together with &#x60;lon&#x60;.
    # @option opts [Float] :lon Longitude. Must be provided together with &#x60;lat&#x60;.
    # @option opts [String] :offset Fixed UTC offset in &#x60;+HH:MM&#x60; or &#x60;-HH:MM&#x60; format. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [String] :format Custom date/time format template using supported &#x60;strftime&#x60;-style directives such as &#x60;%Y-%m-%d %H:%M:%S&#x60;. Reference: [strftime](https://strftime.net/).
    # @return [String]
    def get_clock(style, opts = {})
      data, _status_code, _headers = get_clock_with_http_info(style, opts)
      data
    end

    # Render a live HTML clock
    # Returns an embeddable HTML clock fragment.  Input timestamp forms: - &#x60;unix&#x3D;1711300000&#x60; - &#x60;unix_ms&#x3D;1711300000000&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00Z&#x60; - &#x60;iso&#x3D;2026-04-16T09:00:00&amp;source_tz&#x3D;America/New_York&#x60;  Target selector forms: - &#x60;tz&#x3D;America/New_York&#x60; - &#x60;ip&#x3D;8.8.8.8&#x60; - &#x60;lat&#x3D;40.7128&amp;lon&#x3D;-74.0060&#x60; - &#x60;offset&#x3D;-04:00&#x60;  Incompatible combinations: - &#x60;style&#x60; is required and must be one of the 30 names in the &#x60;style&#x60; enum - at most one input timestamp form - at most one target selector family - use at most one of &#x60;source_tz&#x60;, &#x60;source_ip&#x60;, &#x60;source_lat&#x60;/&#x60;source_lon&#x60;, or &#x60;source_offset&#x60; - local-ISO companion selectors are valid only with &#x60;iso&#x3D;...&#x60; that has no explicit offset - this route is single-target only; comma-separated &#x60;tz&#x60;, &#x60;ip&#x60;, and &#x60;offset&#x60; values are rejected - &#x60;auto_tz&#x60; is not supported on this route - &#x60;sign&#x60; is not supported on this route  Examples: - Digital: &#x60;/v1/time/clock?style&#x3D;digital-dashboard&amp;iso&#x3D;2026-04-16T09:00:00&amp;source_tz&#x3D;America/New_York&amp;tz&#x3D;Europe/London&#x60; - Analog: &#x60;/v1/time/clock?style&#x3D;analog-station&amp;offset&#x3D;-04:00&#x60; 
    # @param style [String] Clock style name. Valid values are enumerated here; there is no separate style discovery endpoint.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :unix 
    # @option opts [Integer] :unix_ms 
    # @option opts [String] :iso ISO-8601 timestamp. To supply a local wall-clock time without an explicit offset, pair it with one of &#x60;source_tz&#x3D;Area/City&#x60;, &#x60;source_ip&#x3D;...&#x60;, &#x60;source_lat&#x3D;...&amp;source_lon&#x3D;...&#x60;, or &#x60;source_offset&#x3D;±HH:MM&#x60;.
    # @option opts [String] :source_tz Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset.
    # @option opts [String] :source_ip Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Resolves that local wall-clock time through the timezone mapped from this IP address.
    # @option opts [Float] :source_lat Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lon&#x60; to resolve that local wall-clock time through the timezone mapped from these coordinates.
    # @option opts [Float] :source_lon Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lat&#x60;.
    # @option opts [String] :source_offset Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Interprets that local wall-clock time at this fixed UTC offset.
    # @option opts [String] :tz IANA timezone name. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [String] :ip IP address. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [Float] :lat Latitude. Must be provided together with &#x60;lon&#x60;.
    # @option opts [Float] :lon Longitude. Must be provided together with &#x60;lat&#x60;.
    # @option opts [String] :offset Fixed UTC offset in &#x60;+HH:MM&#x60; or &#x60;-HH:MM&#x60; format. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [String] :format Custom date/time format template using supported &#x60;strftime&#x60;-style directives such as &#x60;%Y-%m-%d %H:%M:%S&#x60;. Reference: [strftime](https://strftime.net/).
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def get_clock_with_http_info(style, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeApi.get_clock ...'
      end
      # verify the required parameter 'style' is set
      if @api_client.config.client_side_validation && style.nil?
        fail ArgumentError, "Missing the required parameter 'style' when calling TimeApi.get_clock"
      end
      # verify enum value
      allowable_values = ["analog-station", "analog-aviation", "analog-bauhaus", "analog-graphite", "analog-arctic", "analog-brass", "analog-marine", "analog-grid", "analog-slate", "analog-executive", "digital-segment-red", "digital-segment-amber", "digital-segment-ice", "digital-terminal-green", "digital-terminal-white", "digital-broadcast", "digital-dashboard", "digital-control-room", "digital-slate", "digital-onyx", "digital-frost", "digital-card", "digital-glass", "digital-matrix", "digital-timetable", "digital-split-flap", "digital-cyan", "digital-emerald", "digital-monolith", "digital-minimal"]
      if @api_client.config.client_side_validation && !allowable_values.include?(style)
        fail ArgumentError, "invalid value for \"style\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'source_lat'].nil? && opts[:'source_lat'] > 90
        fail ArgumentError, 'invalid value for "opts[:"source_lat"]" when calling TimeApi.get_clock, must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && !opts[:'source_lat'].nil? && opts[:'source_lat'] < -90
        fail ArgumentError, 'invalid value for "opts[:"source_lat"]" when calling TimeApi.get_clock, must be greater than or equal to -90.'
      end

      if @api_client.config.client_side_validation && !opts[:'source_lon'].nil? && opts[:'source_lon'] > 180
        fail ArgumentError, 'invalid value for "opts[:"source_lon"]" when calling TimeApi.get_clock, must be smaller than or equal to 180.'
      end

      if @api_client.config.client_side_validation && !opts[:'source_lon'].nil? && opts[:'source_lon'] < -180
        fail ArgumentError, 'invalid value for "opts[:"source_lon"]" when calling TimeApi.get_clock, must be greater than or equal to -180.'
      end

      pattern = Regexp.new(/^[+-](0\d|1\d|2[0-3]):[0-5]\d$/)
      if @api_client.config.client_side_validation && !opts[:'source_offset'].nil? && opts[:'source_offset'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"source_offset\"]' when calling TimeApi.get_clock, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'tz'].nil? && opts[:'tz'].to_s.length > 64
        fail ArgumentError, 'invalid value for "opts[:"tz"]" when calling TimeApi.get_clock, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && !opts[:'lat'].nil? && opts[:'lat'] > 90
        fail ArgumentError, 'invalid value for "opts[:"lat"]" when calling TimeApi.get_clock, must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && !opts[:'lat'].nil? && opts[:'lat'] < -90
        fail ArgumentError, 'invalid value for "opts[:"lat"]" when calling TimeApi.get_clock, must be greater than or equal to -90.'
      end

      if @api_client.config.client_side_validation && !opts[:'lon'].nil? && opts[:'lon'] > 180
        fail ArgumentError, 'invalid value for "opts[:"lon"]" when calling TimeApi.get_clock, must be smaller than or equal to 180.'
      end

      if @api_client.config.client_side_validation && !opts[:'lon'].nil? && opts[:'lon'] < -180
        fail ArgumentError, 'invalid value for "opts[:"lon"]" when calling TimeApi.get_clock, must be greater than or equal to -180.'
      end

      pattern = Regexp.new(/^[+-](0\d|1\d|2[0-3]):[0-5]\d$/)
      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"offset\"]' when calling TimeApi.get_clock, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/v1/time/clock'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'style'] = style
      query_params[:'unix'] = opts[:'unix'] if !opts[:'unix'].nil?
      query_params[:'unix_ms'] = opts[:'unix_ms'] if !opts[:'unix_ms'].nil?
      query_params[:'iso'] = opts[:'iso'] if !opts[:'iso'].nil?
      query_params[:'source_tz'] = opts[:'source_tz'] if !opts[:'source_tz'].nil?
      query_params[:'source_ip'] = opts[:'source_ip'] if !opts[:'source_ip'].nil?
      query_params[:'source_lat'] = opts[:'source_lat'] if !opts[:'source_lat'].nil?
      query_params[:'source_lon'] = opts[:'source_lon'] if !opts[:'source_lon'].nil?
      query_params[:'source_offset'] = opts[:'source_offset'] if !opts[:'source_offset'].nil?
      query_params[:'tz'] = opts[:'tz'] if !opts[:'tz'].nil?
      query_params[:'ip'] = opts[:'ip'] if !opts[:'ip'].nil?
      query_params[:'lat'] = opts[:'lat'] if !opts[:'lat'].nil?
      query_params[:'lon'] = opts[:'lon'] if !opts[:'lon'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'format'] = opts[:'format'] if !opts[:'format'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/html', 'application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'String'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['directApiKeyHeader', 'directBearerAuth', 'directApiKeyQuery', 'rapidApiKey', 'rapidApiHost']

      new_options = opts.merge(
        :operation => :"TimeApi.get_clock",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeApi#get_clock\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the current time for a target
    # Returns current time data for a single target, or a bulk array when exactly one of `tz`, `ip`, or `offset` is supplied as a comma-separated list.  Target selector rules: - Use at most one selector family per request: `tz`, `ip`, `lat` + `lon`, `offset`, or `auto_tz=true`. - If no selector is provided, the response defaults to UTC with `timezone=null` and `iso_local=null`. - Bulk mode is available only through one comma-separated `tz`, `ip`, or `offset` selector and cannot be combined with any other selector.  Example: - Single target: `/v1/time/current?tz=America/New_York` - For bulk, provide one comma-separated `tz`, `ip`, or `offset` value, for example `/v1/time/current?tz=America/New_York,Europe/London,Asia/Tokyo`.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tz IANA timezone name. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [String] :ip IP address. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [Float] :lat Latitude. Must be provided together with &#x60;lon&#x60;.
    # @option opts [Float] :lon Longitude. Must be provided together with &#x60;lat&#x60;.
    # @option opts [String] :offset Fixed UTC offset in &#x60;+HH:MM&#x60; or &#x60;-HH:MM&#x60; format. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [Boolean] :auto_tz Set to &#x60;true&#x60; to resolve using the caller IP from Cloudflare headers.
    # @option opts [String] :format Custom date/time format template using supported &#x60;strftime&#x60;-style directives such as &#x60;%Y-%m-%d %H:%M:%S&#x60;. Reference: [strftime](https://strftime.net/).
    # @option opts [Boolean] :sign Set to exactly &#x60;true&#x60; to ask the gateway to sign the final JSON response. Every authenticated JSON response, including errors, then includes signing headers. Not supported on &#x60;/v1/time/clock&#x60;.
    # @return [GetCurrentTime200Response]
    def get_current_time(opts = {})
      data, _status_code, _headers = get_current_time_with_http_info(opts)
      data
    end

    # Get the current time for a target
    # Returns current time data for a single target, or a bulk array when exactly one of &#x60;tz&#x60;, &#x60;ip&#x60;, or &#x60;offset&#x60; is supplied as a comma-separated list.  Target selector rules: - Use at most one selector family per request: &#x60;tz&#x60;, &#x60;ip&#x60;, &#x60;lat&#x60; + &#x60;lon&#x60;, &#x60;offset&#x60;, or &#x60;auto_tz&#x3D;true&#x60;. - If no selector is provided, the response defaults to UTC with &#x60;timezone&#x3D;null&#x60; and &#x60;iso_local&#x3D;null&#x60;. - Bulk mode is available only through one comma-separated &#x60;tz&#x60;, &#x60;ip&#x60;, or &#x60;offset&#x60; selector and cannot be combined with any other selector.  Example: - Single target: &#x60;/v1/time/current?tz&#x3D;America/New_York&#x60; - For bulk, provide one comma-separated &#x60;tz&#x60;, &#x60;ip&#x60;, or &#x60;offset&#x60; value, for example &#x60;/v1/time/current?tz&#x3D;America/New_York,Europe/London,Asia/Tokyo&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tz IANA timezone name. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [String] :ip IP address. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [Float] :lat Latitude. Must be provided together with &#x60;lon&#x60;.
    # @option opts [Float] :lon Longitude. Must be provided together with &#x60;lat&#x60;.
    # @option opts [String] :offset Fixed UTC offset in &#x60;+HH:MM&#x60; or &#x60;-HH:MM&#x60; format. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [Boolean] :auto_tz Set to &#x60;true&#x60; to resolve using the caller IP from Cloudflare headers.
    # @option opts [String] :format Custom date/time format template using supported &#x60;strftime&#x60;-style directives such as &#x60;%Y-%m-%d %H:%M:%S&#x60;. Reference: [strftime](https://strftime.net/).
    # @option opts [Boolean] :sign Set to exactly &#x60;true&#x60; to ask the gateway to sign the final JSON response. Every authenticated JSON response, including errors, then includes signing headers. Not supported on &#x60;/v1/time/clock&#x60;.
    # @return [Array<(GetCurrentTime200Response, Integer, Hash)>] GetCurrentTime200Response data, response status code and response headers
    def get_current_time_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeApi.get_current_time ...'
      end
      if @api_client.config.client_side_validation && !opts[:'tz'].nil? && opts[:'tz'].to_s.length > 64
        fail ArgumentError, 'invalid value for "opts[:"tz"]" when calling TimeApi.get_current_time, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && !opts[:'lat'].nil? && opts[:'lat'] > 90
        fail ArgumentError, 'invalid value for "opts[:"lat"]" when calling TimeApi.get_current_time, must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && !opts[:'lat'].nil? && opts[:'lat'] < -90
        fail ArgumentError, 'invalid value for "opts[:"lat"]" when calling TimeApi.get_current_time, must be greater than or equal to -90.'
      end

      if @api_client.config.client_side_validation && !opts[:'lon'].nil? && opts[:'lon'] > 180
        fail ArgumentError, 'invalid value for "opts[:"lon"]" when calling TimeApi.get_current_time, must be smaller than or equal to 180.'
      end

      if @api_client.config.client_side_validation && !opts[:'lon'].nil? && opts[:'lon'] < -180
        fail ArgumentError, 'invalid value for "opts[:"lon"]" when calling TimeApi.get_current_time, must be greater than or equal to -180.'
      end

      pattern = Regexp.new(/^[+-](0\d|1\d|2[0-3]):[0-5]\d$/)
      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"offset\"]' when calling TimeApi.get_current_time, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/v1/time/current'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tz'] = opts[:'tz'] if !opts[:'tz'].nil?
      query_params[:'ip'] = opts[:'ip'] if !opts[:'ip'].nil?
      query_params[:'lat'] = opts[:'lat'] if !opts[:'lat'].nil?
      query_params[:'lon'] = opts[:'lon'] if !opts[:'lon'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'auto_tz'] = opts[:'auto_tz'] if !opts[:'auto_tz'].nil?
      query_params[:'format'] = opts[:'format'] if !opts[:'format'].nil?
      query_params[:'sign'] = opts[:'sign'] if !opts[:'sign'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCurrentTime200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['directApiKeyHeader', 'directBearerAuth', 'directApiKeyQuery', 'rapidApiKey', 'rapidApiHost']

      new_options = opts.merge(
        :operation => :"TimeApi.get_current_time",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeApi#get_current_time\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Daylight-saving status for a target
    # Returns daylight-saving status for the selected target.  Target selector rules: - Use at most one selector family: `tz`, `ip`, `lat` + `lon`, `offset`, or `auto_tz=true`. - If no selector is provided, the response defaults to UTC. - Bulk is not supported on this route. - `next=true` adds `next_transition` when the resolver provides a transition timestamp.  Example: - `/v1/time/dst?tz=America/New_York&next=true`
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tz IANA timezone name. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [String] :ip IP address. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [Float] :lat Latitude. Must be provided together with &#x60;lon&#x60;.
    # @option opts [Float] :lon Longitude. Must be provided together with &#x60;lat&#x60;.
    # @option opts [String] :offset Fixed UTC offset in &#x60;+HH:MM&#x60; or &#x60;-HH:MM&#x60; format. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [Boolean] :auto_tz Set to &#x60;true&#x60; to resolve using the caller IP from Cloudflare headers.
    # @option opts [String] :format Custom date/time format template using supported &#x60;strftime&#x60;-style directives such as &#x60;%Y-%m-%d %H:%M:%S&#x60;. Reference: [strftime](https://strftime.net/).
    # @option opts [Boolean] :_next 
    # @option opts [Boolean] :sign Set to exactly &#x60;true&#x60; to ask the gateway to sign the final JSON response. Every authenticated JSON response, including errors, then includes signing headers. Not supported on &#x60;/v1/time/clock&#x60;.
    # @return [DstResponse]
    def get_dst(opts = {})
      data, _status_code, _headers = get_dst_with_http_info(opts)
      data
    end

    # Daylight-saving status for a target
    # Returns daylight-saving status for the selected target.  Target selector rules: - Use at most one selector family: &#x60;tz&#x60;, &#x60;ip&#x60;, &#x60;lat&#x60; + &#x60;lon&#x60;, &#x60;offset&#x60;, or &#x60;auto_tz&#x3D;true&#x60;. - If no selector is provided, the response defaults to UTC. - Bulk is not supported on this route. - &#x60;next&#x3D;true&#x60; adds &#x60;next_transition&#x60; when the resolver provides a transition timestamp.  Example: - &#x60;/v1/time/dst?tz&#x3D;America/New_York&amp;next&#x3D;true&#x60;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tz IANA timezone name. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [String] :ip IP address. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [Float] :lat Latitude. Must be provided together with &#x60;lon&#x60;.
    # @option opts [Float] :lon Longitude. Must be provided together with &#x60;lat&#x60;.
    # @option opts [String] :offset Fixed UTC offset in &#x60;+HH:MM&#x60; or &#x60;-HH:MM&#x60; format. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [Boolean] :auto_tz Set to &#x60;true&#x60; to resolve using the caller IP from Cloudflare headers.
    # @option opts [String] :format Custom date/time format template using supported &#x60;strftime&#x60;-style directives such as &#x60;%Y-%m-%d %H:%M:%S&#x60;. Reference: [strftime](https://strftime.net/).
    # @option opts [Boolean] :_next 
    # @option opts [Boolean] :sign Set to exactly &#x60;true&#x60; to ask the gateway to sign the final JSON response. Every authenticated JSON response, including errors, then includes signing headers. Not supported on &#x60;/v1/time/clock&#x60;.
    # @return [Array<(DstResponse, Integer, Hash)>] DstResponse data, response status code and response headers
    def get_dst_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeApi.get_dst ...'
      end
      if @api_client.config.client_side_validation && !opts[:'tz'].nil? && opts[:'tz'].to_s.length > 64
        fail ArgumentError, 'invalid value for "opts[:"tz"]" when calling TimeApi.get_dst, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && !opts[:'lat'].nil? && opts[:'lat'] > 90
        fail ArgumentError, 'invalid value for "opts[:"lat"]" when calling TimeApi.get_dst, must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && !opts[:'lat'].nil? && opts[:'lat'] < -90
        fail ArgumentError, 'invalid value for "opts[:"lat"]" when calling TimeApi.get_dst, must be greater than or equal to -90.'
      end

      if @api_client.config.client_side_validation && !opts[:'lon'].nil? && opts[:'lon'] > 180
        fail ArgumentError, 'invalid value for "opts[:"lon"]" when calling TimeApi.get_dst, must be smaller than or equal to 180.'
      end

      if @api_client.config.client_side_validation && !opts[:'lon'].nil? && opts[:'lon'] < -180
        fail ArgumentError, 'invalid value for "opts[:"lon"]" when calling TimeApi.get_dst, must be greater than or equal to -180.'
      end

      pattern = Regexp.new(/^[+-](0\d|1\d|2[0-3]):[0-5]\d$/)
      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"offset\"]' when calling TimeApi.get_dst, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/v1/time/dst'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tz'] = opts[:'tz'] if !opts[:'tz'].nil?
      query_params[:'ip'] = opts[:'ip'] if !opts[:'ip'].nil?
      query_params[:'lat'] = opts[:'lat'] if !opts[:'lat'].nil?
      query_params[:'lon'] = opts[:'lon'] if !opts[:'lon'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'auto_tz'] = opts[:'auto_tz'] if !opts[:'auto_tz'].nil?
      query_params[:'format'] = opts[:'format'] if !opts[:'format'].nil?
      query_params[:'next'] = opts[:'_next'] if !opts[:'_next'].nil?
      query_params[:'sign'] = opts[:'sign'] if !opts[:'sign'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DstResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['directApiKeyHeader', 'directBearerAuth', 'directApiKeyQuery', 'rapidApiKey', 'rapidApiHost']

      new_options = opts.merge(
        :operation => :"TimeApi.get_dst",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeApi#get_dst\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Time elapsed since or remaining until a reference instant
    # Computes elapsed or remaining duration relative to one required reference timestamp.  Reference timestamp forms: - `unix=1711300000` - `unix_ms=1711300000000` - `iso=2026-04-16T09:00:00Z` - `iso=2026-04-16T09:00:00&source_tz=America/New_York` - `iso=2026-04-16T09:00:00&source_ip=8.8.8.8` - `iso=2026-04-16T09:00:00&source_lat=40.7128&source_lon=-74.0060` - `iso=2026-04-16T09:00:00&source_offset=-05:00`  Compare timestamp forms: - `compare_unix=1711213600` - `compare_unix_ms=1711213600000` - `compare_iso=2026-04-16T09:00:00Z` - `compare_iso=2026-04-16T09:00:00&compare_source_tz=Europe/London` - `compare_iso=2026-04-16T09:00:00&compare_source_ip=8.8.8.8` - `compare_iso=2026-04-16T09:00:00&compare_source_lat=40.7128&compare_source_lon=-74.0060` - `compare_iso=2026-04-16T09:00:00&compare_source_offset=-05:00`  Compare selector forms: - `tz=America/New_York` - `ip=8.8.8.8` - `lat=40.7128&lon=-74.0060` - `offset=-04:00` - `auto_tz=true`  Incompatible combinations: - exactly one reference timestamp form - use either one compare timestamp form or one compare selector family, not both - use at most one of `source_tz`, `source_ip`, `source_lat`/`source_lon`, or `source_offset` - use at most one of `compare_source_tz`, `compare_source_ip`, `compare_source_lat`/`compare_source_lon`, or `compare_source_offset` - local-ISO companion selectors are valid only with `iso=...` that has no explicit offset - compare local-ISO companion selectors are valid only with `compare_iso=...` that has no explicit offset - if no compare input is provided, the comparison defaults to the request time  Business-day rules: - `holiday_country` and `holiday_subdivision` require `business_days=true` - `holiday_subdivision` also requires `holiday_country`  Examples: - Timestamp-to-timestamp: `/v1/time/elapsed?iso=2026-04-16T09:00:00&source_tz=America/New_York&compare_iso=2026-04-16T09:00:00&compare_source_tz=Europe/London` - Timestamp-to-selector: `/v1/time/elapsed?unix=1711300000&tz=America/New_York&business_days=true` 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :unix 
    # @option opts [Integer] :unix_ms 
    # @option opts [String] :iso ISO-8601 timestamp. To supply a local wall-clock time without an explicit offset, pair it with one of &#x60;source_tz&#x3D;Area/City&#x60;, &#x60;source_ip&#x3D;...&#x60;, &#x60;source_lat&#x3D;...&amp;source_lon&#x3D;...&#x60;, or &#x60;source_offset&#x3D;±HH:MM&#x60;.
    # @option opts [String] :source_tz Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset.
    # @option opts [String] :source_ip Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Resolves that local wall-clock time through the timezone mapped from this IP address.
    # @option opts [Float] :source_lat Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lon&#x60; to resolve that local wall-clock time through the timezone mapped from these coordinates.
    # @option opts [Float] :source_lon Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;source_lat&#x60;.
    # @option opts [String] :source_offset Used only with &#x60;iso&#x3D;...&#x60; when the ISO value has no explicit offset. Interprets that local wall-clock time at this fixed UTC offset.
    # @option opts [Integer] :compare_unix 
    # @option opts [Integer] :compare_unix_ms 
    # @option opts [String] :compare_iso ISO-8601 comparison timestamp. To supply a local wall-clock time without an explicit offset, pair it with one of &#x60;compare_source_tz&#x3D;Area/City&#x60;, &#x60;compare_source_ip&#x3D;...&#x60;, &#x60;compare_source_lat&#x3D;...&amp;compare_source_lon&#x3D;...&#x60;, or &#x60;compare_source_offset&#x3D;±HH:MM&#x60;.
    # @option opts [String] :compare_source_tz Used only with &#x60;compare_iso&#x3D;...&#x60; when the ISO value has no explicit offset.
    # @option opts [String] :compare_source_ip Used only with &#x60;compare_iso&#x3D;...&#x60; when the ISO value has no explicit offset. Resolves that local wall-clock time through the timezone mapped from this IP address.
    # @option opts [Float] :compare_source_lat Used only with &#x60;compare_iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;compare_source_lon&#x60; to resolve that local wall-clock time through the timezone mapped from these coordinates.
    # @option opts [Float] :compare_source_lon Used only with &#x60;compare_iso&#x3D;...&#x60; when the ISO value has no explicit offset. Provide together with &#x60;compare_source_lat&#x60;.
    # @option opts [String] :compare_source_offset Used only with &#x60;compare_iso&#x3D;...&#x60; when the ISO value has no explicit offset. Interprets that local wall-clock time at this fixed UTC offset.
    # @option opts [String] :tz IANA timezone name. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [String] :ip IP address. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [Float] :lat Latitude. Must be provided together with &#x60;lon&#x60;.
    # @option opts [Float] :lon Longitude. Must be provided together with &#x60;lat&#x60;.
    # @option opts [String] :offset Fixed UTC offset in &#x60;+HH:MM&#x60; or &#x60;-HH:MM&#x60; format. On bulk-capable routes, a comma-separated list enables bulk mode.
    # @option opts [Boolean] :auto_tz Set to &#x60;true&#x60; to resolve using the caller IP from Cloudflare headers.
    # @option opts [String] :format Custom duration format template using &#x60;%days&#x60;, &#x60;%hours&#x60;, &#x60;%minutes&#x60;, and &#x60;%seconds&#x60;.
    # @option opts [Boolean] :business_days Set to &#x60;true&#x60; to enable weekday/business-day counting.
    # @option opts [String] :holiday_country ISO 3166-1 alpha-2 holiday calendar country code. Requires &#x60;business_days&#x3D;true&#x60;.
    # @option opts [String] :holiday_subdivision Holiday calendar subdivision code from the upstream &#x60;python-holidays&#x60; calendar, for example &#x60;CA&#x60; or &#x60;ENG&#x60;. Requires &#x60;holiday_country&#x60; and &#x60;business_days&#x3D;true&#x60;.
    # @option opts [Boolean] :sign Set to exactly &#x60;true&#x60; to ask the gateway to sign the final JSON response. Every authenticated JSON response, including errors, then includes signing headers. Not supported on &#x60;/v1/time/clock&#x60;.
    # @return [ElapsedResponse]
    def get_elapsed(opts = {})
      data, _status_code, _headers = get_elapsed_with_http_info(opts)
      data
    end

    # Time elapsed since or remaining until a reference instant
[...]
